﻿@using Pipular.Models;
@using System.Globalization;
@model List<balance>

@{
    ViewBag.Title = "Balance";
}

<h2>Your balance</h2>

<p>
<b>Total: @Model.Sum(m => m.summa).ToString("C2", new CultureInfo("en-US"))</b>
&nbsp;&nbsp;&nbsp;&nbsp;
@Ajax.ActionLink("Fill up", "FillUpBalance", "Private", Pipular.Constants.additAjaxOptions)&nbsp;|&nbsp;
Withdraw
</p>

<table id="balances" class="table">
    <thead>
        <tr>
            <th class="first">
                <span class="caption border_left">Type<i></i></span>
            </th>
            <th>
                <span class="caption">Sum<i></i></span>
            </th>
            <th>
                <span class="caption">Comment<i></i></span>
            </th>
            <th>
                <span class="caption border_right">Date<i></i></span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (balance b in Model)
        {
            <tr>
                <td class="">
                    <div>
                        @if (b.type == 0)
                        { <text> Fill up </text> }
                        @if (b.type == 1)
                        { <text> Draw </text> }
                        @if (b.type == 2)
                        { <text> For system </text> @b.system }
                    </div>
                </td>
                <td>
                    @b.summa.ToString("C2", new CultureInfo("en-US"))
                </td>
                <td>
                    @b.comment
                </td>
                <td class="">
                    <div>@b.dt_create</div>
                </td>
            </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#balances").tablesorter({
            cssHeader: 'table_header',
            widgets: ['zebra'],
            textExtraction: 'complex'
        });
    });
</script>