﻿@{
    ViewBag.Title = "Confirmation notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation notice</h2>

<center>
@Html.Raw(ViewBag.Message)
@using (Html.BeginForm("SendConfEmail", "Account"))
{
    <input type="hidden" name="uid" value="@Request["uid"]" />
    <input id="send" type="submit" value="@ViewBag.Button"/>
}
<br />
<span id="timer"></span>
</center>

<script type="text/javascript">
    var limit = @ViewBag.Delay; // в секундах
    
    window.onload = processTimer();
    
    function processTimer()
    {
        if (limit > 0)
        {
            setTimeout("processTimer()",1000);
            document.getElementById('send').disabled = true;
            limit--;  
            var limit_div = parseInt(limit/60);
            var limit_mod = limit - limit_div*60; 
            
            limit_str = "@ViewBag.Remain" + ":&nbsp;&nbsp;";
            if (limit_div < 10) limit_str = limit_str + "0";
            limit_str = limit_str + limit_div + ":";
            if (limit_mod < 10) limit_str = limit_str + "0";
            limit_str = limit_str + limit_mod + "&nbsp;&nbsp;";      
            
            el_timer = document.getElementById("timer");
            if (el_timer) el_timer.innerHTML = limit_str;         
        } 
        else 
        {
            document.getElementById('send').disabled = false;
        } 
   }
</script>