﻿@using Pipular;
@model Pipular.Models.LogOnModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="logon">
    @using (Html.BeginForm("LogOn", "Account"))
    { 
        <div class="field">@Html.TextBoxFor(m => m.LoginOrEmail)</div>
        <div>@Html.ValidationMessageFor(m => m.LoginOrEmail)</div>
        <div class="field">@Html.PasswordFor(m => m.Password)</div>
        <div>@Html.ValidationMessageFor(m => m.Password)</div>
        <input type="hidden" name="Instant" value="true" />
        <input type="hidden" name="UpdateUrl" value="~/Views/Private/Dashboard.cshtml" />
        <span>
            @Html.CheckBoxLabel(m => m.RememberMe)
        </span>
        <span>
            <input type="submit" value="Log in" />
        </span>
    }
</div>

