﻿@using Pipular;
@model Pipular.Models.LogOnModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "The login failed. Correct the error and try again.")

<div id="logon">
    @using (Ajax.BeginForm(Pipular.Constants.additAjaxOptions))
    { 
        <div class="editor-label">
            @Html.LabelFor(m => m.LoginOrEmail)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.LoginOrEmail)
            @Html.ValidationMessageFor(m => m.LoginOrEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="editor-label">
            @Html.CheckBoxLabel(m => m.RememberMe)
        </div>

        <div class="editor-label">
            <p>
                <input type="submit" value="Log in" />
            </p>
            @Ajax.ActionLink("Registration", "Register", Constants.additAjaxOptions)
        </div>
    }
</div>

