﻿@using Pipular;
@model Pipular.Models.AdditionRegisterModel

@{
    Layout = "~/Views/Shared/_AdditLayout.cshtml";
}

@section AdditHeader {
    <span><b>Registration</b></span>
    (<a onclick="closeAddit()">cancel</a>)
}
<script src="@Url.Content("~/Scripts/Validation/EqualAttribute.js")" type="text/javascript"></script>

<div id="Registration">
@using (Ajax.BeginForm(Constants.additAjaxOptions)) {
    @Html.ValidationSummary(true, "Can't to register new user. Please, correct errors and try again.")
    <table>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Login)
            </td>
            <td class="editor-field">
                @Html.TextBoxFor(m => m.Login)
                @Html.ValidationMessageFor(m => m.Login)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Email)
            </td>
            <td class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.FIO)
            </td>
            <td class="editor-field">
                @Html.TextBoxFor(m => m.FIO)
                @Html.ValidationMessageFor(m => m.FIO)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Password)
            </td>
            <td class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </td>
            <td class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </td>
        </tr>
    </table>
    <div>Additional info (@Html.Expander("others"))</div> 
    <table id="others">
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Foto)
            </td>
            <td class="editor-field">
                @Html.TextBoxFor(m => m.Foto)
                @Html.ValidationMessageFor(m => m.Foto)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Phone)
            </td>
            <td class="editor-field">
                @Html.TextBoxFor(m => m.Phone)
                @Html.ValidationMessageFor(m => m.Phone)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Addr)
            </td>
            <td class="editor-field">
                @Html.TextBoxFor(m => m.Addr)
                @Html.ValidationMessageFor(m => m.Addr)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.ICQ)
            </td>
            <td class="editor-field">
                @Html.TextBoxFor(m => m.ICQ)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Skype)
            </td>
            <td class="editor-field">
                @Html.TextBoxFor(m => m.Skype)
                @Html.ValidationMessageFor(m => m.Skype)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Experience)
            </td>
            <td>
                @Html.DropDownList("Experience", (List<SelectListItem>)ViewData["ExperienceList"], "Select value...")
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Trade_type)
            </td>
            <td class="editor-field">
                <input type="checkbox" name="Trade_type" id="automated" value="1" />
                <label for="automated">Automated</label><br />
                <input type="checkbox" name="Trade_type" id="semiautomated" value="2" />
                <label for="semiautomated">Semi automated</label><br />
                <input type="checkbox" name="Trade_type" id="manual" value="4" />
                <label for="manual">Manual</label>
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Trade_style)
            </td>
            <td class="editor-field">
                <input type="checkbox" name="Trade_style" id="scalping" value="1" />
                <label for="scalping">Scalping</label><br />
                <input type="checkbox" name="Trade_style" id="swing" value="2" />
                <label for="swing">Swing</label><br />
                <input type="checkbox" name="Trade_style" id="newstrading" value="4" />
                <label for="newstrading">News trading</label>
            </td>

        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Trade_markets)
            </td>
            <td class="editor-field">
                <input type="checkbox" name="Trade_markets" id="forex" value="1" />
                <label for="forex">Forex</label><br />
                <input type="checkbox" name="Trade_markets" id="futures" value="2" />
                <label for="futures">Futures</label><br />
                <input type="checkbox" name="Trade_markets" id="cfds" value="4" />
                <label for="cfds">CFDs</label><br />
                <input type="checkbox" name="Trade_markets" id="metal" value="8" />
                <label for="metal">Metal</label><br />
                <input type="checkbox" name="Trade_markets" id="stocks" value="16" />
                <label for="stocks">Stocks</label>
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Trade_sessions)
            </td>
            <td class="editor-field">
                <input type="checkbox" name="Trade_sessions" id="asian" value="1" />
                <label for="asian">Asian</label><br />
            <input type="checkbox" name="Trade_sessions" id="us" value="2" />
                <label for="us">US</label><br />
            <input type="checkbox" name="Trade_sessions" id="european" value="4" />
                <label for="european">Europen</label><br />
            <input type="checkbox" name="Trade_sessions" id="uk" value="8" />
                <label for="uk">UK</label>
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(m => m.Desc)
            </td>
            <td class="editor-field">
                @Html.TextAreaFor(m => m.Desc, 5, 20, null)
            </td>
        </tr>
    </table>
    <p class="submit">
        <input type="submit" value="Register" />
    </p>
}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#Registration .expander').expander({ closed : true });
    });
</script>