﻿@using Pipular.Models;

@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "User panel";
}

<link href="../../Content/UserPanel.css" rel="stylesheet" />
<script src="../../Scripts/jquery.ui.core.min.js"></script>
<script src="../../Scripts/jquery.tablesorter.min.js"></script>
<script src="../../Scripts/jquery.tablesorter.pager.js"></script>

<div id="UserPanel" class="notebook_panel">
    <div class="notebook">
        <div class="tab selected" data-id="#summary">Summary</div>
        <div class="tab" data-id="#profile">Profile</div>
        <div class="tab" data-id="#balance">Balance</div>
        <div id="logOff">
            <a href="@Url.Action("LogOff", "Account")">
                <button>LogOff</button>
            </a>
        </div>
    </div>
    <div class="dark_divider"></div>
    <div class="white_divider"></div>
    <div class="content">
        <div class="tab_panel current" id="summary">
            <h2>Hello @Request.Cookies["UserData"]["login"]</h2>
            coming soon
        </div>
        <div class="tab_panel" id="profile">
           coming soon
        </div>
        <div class="tab_panel" id="balance">
            @Html.Partial("BalancePanel", (List<balance>)ViewBag.Balance)
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#UserPanel').notebook();
    });
</script>



