﻿@{
    ViewBag.Title = "Payoneer US Payment Service Approval";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div id="approval">
    <h2>Payoneer US Payment Service Approval</h2>
    <fieldset>
        <legend>Personal info</legend>
        <p>
            Kurbatov Denis<br />
            Last 4 numbers of card <b>8262</b><br />
            Security answer <b>markiza</b>
        </p>
    </fieldset>
</div>


