﻿@using Pipular.Models;
@model BrokerRequestModel

@using(Ajax.BeginForm(new AjaxOptions(){ UpdateTargetId = "broker_form"}))
{
    <div>
        <div>My name is</div>
        <div class="edit_icon">
            <div class="miniIcon user_icon"></div>
            @Html.TextBoxFor(model => model.Name, new { data_id = "name" })
        </div>
        @Html.ValidationMessageFor(model => model.Name)
        <div>I work at</div>
        <div class="edit_icon">
            <div class="miniIcon home_icon"></div>
            @Html.TextBoxFor(model => model.BrokerName, new { data_id = "broker_name" })
        </div>
        @Html.ValidationMessageFor(model => model.BrokerName)
    </div>
    <div>
        <div>we would like to have our own social trading community,</div>
    </div>
    <div>
        <div>please contact me at</div>
        <div class="edit_icon">
            <div class="miniIcon email_icon"></div>
            @Html.TextBoxFor(model => model.Email, new { data_id = "email" })
        </div>
        @Html.ValidationMessageFor(model => model.Email)
        <div>or</div>
        <div class="edit_icon">
            <div class="miniIcon phone_icon"></div>
            @Html.TextBoxFor(model => model.Phone, new { data_id = "phone" })
        </div>
        @Html.ValidationMessageFor(model => model.Phone)
    </div>

    <input type="submit" value="Submit" />
}

<script type="text/javascript">
    $(function () {
        $('[data-id=name]').watermark('Full name');
        $('[data-id=broker_name]').watermark('Broker name');
        $('[data-id=email]').watermark('E-mail adress');
        $('[data-id=phone]').watermark('Phone');

        $('.edit_icon').each(function () {
            var block = $(this);
            var textbox = block.children('input');
            var icon = block.children('.miniIcon');
            textbox.focus(function () {
                block.addClass('active');
                icon.css('background-position-x', '-45px')
            });

            textbox.blur(function () {
                if (textbox.val().length == 0) {
                    block.removeClass('active');
                    icon.css('background-position-x', '-75px')
                }
            });
        });
    })
</script>