﻿@using Pipular;
@using Pipular.Models;
@model ContestModel

@{
    string term, kind;
    Contests.GetTerms(Model.type, out term, out kind);
}

<div class="contest_contaner contaner" id="@Model.nmbr">
    <div class="header"></div>
    <div class="content">
        <div class="leader odd" title="current leader">
            @if (Model.leader_name != null)
            {
                <span class="left">Leader:&nbsp;@Ajax.ActionLink(Model.leader_name, "SystemDetails", "Home", new { id = Model.leader }, Pipular.Constants.additAjaxOptions)</span>
                <span class="right @if(Model.value >= 0){<text>text_green</text>}else{<text>text_red</text>}">@Model.value @kind</span>
                <div class="clear"></div>
            }
            else {<text>Leader:&nbsp;no leader yet</text>}
        </div>
        <div class="block">
            <div class="term">
                <span class="term">@term</span> will win 
            </div>
            <div class="prize text_green">$&nbsp;@Model.prize</div>
        </div>
        <div class="terms">for @Html.GetPeriod(Model.dt_begin, Model.dt_end)</div>
        <div class="time">
            <div class="start">@Model.dt_begin.DateToUnix()</div>
            <div class="end">@Model.dt_end.DateToUnix()</div>
            <div class="message"></div>
            <div class="countdown"></div>
        </div>
        <div class="details">
            <div class="start_contest">
                <span class="icon"><i class="icon-calendar-dark"></i></span>
                Start: @Model.dt_begin.ToLongDateString() @Model.dt_begin.ToShortTimeString()</div>
            <div class="stop_contest">
                <span class="icon"><i class="icon-calendar-white"></i></span>
                Stop: @Model.dt_end.ToLongDateString() @Model.dt_end.ToShortTimeString()
            </div>
            <div class="desc">@Model.desc</div>
        </div>
    </div>
</div>