﻿@using Pipular;
@using Pipular.Models;
@model ContestModel

@{
    string term, kind;
    Contests.GetTerms(Model.type, out term, out kind);
}

<div class="contest_contaner contaner @if (Model.leader != null){<text>positive</text>}
                             else
                             {<text>negative</text>}" id="@Model.nmbr">
    <div class="header"></div>
    <div class="content">
        <div class="winner">
            @if (Model.leader_name != null)
            {
                <span>@Ajax.ActionLink(Model.leader_name, "SystemDetails", "Home", new { id = Model.leader }, Pipular.Constants.additAjaxOptions)</span>
                <span class="term" title="@Model.value @kind">with @term won</span>
            }
            else
            {
                <span>We have no winner</span>
            }
        </div>
        <div class="prize text_green"><b>$&nbsp;@Model.prize</b></div>
        <div class="terms">
            <span>for @Html.GetPeriod(Model.dt_begin, Model.dt_end)</span>
        </div>
        <div class="details">
            <div class="start_contest">
                <span class="icon"><i class="icon-calendar-dark"></i></span>
                Start: @Model.dt_begin.ToLongDateString() @Model.dt_begin.ToShortTimeString()</div>
            <div class="stop_contest">
                <span class="icon"><i class="icon-calendar-white"></i></span>
                Stop: @Model.dt_end.ToLongDateString() @Model.dt_end.ToShortTimeString()</div>
            <div class="desc">@Model.desc</div>
        </div>
    </div>
</div>