﻿@using Pipular;
@using Pipular.Models;
@model List<ContestModel>

<script src="@Url.Content("~/Scripts/jquery.countdown.js")" type="text/javascript"></script>

@if (Model.Count > 0)
{
    foreach (contest con in Model)
    {
        if(con.dt_end <= DateTime.Now){ @Html.Partial("ContestWinner", con) }
        else { @Html.Partial("Contest", con) }
    }
}
else
{
    <span>no contests</span>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#contests').find('.contest_contaner').each(function (i) {
            var contaner = $(this);
            var countDown = $(contaner).find('.countdown');

            var now = getTime();
            var nowServer = parseInt('@DateTime.Now.DateToUnix()');
            var span = now - nowServer * 1000;
            var start = parseInt($(contaner).find('.start').text()) * 1000 + span;
            var end = parseInt($(contaner).find('.end').text()) * 1000 + span;
            var ts = start;
            var cl = 'static';

            if (now < ts) {
                $(contaner).find('.message').text('Left before the start');
            }
            else {
                if ((end - now) < 3600000) cl = 'text_red';
                else cl = 'text_green';
                $(contaner).find('.message').text('Left before the stop');
                ts = end;
            }

            $(countDown).countdown({
                timestamp: new Date(ts),
                cl: cl,
                callback: function (days, hours, minutes, seconds) {
                    if (days == 0 && hours == 0 && minutes == 0 && seconds == 0) {
                        var id = $(contaner).attr('id');
                        $.ajax({
                            cache: false,
                            url: 'GetWinner/' + id,
                            beforeSend: function () {
                                $(contaner).html('<div class="circle_loader"></div>');
                            },
                            success: function (result) {
                                $(contaner).hide().replaceWith(result).fadeOut(500);
                            }
                        });
                    }
                }
            });

            $(contaner).find('.terms').click(function () {
                if ($(contaner).find('.details').css('display') == 'none') $(contaner).find('.details').slideDown(500);
                else $(contaner).find('.details').slideUp(500);
            });
        });
    });
</script>