﻿@using Pipular;
@model Pipular.Models.user

<div class="follower @if(ViewBag.i % 2 == 1){<text>odd</text>}">
    <div class="trader_photo left"><a href="@Href("~/Home/TraderDetails/" + Model.login)" target="_blank"><img src="@Model.photo" alt="@Model.login" /></a></div>
    <div class="info left">
        <div class="fio"><a href="@Href("~/Home/TraderDetails/" + Model.login)" target="_blank">@Model.fio</a></div>
        <div class="experience">
            @if(Model.experience > 0)
            {
                <div class="experience" title="@if(Model.trade_style > 0){<text>Style:@UserInfo.GetStyle(Model.trade_style)</text>}">Experience @UserInfo.GetExperience(Model.experience) in @UserInfo.GetMarket(Model.trade_markets)</div>
            } 
        </div>
    </div>
    <div class="clear"></div>
</div>