﻿@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PreContent {
    <div class="white_line"></div>
    <div class="black_line"></div>

    <div id="hello" class="Content_wrapper">
        <div class="texts left">
            <div id="text1">It’s not Social Trading; it’s not a MAM, or Contest System…</div>
            <div id="text2">It’s all the above, and more!</div>
            <div id="tesis1" class="tesis">
                <div class="miniIcon shuffle_icon"></div>
                Interchange signals between MT4 and MT5, seamlessly!
            </div>
            <div id="tesis2" class="tesis">
                <div class="miniIcon coins_icon"></div>
                Traders can charge 4 different types of performance fees.
            </div>
            <div id="tesis3" class="tesis">
                <div class="miniIcon check_icon"></div>
                Investors are always in charge of their investments.
            </div>
            <div id="tesis4" class="tesis">
                <div class="miniIcon case_icon"></div>
                Brokers can own it all!
            </div>
        </div>
        <div class="right">
            @Html.Partial("SignUp")
        </div>
        <div class="clear"></div>
    </div>
}

@section Presentation {
    <img src="@Url.Content("~/Content/images/Homepage.png")" alt="Homepage" />
}

<div id="vista">
    <table>
        <tr class="table_top">
            <td>
                <div>
                    <div class="Icon mens"></div>
                </div>
            </td>
            <td class="vertical top_gradient">
                <div>
                    <div class="Icon money"></div>
                </div>
            </td>
            <td>
                <div>
                    <div class="Icon build"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="Caption">Traders</div>
            </td>
            <td class="vertical">
                <div class="Caption">Investors</div>
            </td>
            <td>
                <div class="Caption">Brokers</div>
            </td>
        </tr>
        <tr class="top_text">
            <td>
                <div class="Desc">Fusce non nisl augue,  vel iaculis felis.</div>
            </td>
            <td class="vertical">
                <div class="Desc">Mauris tincidunt diam ut  purus euismod gravida.</div>
            </td>
            <td>
                <div class="Desc">Sed viverra arcu a purus aliquet  sed varius ante tincidunt.</div>
            </td>
        </tr>
        <tr class="empty">
            <td></td>
            <td class="vertical"></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="Icon lead"></div>
                </div>
            </td>
            <td class="vertical">
                <div>
                    <div class="Icon follow"></div>
                </div>
            </td>
            <td>
                <div>
                    <div class="Icon host"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="Caption">Lead</div>
            </td>
            <td class="vertical">
                <div class="Caption">Follow & Copy</div>
            </td>
            <td>
                <div class="Caption">Host</div>
            </td>
        </tr>
        <tr class="top_text">
            <td>
                <div class="Desc">Fusce non nisl augue,  vel iaculis felis.</div>
            </td>
            <td class="vertical">
                <div class="Desc">Mauris tincidunt diam ut  purus euismod gravida.</div>
            </td>
            <td>
                <div class="Desc">Sed viverra arcu a purus aliquet  sed varius ante tincidunt.</div>
            </td>
        </tr>
        <tr class="empty">
            <td></td>
            <td class="vertical"></td>
            <td></td>
        </tr>
        <tr>
            <td class="border_top">
                <div class="line_tesis">
                    <div class="Icon cart1 left"></div>
                    <div class="Desc text_left">Send signals to MT4 from MT5 or  vice versa.</div>
                </div>
            </td>
            <td class="vertical border_top">
                <div class="line_tesis">
                    <div class="Icon cart2 left"></div>
                    <div class="Desc text_left">Receive signals from MT4 to MT5  or vice versa.</div>
                </div>
            </td>
            <td class="border_top">
                <div class="line_tesis">
                    <div class="Icon tags left"></div>
                    <div class="Desc text_left">Fully branded social trading  solution in your name.</div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="vertical">
                <div class="line_tesis_right">
                    <div class="Icon rook right"></div>
                    <div class="Desc text_right">Create your multiple trading strategies.</div>
                </div>
            </td>
            <td class="horisontal">
                <div class="vertical line_tesis_right">
                    <div class="Icon return right"></div>
                    <div class="Desc text_right">View latest strategies and signals live on TradeStream.</div>
                </div>
            </td>
            <td class="vertical">
                <div class="line_tesis_right">
                    <div class="Icon lock right"></div>
                    <div class="Desc text_right">Exclusive access to users, strategies, and signals data.</div>
                </div>
            </td>
        </tr>
        <tr class="table_bottom">
            <td>
                <div class="line_tesis">
                    <div class="pound left">£</div>
                    <div class="dollar left">$</div>
                    <div class="euro left">€</div>
                    <div class="Desc text_left">Assign specific symbols  for each strategy.</div>
                </div>
            </td>
            <td class="vertical bottom_gradient">
                <div class="line_tesis">
                    <div class="Icon list left"></div>
                    <div class="Desc text_left">Detailed performance analysis  of each strategy. </div>
                </div>
            </td>
            <td>
                <div class="line_tesis">
                    <div class="Icon present left"></div>
                    <div class="Desc text_left">A complete solution for your  MAM needs.</div>
                </div>
            </td>
        </tr>
    </table>
</div>


@section Prefooter {
    <div id="Broker" class="Content_wrapper">
        <div id="youarebroker">
            <h1>Are you a broker?</h1><br />
            <h2>Get your own social trading community.</h2>
        </div>
        <div id="broker_form">
            @Html.Partial("BrokerForm")
        </div>
    </div>
}
