﻿@model Pipular.Models.TopInstrumentsModel

@{
    int sentiment = 0;
    if(Model.total_signals > 0)
    {
        sentiment = (int)Math.Round((decimal)Model.buys / Model.total_signals * 100);
    }
}
<div class="instrument_contaner case @if(Model.place % 2 ==1){<text>odd</text>}">
    <div class="place left">@Model.place.&nbsp;</div>
    <div class="symbol left"><b>@Model.symbol</b></div>
    <div class="total_signals right">@Model.signals signals</div>
    <div class="clear"></div>
    <div class="bar" title="sell @(100-sentiment)%">
        <div class="buy_bar" style="width: @sentiment%" title="buy @sentiment%"></div>
    </div>
</div>