﻿@using Pipular.Models;
@using System.Web.Script.Serialization;
@model LiveSystemModel

@{
    double profit = Math.Round(Model.data.profit + Model.data.loss, 2);
    double profit_pips = Math.Round(Model.data.profit_pip + Model.data.loss_pip, 1);
    string graph_id = "system" + Model.data.system + "_graph";
}
<div class="system_contaner" id="@Model.data.system">
    <div class="system_head header">
        <div class="caption left">@Ajax.ActionLink(Model.name, "SystemDetails", "Home", new { id = Model.data.system }, Pipular.Constants.additAjaxOptions)
        </div>
        <div class="header_button more_signals right">
            <div class="icon"><i class="icon-arrow-down"></i></div>
        </div>
    </div>
    <div class="system_results">
        <div class="system_graph"><canvas id="@graph_id" width="270" height="50"></canvas></div>
        <div class="system_profit left @if(profit > 0){<text>text_green</text>}
                                       else if (profit < 0)
                                       {<text>text_red</text>}"><b>@profit.ToString("F2")</b>&nbsp;(@profit_pips.ToString("F1"))</div>
        <div class="system_total_clients right">@Model.data.clients clients</div>
        <div class="clear"></div>
        <div class="system_total_trades left">@Model.data.trades trades</div>
        <div class="system_total_signals right">@Model.data.signals signals</div>
        <div class="clear"></div>
    </div>
    <div class="system_signals"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var data = $.parseJSON('@Html.Raw(Json.Encode(Model.profit))', true);
        drawMiniChart("@graph_id", data);
    });
</script>