﻿@using Pipular;
@using Pipular.Models;
@model LiveTradeSignal

<div class="signal_contaner contaner @Model.uid" id="@Model.nmbr">
    <div class="header"></div>
    <div class="content">
        <div class="trader_photo left">
            <a href="@Url.Action("TraderDetails", "Home", new { id = Model.trader })" target="_blank">
                <img alt="@Model.trader" title="@Model.trader" />
            </a>
        </div>
        <div class="left">
            <div class="order">
                <div class="type">@Model.trader&nbsp;@Model.signal_type</div>
                <div class="command">@Model.command</div>
                <div class="symbol">@Model.symbol</div>
                <div class="price">at @Model.price.ToString("F" + Model.digits)</div>
            </div>
            <div class="system">@Ajax.ActionLink(Model.system, "SystemDetails", "Home", new { id = Model.system_id }, Pipular.Constants.additAjaxOptions)
            </div>
        </div>
        <div class="extension right">
            <div class="profit @if (Model.profit < 0) {<text>text_orange</text>}else{<text>text_green</text>}">@Model.profit_str</div>
            <div class="sl" title="stop text_red">@Model.sl_str</div>
            <div class="tp" title="take text_green">@Model.tp_str</div>
        </div>
        <div class="clear"></div>
        <div class="copy_follow">
            @using (Ajax.BeginActionLink("GoToFollow", "Private", new { id = Model.system_id }, Pipular.Constants.additAjaxOptions, null))
            {
                <button class="green_button left">follow</button>
            }
            @if (Model.signal_type_nmbr == 0)
            {
                using (Ajax.BeginActionLink("GoToCopy", "Private", new { id = Model.nmbr, uid = Model.uid, time = Model.dt_terminal }, Pipular.Constants.additAjaxOptions, null))
                {
                    <button class="green_button left">copy</button>
                }
            }
        </div>
        <div class="signal_time right">
            @if (ViewBag.NewSignal == null)
            {
                <div class="time" title="@Model.public_time">@Model.public_time.ToString("dd MMMM ")  @Model.public_time.ToShortTimeString()</div>
            }
            else
            { 
                <div class="time need_update" title="@Model.public_time">just now</div>
            }
        </div>
        <div class="clear"></div>
        <div class="dt_terminal">@Model.dt_terminal</div>
        <div class="unix_time">@Extension.DateToUnix(Model.public_time)</div>
    </div>
</div>