﻿@{
    ViewBag.Title = "Markets";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<div id="markets">
    <script type="text/javascript" src="https://s3.amazonaws.com/tradingview/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget({
            "autosize": true,
            "symbol": "FX:EURUSD",
            "interval": "240",
            "toolbar_bg": "#eff1f3",
            "hide_side_toolbar": false,
            "allow_symbol_change": true,
            "watchlist": [
              "FX:GBPUSD",
              "FX:USDJPY",
              "FX:USDCHF"
            ],
            "news": true
        });
    </script>
    <!-- TradingView Widget END -->
</div>