﻿@using Pipular.Models;
@using Pipular;
@model List<signal>

@if (Model.Count > 0)
{
    int i = 0;
    foreach (signal s in Model)
    {
        i++;
        ViewBag.i = i;
        @Html.Partial("SignalContanerMini", s, ViewData)
    }
}
else
{
    <div class="signal_contaner" id="signal0">No signals</div>
}