﻿@using Pipular.Models;
@model List<vsystem>

@if (Model.Count > 0)
{
    int i = 1;
    foreach (vsystem vs in Model)
    {
        ViewBag.place = i;
        i++;
        @Html.Partial("SystemMiniPopular", vs, ViewData)
    }
}
else
{
    <span>No systems</span>
}

<script type="text/javascript">
    $(document).ready(function () {

        function GetFollowers(system, contaner) {
            if (system == undefined) system = 0;
            $.ajax({
                cache: false,
                url: 'Home/SystemFollowers',
                data: 'system=' + system + "&pageSize=" + 10,
                success: function (result) {
                    $(contaner).html(result);
                    $(contaner).slideDown(500); 
                }
            });
        }

        var contaners = $('#pop_systems').find('.case');

        contaners.each(function(){ 
            var contaner = $(this);
            contaner.find('.system_followers_num').click(function () {
                var followers = contaner.children('.system_followers');
                if (followers.css('display') == 'none') {
                    if (followers.find('.follower').length == 0) {
                        var system = contaner.attr('data-id');
                        GetFollowers(system, followers);
                    }
                    else followers.slideDown(500);
                }
                else followers.slideUp(500);
            });
        });
    });
</script>