﻿@{
    ViewBag.Title = "RealTimeTrades";
}
<script src="@Url.Content("~/Scripts/jquery.signalR-0.5.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        //получаем прокси объект чат
        var chat = $.connection.chat;

        //определяем метод, вызываемый с серверной част,
        //параметры естественно должы совпадать
        chat.AddMessage = function (msg) {
            $("#messages").append("<li>" + msg.name + " : " + msg.text + "</li>");
        };

        //обработчик клика - вызывает метод прокси объекта определенного на сервере
        $("#broadcast").click(function () {
            var msg = {
                'name': $.browser.version,
                'text': $('#msg').val()
            };
            chat.send(msg);
        });

        //стартуем все хабы
        $.connection.hub.start();
    });
</script>

<h2>RealTimeTrades</h2>

<input type="text" id="msg" />
<input type="button" id="broadcast" value="broadcast" />

<ul id="messages">
</ul>