﻿@using Pipular.Models;
@model List<user>

@if (Model.Count > 0)
{
    int i = 0;
    foreach (user u in Model)
    {
        i++;
        ViewBag.i = i;
        @Html.Partial("Follower", u, ViewData)
    }
}
else
{
    <span>No users</span>
}