﻿@using Pipular;
@using Pipular.Models;
@model signal

@{
    double profit_num = 0;
    string profit = SignalInfo.GetProfit(Model, out profit_num);
    string sl_str = "";
    string tp_str = "";
    LiveTradeSignal.GetModify(Model, out sl_str, out tp_str);
    DateTime terminal_time = new DateTime(1970, 1, 1, 0, 0, 0, 0).AddSeconds(Model.dt_terminal);
}       
<div class="signal_contaner case @if(ViewBag.i % 2 == 1){<text>odd</text>}" id="@Model.nmbr">
    <div class="order left">
        <div class="type">@LiveTradeSignal.GetSignalType(Model.stype)</div>
        <div class="command">@LiveTradeSignal.GetCMD(Model.cmd)</div>
        <div class="symbol">@Model.symbol</div>
        <div class="price">at @LiveTradeSignal.GetPrice(Model).ToString("F" + Model.digits)</div>
    </div>
    <div class="extension right">
        @if(Model.stype == 1)
        {
            <div class="sl text_green" title="stop loss">@sl_str</div>
            <div class="tp text_red" title="take profit">@tp_str</div>
        }
        <div class="profit @if (profit_num < 0) {<text>text_orange</text>} else {<text>text_green</text>}">@profit</div>
    </div>
    <div class="clear"></div>
    <div class="time right" title="@Model.dt_create">@Model.dt_create.ToString("dd MMMM ")  @Model.dt_create.ToShortTimeString()</div>
    <div class="clear"></div>
</div>