﻿@using Pipular.Models;
@model SignUpModel

<script src="../../Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="../../Scripts/jquery.validate.min.js"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="signup">
    <div class="f18">Start today for FREE</div>
    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId="signup", HttpMethod = "POST" }))
    {
        <div class="field">
            @Html.TextBoxFor(model => model.Name)
        </div>
        <div>
             @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="field">
            @Html.TextBoxFor(model => model.Email)
        </div>
        <div>
             @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div>
            <input type="submit" value="Sign up for FREE" />
        </div>
    }
</div>

<script>
    $(function () {
        $('#Name').watermark('Full name');
        $('#Email').watermark('E-mail adress');
    })
</script>