﻿@using Pipular;
@using Pipular.Models;

@{
    ViewBag.Title = "System details";
    Layout = "~/Views/Shared/_AdditLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/date.format.js")" type="text/javascript"></script>

@{
    system sys = (system)ViewData["system"];
    string id = sys.nmbr.ToString();
    string systemid = "system" + id;
}

@section AdditHeader {
    <div class="left">
        @using (Ajax.BeginActionLink("GoToFollow", "Private", new { id = sys.nmbr }, Constants.additAjaxOptions, null))
        {
            <button class="green_button left">follow</button>
        }
        <span class="system_name"><b>@sys.name</b></span>
        (<a onclick="closeAddit()">cancel</a>)
    </div>
    <div class="connection_info right">
        @if ((bool)ViewData["IsConnected"])
        {
            <span>System is connected</span>
            <ul>
            @foreach (portfolio p in (List<portfolio>)ViewData["portfolios"])
            {         
                <li>in @Html.ActionLink(p.name, "Dashboard", "Private")</li>
            }
            </ul>
        }
        @if ((bool)ViewData["IsOwner"])
        {
            <span>It's your system</span><br />
        }
    </div>
    <div class="clear"></div>
}

<div id="SystemDetails">
    @if (ViewData["start"] != null && ViewData["stop"] != null)
    {
        <b>Period from <span class="underline red_text">@ViewData["start"]</span> to <span class="underline red_text">@ViewData["stop"]</span></b>
    }

    <div class="system_info">
        <div class="trader_photo left">
            <img alt="@ViewData["trader"].ToString()" />
        </div>
        <div class="trader_name left">
            <b>@Html.ActionLink(ViewData["trader"].ToString(), "TraderDetails", "Home", new { id = ViewData["trader"] }, new { target = "_blank" })</b>
        </div>
        <div class="trade_details right">
            <div class="trade_type">@Html.GetTradeType(sys.trade_type)</div>
            <div class="trade_style">@Html.GetTradeStyle(sys.trade_style)</div>
            <div class="trade_markets">@Html.GetTradeMarkets(sys.trade_markets)</div>
            <div class="trade_sessions">@Html.GetTradeSessions(sys.trade_sessions)</div>
        </div>
        @if (sys.desc != null)
        {
            <div class="description">
                <b>Description: </b>
                @sys.desc
            </div>
        }
        <div class="clear"></div>
    </div>

    <div class="graph_buttons">
        <span id="profit_chart_button">Switch to Profit</span>
        <span id="pips_chart_button">Switch to Pips</span>
    </div>

    <canvas id="canvasGraph" width="980" height="400"></canvas>

    <div id="statistic" class="block">
        <div class="header">
            <div class="caption left">Statistics</div>
            @using (Html.ExpanderIcon("system_statistics"))
            {
                <div class="header_button right">
                    <div class="icon"><i class="icon-arrow-up"></i></div>
                </div>
            }
        </div>
        <div class="content" id="system_statistics">
            @Html.Partial("SystemStatistic", ViewData["statistic"])
        </div>
    </div>

    <div id="trade_info" class="notebook_wrapper">
        <div class="notebook">
            <div class="tab selected" data-id="#history">
                <div class="caption">History</div>
                <div class="cover"></div>
            </div>
            <div class="tab" data-id="#trades">
                <div class="caption">Open trades</div>
                <div class="cover"></div>
            </div>
            <div class="tab" data-id="#signals">
                <div class="caption">Signals</div>
                <div class="cover"></div>
            </div>
            <div class="message right">
                <div id="time_delay" class="text_orange">
                    @if(!(bool)ViewData["IsConnected"] && !(bool)ViewData["IsOwner"])
                    {
                        <text>Trade info displays with a delay of @ViewData["time_delay"] hours.</text>
                    }
                </div>
            </div>
        </div>
        <div class="content">
            <div class="tab_panel current" id="history">@Html.Partial("HistoryTable", (IQueryable<history>)ViewData["history_system"])</div>
            <div class="tab_panel" id="trades">@Html.Partial("TradesTable", (IQueryable<trade>)ViewData["trade_system"])</div>
            <div class="tab_panel" id="signals">@Html.Partial("SignalsTable", (IQueryable<signal>)ViewData["signal_system"])</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#trade_info').notebook();
        // get chart data
        $.ajax({
            type: 'GET',
            cache: false,
            url: '@Html.Raw(Url.Action("SystemHistory", "Chart", new { id = id, start = ViewData["start"], stop = ViewData["stop"] }))',
            success: function (result) { drawSystemChart(result, "canvasGraph", "profit_chart_button", "pips_chart_button"); }
        });

        readCookieElements();
        $("#statistic .expanderIcon").expanderIcon();
    });
</script>