﻿@using Pipular.Models;
@using Pipular;

@if ((int)ViewBag.TotalPages > 1)
{
    <div class="navigation">
        <div class="prev icon">
            <i class="icon-prev"></i>
        </div>
        <div class="tab_panel">
            <div class="little_window"></div>
            @Html.PageList((int)ViewBag.TotalPages, "tabs", "", "tab")
        </div>
        <div class="next icon">
            <i class="icon-next"></i>
        </div>    
    </div>
}
<div class="signals pages">
    <div class="items">
        @for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
        {
            using (Html.Div("sheet", (i - 1).ToString()))
            {

            }
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var totalPages = parseInt('@ViewBag.TotalPages');
        var system_signals = $('#live_systems').find('.system_contaner').filter('#' + '@ViewBag.System').children('.system_signals');
        var signals = $(system_signals).find('.signals');
        var navigation = $(system_signals).find('.navigation');
        var navi = $(system_signals).find('.tab_panel');

        $(signals).scrollable({ circular: true }).navigator({
            navi: navi,
            naviItem: 'div.tab',
            activeClass: 'current'
        });

        var api = $(signals).data("scrollable");
        var items = api.getItems();

        function loadSignalsToSheet(items, slide) {
            if (slide < totalPages && slide >= 0) {
                var sheet = $(items).filter('#' + slide);
                if ($(sheet).find('.signal_contaner').length == 0) {
                    $.ajax({
                        cache: false,
                        url: 'Home/MoreSignals',
                        data: 'system=' + '@ViewBag.System' + '&pageNum=' + slide,
                        beforeSend: function () { $(sheet).html('<div class="circle_loader"></div>'); },
                        success: function (result) {
                            $(sheet).html(result);
                            $(sheet).find('.signal_contaner').hide().fadeIn(500);
                            if (slide == 0 || slide == totalPages - 1) {
                                api.getItemWrap().find('.cloned').filter('#' + slide).html(result);
                            }
                        }
                    })
                }
                $(navigation).find('.tabs').animate({ left: 100 - slide * 30 }, 500);
            }
        }

        api.onBeforeSeek(function (event, slide) {
            loadSignalsToSheet(items, slide);
        });

        $(navigation).clone(true).insertAfter(signals);
        navigation = $(system_signals).find('.navigation');
        loadSignalsToSheet(items, 0);
    });
</script>