﻿@model Pipular.Models.vsystem

@{
    double profit = Math.Round(Model.h_pl_profit + Model.h_pl_loss + Model.t_pl_profit + Model.t_pl_loss, 2);
    double profit_pips = Math.Round(Model.h_pts_profit + Model.h_pts_loss + Model.t_pts_profit + Model.t_pts_loss, 1);
}
<div class="case @if (ViewBag.place % 2 == 1)
                            {<text>odd</text>}" id="@("popsystem" + Model.nmbr)" data-id="@Model.nmbr">
    <div class="system_head">
        <div class="place left">@ViewBag.place.&nbsp;</div>
        <div class="system_name left">@Ajax.ActionLink(Model.name, "SystemDetails", "Home", new { id = Model.nmbr }, Pipular.Constants.additAjaxOptions)
        </div>
        <div class="system_followers_num right text_green">@Model.followers @if(@Model.followers == 1){<text> follower</text>}else{<text> followers</text>}</div>
        <div class="clear"></div>
    </div>
    <div class="system_followers"></div>
</div>