﻿@model Pipular.Models.Statistic

<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>Trades:</td>
                    <td>@Model.trades</td>
                </tr>
                <tr>
                    <td>Pips:</td>
                    <td>@Model.pips</td>
                </tr>
                <tr>
                    <td>Average profit:</td>
                    <td>@Model.avg_profit_pips pips / @Model.avg_profit$</td>
                </tr>
                <tr>
                    <td>Average loss:</td>
                    <td>@Model.avg_loss_pips pips / @Model.avg_loss$</td>
                </tr>
                <tr>
                    <td>Lots:</td>
                    <td>@Model.lots</td>
                </tr>
                <tr>
                    <td>Profitable long:</td>
                    <td>@Model.profit_long (@(Math.Round((double)Model.profit_long / (double)Model.longs * 100, 0))%)</td>
                </tr>
                <tr>
                    <td>Profitable short:</td>
                    <td>@Model.profit_short (@(Math.Round((double)Model.profit_short / (double)Model.shorts * 100, 0))%)</td>
                </tr>
                <tr>
                    <td>Average trade time:</td>
                    <td>@Model.avg_time_trade</td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>Best trade:</td>
                    <td>@Model.best_pips pips / @Model.best$</td>
                </tr>
                <tr>
                    <td>Worst trade ($/pips):</td>
                    <td>@Model.worst_pips pips / @Model.worst$</td>
                </tr>
                <tr>
                    <td>Profit factor:</td>
                    <td>@Model.profit_factor</td>
                </tr>
                <tr>
                    <td>Standart deviation:</td>
                    <td>@Model.standart_deviation</td>
                </tr>
                <tr>
                    <td>Expected payoff:</td>
                    <td>@Model.expected_payoff_pips pips / @Model.expected_payoff$</td>
                </tr>
                <tr>
                    <td>Z-Score:</td>
                    <td>@Model.zscore (@Model.prob%)</td>
                </tr>
                <tr>
                    <td>Sharpe ratio:</td>
                    <td>@Model.sharpe</td>
                </tr>
            
            </table>
        </td>
    </tr>
</table>