﻿@using Pipular;
@using Pipular.Models;
@model List<Pipular.Models.rating>
       
<table id="system_table" class="table">
    <thead>
        <tr>
            <th class="first">
                <span class="border_left"></span>
            </th>
            <th class="sort">
                <span class="caption">System<i></i></span>
            </th>
            <th>
                <span class="caption">Graph<i></i></span></th>
            <th class="sort">
                <span class="caption">Profit/loss (pips)<i></i></span></th>
            <th class="sort">
                <span class="caption">Clients<i></i></span></th>
            <th class="sort">
                <span class="caption">Signals<i></i></span></th>
            <th class="sort">
                <span class="caption">Trades<i></i></span></th>
            <th class="sort" title="trades per day">
                <span class="caption sort">Frequency<i></i></span></th>
            <th class="sort">
                <span class="caption border_right">Max Drawdown<i></i></span>
            </th>
        </tr>
    </thead>
    <tbody>
    @{ string text_style = "text_blue"; }
    @foreach (rating r in Model)
    {
        text_style = "text_blue";
        if (r.pts > 0) { text_style = "text_green"; }
        else if (r.pts < 0) { text_style = "text_orange"; }
        string id = "system" + r.system_nmbr;
        <tr id="@id" data-system_nmbr="@r.system_nmbr">
            <td class="border_left">
                <div>
                    @using (Ajax.BeginActionLink("GoToFollow", "Private", new { id = r.system_nmbr }, Constants.additAjaxOptions, null))
                    {
                        <button class="green_button left">follow</button>
                    }
                </div>
            </td>
            <td>
                @Ajax.ActionLink(r.system_name, "SystemDetails", "Home", new { id = r.system_nmbr }, Constants.additAjaxOptions, new { title = "id " + r.system_nmbr })
            </td>
            <td class="mini_graph">
                <canvas width="150" height="37" id="@(id + "_graph")"></canvas>
            </td>
            <td class="@text_style">
                <b>@r.pl.ToString("F2") (@r.pts.ToString("F1"))</b>
            </td>
            <td>
                <b>@r.clients</b>
            </td>
            <td>
                @r.signals
            </td>
            <td>
                <b>@r.trades</b>
            </td>
            <td>
                @r.frequency.ToString("F2")
            </td>
            <td class="border_right">
                <div>
                    <div><b>@r.maxdd.ToString("F2")</b></div>
                </div>
            </td> 
        </tr>
    }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#system_table").tablesorter({
            cssHeader: 'table_header',
            widgets: ['zebra'],
            textExtraction: 'complex',
            headers: {
                0: { sorter: false },
                2: { sorter: false }
            }
        });

        $.ajax({
            type: 'GET',
            cache: false,
            url: '@Url.Action("SystemMiniHistory", "Chart")',
            success: function (result) {
                var result = $.parseJSON(window.JSON.stringify(result), true);
                $("#system_table td.mini_graph canvas").each(function (i) {
                    var data;
                    var system = $(this).parent().parent().attr("data-system_nmbr");
                    for (var j = 0; j < result.length; j++)
                        if (result[j].system == system) {
                            data = result[j].profit;
                            drawMiniChart($(this).attr("id"), data);
                        }
                });
            }
        });

        $('#system_table tbody').darkbox();
    });
</script>