﻿@model Pipular.Models.TopSystemsModel

<div class="system_contaner case @if(Model.place % 2 == 1){<text>odd</text>}" id="@Model.nmbr">
    <div class="system_head">
        <div class="place left">@Model.place.&nbsp;</div>
        <div class="system_name left">@Ajax.ActionLink(Model.name, "SystemDetails", "Home", new { id = Model.nmbr }, Pipular.Constants.additAjaxOptions)
        </div>
        <div class="system_profit right">
            <span class="@if(Model.profit < 0){<text>text_red</text>}
                          else
                          {<text>text_green</text>}"><b>$&nbsp;@Model.profit.ToString("F2")</b></span>
            (<span class="@if (Model.pips < 0)
                          {<text>text_red</text>}
                          else
                          {<text>text_green</text>}">@Model.pips.ToString("F1") pips</span>)
        </div>
        <div class="clear"></div>
    </div>
    <div class="system_graph">
        <canvas id="@("system" + Model.nmbr + "_graph2")" width="260" height="50"></canvas>
    </div>
</div>