﻿@using Pipular.Models;
@model List<TopSystemsModel>

@if (Model.Count > 0)
{
    int i = 1;
    foreach (TopSystemsModel tsm in Model)
    {
        tsm.place = i;
        i++;
        @Html.Partial("SystemMini", tsm)
    }
}
else
{
    <span>No systems</span>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#top_systems').find('.system_contaner').children('.system_head').each(function (i) {
            var id = $(this).parent().attr('id');
            var graph = $(this).parent().children('.system_graph');
            $(this).children('.system_profit').click(function () {
                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: '@Url.Action("SystemHistory", "Chart")' + '/' + id,
                    success: function (result) {
                        var data = $.parseJSON(window.JSON.stringify(result), true);
                        drawMiniChart('system' + id + '_graph2', data.profit);

                        if ($(graph).css('display') == 'none') $(graph).slideDown(500);
                        else $(graph).slideUp(500);
                    }
                });
            });
        });
    });
</script>