﻿@using Pipular.Models;
@model TopTradesModel

<div class="trade_contaner case @if(Model.place % 2 == 1){<text>odd</text>}" id="@Model.nmbr">
    <div class="trade_head">
        <div class="place left">@Model.place.&nbsp;</div>
        <div class="system_name left">@Ajax.ActionLink(Model.system_name, "SystemDetails", "Home", new { id = Model.system }, Pipular.Constants.additAjaxOptions)
        </div>
        <div class="trade_profit right">
            <span class="@if(Model.pl < 0){<text>text_red</text>}
                            else
                            {<text>text_green</text>}"><b>$&nbsp;@Model.pl.ToString("F2")</b></span>
            (<span class="@if (Model.pts < 0)
                            {<text>text_red</text>}
                            else
                            {<text>text_green</text>}">@Model.pts.ToString("F1") pips</span>)
        </div>
        <div class="clear"></div>
    </div>
    <div class="details">
        <div class="command">@LiveTradeSignal.GetCMD(Model.cmd)</div>
        <div class="symbol"><b>@Model.symbol</b></div>
        <br />
        <div class="open_price left">Opened by @Model.open_price.ToString("F" + Model.digits)</div>
        <div class="close_price right">Closed by @Model.close_price.ToString("F" + Model.digits)</div>
        <div class="clear"></div>
        <div class="copies left">Copies: @Model.copies</div>
        <div class="time right" title="@Model.dt_create">@Model.dt_create.ToString("dd MMMM ")  @Model.dt_create.ToShortTimeString()</div>
        <div class="clear"></div>
    </div>
</div>