﻿@using Pipular.Models;
@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "Traders";
}

<h2>Traders</h2>

@Html.Partial("TradersTable", (List<TraderModel>)ViewData["traders"])