﻿@using Pipular.Models;
@{
    ViewBag.Title = "Trader details";
}

<h2>Trader details</h2>
<p>
    @Html.Partial("TraderDescription", (user)ViewData["trader_inf"])
</p>
Systems of this trader
<p>
    @Html.Partial("SystemTable", (List<rating>)ViewData["trader_systems"])
</p>
