﻿@using Pipular;
@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "TradeStream";
}
<link href="@Url.Content("~/Content/TradeStream.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/charts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/teechart.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/teechart-data.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/teechart-extras.js")" type="text/javascript"></script>
<script src="../../Scripts/jquery.columnizer.js"></script>

<script src="@Url.Content("~/Scripts/jquery.signalR-1.1.2.min.js")" type="text/javascript"></script>
<script src="signalr/hubs" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TimeUpdate.js")" type="text/javascript"></script>

<div id="TradeStream">
    <div class="box" id="last_systems">
        <div class="header">
            <div class="icon left"><i class="icon-system"></i></div>
            <div class="caption left">Last systems</div>
            @using (Html.ExpanderIcon("last_systems_contaner", new { data_loadTo = "live_systems", data_done = "return optimizeTS()", data_open = "return loadSystems(0, 10)" }))
            {
                <div class="header_button right">
                    <div class="icon"><i></i></div>
                </div>
            }
        </div>
        <div id="last_systems_contaner" class="content">
            <div id="live_systems"></div>
            <div class="load_button">
                <button id="load_latest_systems">More</button>
            </div>
        </div>
    </div>

    <div class="box" id="last_signals">
        <div class="header">
            <div class="icon left"><i class="icon-thunder"></i></div>
            <div class="caption left">Last signals</div>
            @using (Html.ExpanderIcon("last_signal_contaner", new { data_loadTo = "live_signals", data_done = "return optimizeTS()", data_open = "return loadSignals(0, '', '', 10)" }))
            {
                <div class="header_button right">
                    <div class="icon"><i></i></div>
                </div>
            }
        </div>
        <div id="current_time">@Extension.DateToUnix(DateTime.Now)</div>
        <div id="last_signal_contaner" class="content">
            <div id="live_signals"></div>
            <div class="load_button">
                <button id="load_latest_signals">More</button>
            </div>
        </div>
    </div>

    <div class="box" id="top_systems">
        <div class="header">
            <div class="icon left"><i class="icon-trand2"></i></div>
            <div class="caption left">Top performing systems</div>
            @using (Html.ExpanderIcon("top_systems_content", new { data_done = "return optimizeTS()", data_open = "return loadTopSystems(0, 5)" }))
            {
                <div class="header_button right">
                    <div class="icon"><i></i></div>
                </div>
            }
            <div class="filter">
                <select dir="rtl">
                    <option value="0" selected="selected">Ever</option>
                    <option value="3">Today</option>
                    <option value="5">This week</option>
                    <option value="7">This month</option>
                    <option value="8">Last month</option>
                    <option value="9">Last 3 months</option>
                    <option value="10">Last year</option>
                </select>
            </div>
        </div>
        <div id="top_systems_content" class="content"></div>
    </div>

    <div class="box" id="pop_systems">
        <div class="header">
            <div class="icon left"><i class="icon-star"></i></div>
            <div class="caption left">Top popular systems</div>
            @using (Html.ExpanderIcon("pop_systems_content", new { data_done = "return optimizeTS()", data_open = "return loadPopSystems(5)" }))
            {
                <div class="header_button right">
                    <div class="icon"><i></i></div>
                </div> 
            }
        </div>
        <div id="pop_systems_content" class="content"></div>
    </div>

    <div class="box" id="top_trades">
        <div class="header">
            <div class="icon left"><i class="icon-trand"></i></div>
            <div class="caption left">Top profitable trades</div>
            @using (Html.ExpanderIcon("top_trades_content", new { data_done = "return optimizeTS()", data_open = "return loadTopTrades(0, 5)" }))
            {
                <div class="header_button right">
                    <div class="icon"><i></i></div>
                </div>
            }
            <div class="filter">
                <select dir="rtl">
                    <option value="0" selected="selected">Ever</option>
                    <option value="3">Today</option>
                    <option value="5">This week</option>
                    <option value="7">This month</option>
                    <option value="8">Last month</option>
                    <option value="9">Last 3 months</option>
                    <option value="10">Last year</option>
                </select>
            </div>
        </div>
        <div id="top_trades_content" class="content"></div>
    </div>

    <div class="box" id="contests">
        <div class="header">
            <div class="icon left"><i class="icon-contest"></i></div>
            <div class="caption left">Contests</div>
            @using (Html.ExpanderIcon("contest_content", new { data_done = "return optimizeTS()", data_open = "return loadContests()" }))
            {
                <div class="header_button right">
                    <div class="icon"><i></i></div>
                </div>
            }
        </div>
        <div id="contest_content" class="content"></div>
    </div>

    <div class="box" id="top_instruments">
        <div class="header">
            <div class="icon left"><i class="icon-instruments"></i></div>
            <div class="caption left">Most traded instruments</div>
            @using (Html.ExpanderIcon("top_instruments_content", new { data_done = "return optimizeTS()", data_open = "return loadTopInstruments(0, 5)" }))
            {
                <div class="header_button right">
                    <div class="icon"><i></i></div>
                </div>
            }
            <div class="filter">
                <select dir="rtl">
                    <option value="0" selected="selected">Ever</option>
                    <option value="3">Today</option>
                    <option value="5">This week</option>
                    <option value="7">This month</option>
                    <option value="8">Last month</option>
                    <option value="9">Last 3 months</option>
                    <option value="10">Last year</option>
                </select>
            </div>
        </div>
        <div id="top_instruments_content" class="content"></div>
    </div>

    <div class="box" id="last_members">     
        <div class="header">
            <div class="icon left"><i class="icon-people"></i></div>
            <div class="caption left">Recent members</div>
            @using (Html.ExpanderIcon("last_members_content", new { data_done = "return optimizeTS()", data_open = "return loadRecentMembers(5)" }))
            {
                <div class="header_button right">
                    <div class="icon"><i></i></div>
                </div>
            }
        </div>
        <div id="last_members_content" class="content"></div>
    </div>
</div>

<script type="text/javascript">

    /* OPTIMIZE */
    var optimizeTS = function () { $("#TradeStream").columns('optimize') }
    var expanderIconDone = optimizeTS;

    function loadSignals(id, uid, time, count) {
        var dfd = $.Deferred();
        var xhr = $.ajax({
            url: 'Home/GetSignals',
            data: 'id=' + id + '&uid=' + uid + '&dt=' + time + '&count=' + count,
            cache: false,
            success: function (result) {
                var real_count = $(result).filter('.signal_contaner').length;
                if (real_count > 0) {
                    $(result).appendTo("#live_signals").hide();
                    $("#live_signals .signal_contaner").slideDown(1000, function () {
                        $(this).darkbox() 
                    });
                    setTimeout(dfd.resolve, 1000);
                    max_count = parseInt($('#signal_count').text()) + real_count - 1;
                }
                else SetLabel('#load_latest_signals', result);
            }
        });
        xhr.dboxID = "last_signals_dbox";
        return dfd.promise();
    }

    function loadSystems(id, count) {
        var dfd = $.Deferred();
        var xhr = $.ajax({
            url: 'Home/GetSystems',
            data: 'id=' + id + '&count=' + count,
            cache: false,
            success: function (result) {
                var real_count = $(result).filter('.system_contaner').length;
                if (real_count > 0) {
                    $(result).appendTo("#live_systems").hide();
                    $("#live_systems .system_contaner").slideDown(1000, function () {
                        $(this).darkbox()
                    });
                    setTimeout(dfd.resolve, 1000);
                    $(result).filter('.system_contaner').each(function (i) {
                        var system_id = $(this).attr('id');
                        MakeClickable(system_id);
                    });
                }
                else SetLabel('#load_latest_systems', result);
            }
        });
        xhr.dboxID = "last_systems_dbox";
        return dfd.promise();
    }

    // Load statistics

    function loadTopSystems(period, count) {
        var dfd = $.Deferred();
        var xhr = $.ajax({
            cache: false,
            url: 'Home/TopSystems',
            data: 'period=' + period + '&count=' + count,
            success: function (result) { $('#top_systems .content').html(result).darkbox().slideDown(500, dfd.resolve); }
        });
        xhr.dboxID = "top_systems_dbox";
        return dfd.promise();
    }

    function loadPopSystems(count) {
        var dfd = $.Deferred();
        var xhr = $.ajax({
            cache: false,
            url: 'Home/PopSystems',
            data: 'count=' + count,
            success: function (result) { $('#pop_systems .content').html(result).darkbox().slideDown(500, dfd.resolve); }
        });
        xhr.dboxID = "last_systems_dbox";
        return dfd.promise();
    }

    function loadTopTrades(period, count) {
        var dfd = $.Deferred();
        var xhr = $.ajax({
            cache: false,
            url: 'Home/TopTrades',
            data: 'period=' + period + '&count=' + count,
            success: function (result) { $('#top_trades .content').html(result).darkbox().slideDown(500, dfd.resolve); }
        });
        xhr.dboxID = "pop_systems_dbox";
        return dfd.promise();
    }

    function loadContests() {
        var dfd = $.Deferred();
        var xhr = $.ajax({
            cache: false,
            url: 'Home/Contests',
            success: function (result) { $('#contests .content').html(result).darkbox().slideDown(500, dfd.resolve); }
        });
        xhr.dboxID = "contests_dbox";
        return dfd.promise();
    }

    function loadTopInstruments(period, count) {
        var dfd = $.Deferred();
        var xhr = $.ajax({
            cache: false,
            url: 'Home/TopInstruments',
            data: 'period=' + period + '&count=' + count,
            success: function (result) { $('#top_instruments .content').html(result).darkbox().slideDown(500, dfd.resolve); }
        });
        xhr.dboxID = "top_instruments_dbox";
        return dfd.promise();
    }

    function loadRecentMembers(count) {
        var dfd = $.Deferred();
        var xhr = $.ajax({
            cache: false,
            url: 'Home/RecentMembers',
            data: 'count=' + count,
            success: function (result) { $('#last_members .content').html(result).darkbox().slideDown(500, dfd.resolve); }
        });
        xhr.dboxID = "last_members_dbox";
        return dfd.promise();
    }

    /* MISC */

    function FadeSignals(system) {
        var system_contaner = $('.system_contaner').filter('#' + system);
        $(system_contaner).find('.more_signals').unbind('click');
        $(system_contaner).find('.more_signals').click(function () {
            $(system_contaner).find(".system_signals").slideUp(500, function () {
                $(system_contaner).find('.more_signals i').attr('class', 'icon-arrow-down');
                MakeClickable(system);
            });
        });
    }

    function MakeClickable(system) {
        var system_contaner = $('.system_contaner').filter('#' + system);
        $(system_contaner).find('.more_signals').unbind('click');
        $(system_contaner).find('.more_signals').click(function () {
            if ($(system_contaner).find(".signal_contaner").length == 0) {
                $.ajax({
                    url: 'Home/SystemSignals',
                    data: 'system=' + system + '&pageSize=10',
                    cache: false,
                    success: function (result) {
                        $(system_contaner).find('.more_signals i').attr('class', 'icon-arrow-up');
                        $(system_contaner).find(".system_signals").html(result);
                        $(system_contaner).find(".system_signals").slideDown(100);
                        FadeSignals(system);
                    }
                })
            }
            else {
                $(system_contaner).find('.more_signals i').attr('class', 'icon-arrow-up');
                $(system_contaner).find(".system_signals").slideDown(500);
                FadeSignals(system);
            }
        });
    }

    function SetLabel(elem, text) {
        $(elem).text(text);
    }

    $(document).ready(function () {

        $('#TradeStream').columns();

        /* HUBS */
        livetrades = $.connection.liveTrades;
        copyResultHub = $.connection.copyResult;

        /* COPY */
        copyResultHub.client.response = function (mess) {
            window.copy_result.html(mess);
        };

        copyResultHub.client.end = function () {
            window.copy_submit.enable();
        };

        Copy = function () {
            copy_submit.disable();
            var lot = $('input[name="volume"]').val();
            var account = $('input[name="account"]:checked').val();
            var signal = $('input[name="signalID"]').val();
            var tariff = $('input[name="tariff_type"]:checked').val();
            var uid = $('input[name="uid"]').val();
            copyResultHub.server.copy(lot, signal, uid, account, tariff);
        }

        /* SIGNALS */
        var max_count = 9;

        timeUpdate('#current_time', '.signal_contaner', '.unix_time', '.need_update', 5000);

        

        // SIGNALS

        $('#load_latest_signals').click(function () {
            var id = $('#live_signals .signal_contaner:last').attr('id');
            var uid = $('#live_signals .signal_contaner:last').attr('class');
            if (uid != undefined) uid = uid.split(' ')[1]; else uid = '';
            var time = $('#live_signals .signal_contaner:last .dt_terminal').text();
            if (id == undefined) id = '';
            loadSignals(id, uid, time, 10);
        });

        

        // SYSTEMS

        $('#load_latest_systems').click(function () {
            var id = $('#live_systems .system_contaner:last').attr('id');
            if (id == undefined) id = 0;
            if (id == 'system_error') SetLabel('#load_latest_systems', 'Load error');
            else loadSystems(id, 10);
        });
        
        livetrades.client.update = function (signal, system) {
            var max_count = 9;
            $(signal).prependTo("#live_signals").hide().slideDown(1000, function () {
                $('#live_signals .signal_contaner:gt(' + max_count + ')').slideUp(1000, function () { $(this).remove(); });
            });

            var system_id = $(system).attr('id');
            var exists = $('#' + system_id);
            if ($(system).attr('id') == $(exists).attr('id'))
                $(exists).prependTo("#live_systems").hide().fadeIn(1000);
            else {
                $(system).prependTo("#live_systems").hide().slideDown(1000);
                MakeClickable(system_id);
            }
        };

        // start hubs

        $.connection.hub.start();

        /* FILTERS */
        /*
        $('#top_systems').find('.header select').change(function () {
            loadTopSystems(this.options[this.selectedIndex].value, 5);
        });

        $('#top_trades').find('.header .filter select').change(function () {
            loadTopTrades(this.options[this.selectedIndex].value, 5);
        });

        $('#top_instruments').find('.header .filter select').change(function () {
            loadTopInstruments(this.options[this.selectedIndex].value, 5);
        });
        */
    });
</script>