﻿@using Pipular.Models;
@{
    ViewBag.Title = "My accounts";
}

<h2>My accounts</h2>
<table>
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Company
            </th>
            <th>
                Server
            </th>
            <th>
                Balance
            </th>
            <th>
                Equity
            </th>
            <th>
                Online
            </th>
            <th>
                Last update
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (account item in (List<account>)ViewData["Account_list"])
        {
            <tr>
                <td>
                    @item.number
                </td>
                <td>
                    @item.company
                </td>
                <td>
                    @item.server
                </td>
                <td>
                    @item.balance
                </td>
                <td>
                    @item.equity
                </td>
                <td>
                    @item.serv3online
                </td>
                <td>
                    @item.dt_last
                </td>
            </tr>
}
    </tbody>
</table>
