﻿@using Pipular;
@using Pipular.Models;
@model Dictionary<string, string>

@{
    ViewBag.Title = "Connect details";
    Layout = "~/Views/Shared/_AdditLayout.cshtml";
}

@section AdditHeader {
    <div class="left">
        <span class="system_name"><b>@Model["system_name"] connect details</b></span>
        (<a onclick="closeAddit()">cancel</a>)
    </div>
    <div class="clear"></div>
}

<div id="SystemDetails">
    @if (ViewData["start"] != null && ViewData["stop"] != null)
    {
        <b>Period from <span class="underline red_text">@ViewData["start"]</span> to <span class="underline red_text">@ViewData["stop"]</span></b>
    }
    <div class="graph_buttons">
        <span id="profit_chart_button">Switch to Profit</span>
        <span id="pips_chart_button">Switch to Pips</span>
    </div>

    <canvas id="canvasGraph" width="980" height="400"></canvas>

    <div id="statistic" class="block">
        <div class="header">
            <div class="caption left">Statistics</div>
            @using(Html.ExpanderIcon("system_statistics"))
            {
                <div class="header_button right">
                    <div class="icon"><i class="icon-arrow-up"></i></div>
                </div>
            }
        </div>
        <div class="content" id="system_statistics">
            @Html.Partial("../Home/SystemStatistic", ViewData["statistic"])
        </div>
    </div>

    <div id="trade_info" class="notebook_wrapper">
        <div class="notebook">
            <div class="tab selected" data-id="#history">
                <div class="caption">History</div>
                <div class="cover"></div>
            </div>
            <div class="tab" data-id="#trades">
                <div class="caption">Open trades</div>
                <div class="cover"></div>
            </div>
            <div class="message right">
                
            </div>
        </div>
        <div class="content">
            <div class="tab_panel current" id="history">@Html.Partial("HistoryTable", (IQueryable<history>)ViewData["history_connect"])</div>
            <div class="tab_panel" id="trades">@Html.Partial("TradesTable", (IQueryable<trade>)ViewData["trade_connect"])</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#trade_info').notebook();
        // get chart data
        $.ajax({
            type: 'GET',
            cache: false,
            url: '@Html.Raw(Url.Action("ConnectHistory", "Chart", new { system = (int)ViewBag.System, connect = (int)ViewBag.Connect, start = ViewData["start"], stop = ViewData["stop"] }))',
            success: function (result) { drawSystemChart(result, "canvasGraph", "profit_chart_button", "pips_chart_button"); }
        });

        readCookieElements();
        $("#statistic .expanderIcon").expanderIcon();
    });
</script>