﻿@using Pipular.Models;
@model connect

@{
    Layout = "~/Views/Shared/_AdditLayout.cshtml";
}

@section AdditHeader {
    <span><b>Connect configuration</b></span>
    (<a onclick="closeAddit()">cancel</a>)
}

<div id="connect_configuration">
    @using (Ajax.BeginForm("SaveConfiguration", "Private", new { id = Model.nmbr }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnSuccess = "closeAddit()"
    }))
    {
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.cfg_morders)  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a id="make_unlim_cfg_morders">unlimited</a><br />
                    @Html.ValidationMessageFor(model => model.cfg_morders)
                </td>
                <td class="editor-field numeric">
                    @Html.TextBoxFor(model => model.cfg_morders)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.cfg_mvolume) &nbsp;&nbsp;
                    <a id="make_unlim_cfg_mvolume">unlimited</a><br />
                    @Html.ValidationMessageFor(model => model.cfg_mvolume)
                </td>
                <td class="editor-field numeric">
                    @Html.TextBoxFor(model => model.cfg_mvolume)
                </td>
            </tr>
            <tr>
                <td class="editor-field">
                    <input type="radio" name="cfg_uvfs" id="cfg_uvfs1" value="1" @if(Model.cfg_uvfs == 1) {<text>checked="checked"</text>} />
                    <label for="cfg_uvfs1">Use volume from signal</label>
                </td>
                <td class="editor-field"></td>
            </tr>
            <tr>
                <td class="editor-field">
                    <input type="radio" name="cfg_uvfs" id="cfg_uvfs2" value="2" data-activefor="cfg_koeff" @if(Model.cfg_uvfs == 2) {<text>checked="checked"</text>} />
                    <label for="cfg_uvfs2">Koefficient to change volume</label><br />
                    @Html.ValidationMessageFor(model => model.cfg_koeff)
                </td>
                <td class="editor-field numeric">@Html.TextBoxFor(model => model.cfg_koeff)</td>
            </tr>
            <tr>
                <td class="editor-field">
                    <input type="radio" name="cfg_uvfs" id="cfg_uvfs3" value="3" data-activefor="cfg_fixed" @if(Model.cfg_uvfs == 3) {<text>checked="checked"</text>} />
                    <label for="cfg_uvfs3">Fixed volume</label><br />
                    @Html.ValidationMessageFor(model => model.cfg_fixed)
                </td>
                <td class="editor-field numeric">@Html.TextBoxFor(model => model.cfg_fixed)</td>
            </tr>
            <tr>
                <td class="editor-field">
                    <input type="radio" name="cfg_uvfs" id="cfg_uvfs4" value="4" data-activefor="cfg_percent" @if(Model.cfg_uvfs == 4) {<text>checked="checked"</text>} />
                    <label for="cfg_uvfs4">Volume by percent from free margin</label><br />
                    @Html.ValidationMessageFor(model => model.cfg_percent)
                </td>
                <td class="editor-field numeric">
                    @Html.TextBoxFor(model => model.cfg_percent)                  
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    <input type="submit" value="Save" />
                </td>
                <td></td>
            </tr>
        </table>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        /*
        $('#koeff').spinner({ min: 0.01, max: 100, step: 0.01, width: 20 });
        $('#lot').spinner({ min: 0.01, max: 100, step: 0.01, width: 20 });
        $('#percent').spinner({ min: 1, max: 100, step: 1, width: 20 });
        $('#max_orders').spinner({ min: 1, max: 100, step: 1, width: 20 });
        $('#sum_volume').spinner({ min: 0.01, max: 100, step: 0.01, width: 20 });

        */

        $('#cfg_fixed').val($('#cfg_fixed').val() / 100);
        $('#cfg_mvolume').val($('#cfg_mvolume').val() / 100);

        (function () {
            $.fn.zeroIsUnlimited = function (method) {
                return this.each(function () {
                    var textBox = $(this);

                    var label = $("<div class=\"unlimited\">unlimited</div>").hide().appendTo(textBox.parent());

                    var unlimitedLabel = function () {
                        textBox.hide();
                        label.show();
                    }

                    if (textBox.val() == "0") unlimitedLabel();

                    textBox.mouseleave(function () {
                        if (textBox.val() == "0" || textBox.val() == "") {
                            unlimitedLabel();
                            textBox.val("0");
                        }
                    });

                    label.hover(function () { label.hide(); textBox.show() });

                    var makeUnlimited = function () {
                        textBox.val("0");
                        unlimitedLabel();
                    }

                    $("#make_unlim_" + textBox.attr('id')).click(makeUnlimited)
                });
            }
        })(jQuery);

        $("#connect_configuration").find("#cfg_morders, #cfg_mvolume").zeroIsUnlimited();
        $("#connect_configuration input[type=radio]").linkedRadio();
    });
</script>