﻿@using Pipular;
@using Pipular.Models;
@model ConnectModel

@{
    string update_selector = "connect" + Model.connect.nmbr.ToString();
    string colorBlue = "text_blue";
    string colorGray = "text_main";
    string colorRed = "text_red";

    AjaxOptions SendToAjaxOptions = new AjaxOptions()
                 {
                     UpdateTargetId = update_selector
                 };
}

<div class="connect_block block" id="@("connect" + Model.connect.nmbr)" data-system="@Model.connect.system" data-connect="@Model.connect.nmbr">
    <div class="header">
        <div class="caption left">@Ajax.ActionLink(Model.system_name, "SystemDetails", "Home", new { id = Model.connect.system }, Constants.additAjaxOptions)
        </div>
        @using (Ajax.BeginActionLink("ConnectDelete", "Private", new { id = Model.connect.nmbr }, new AjaxOptions()
                {
                    Confirm = "Connection permanently deleted. Are you sure?",
                    OnSuccess = "deleteElement('#" + update_selector + "')",
                    OnComplete = "Message()",
                    UpdateTargetId = "alert"
                }, null))
        {
            <div class="header_button right">
                <div class="icon"><i class="icon-trash"></i></div>
            </div>
        }
        @using (Ajax.BeginActionLink("ConnectConfiguration", "Private", new { id = Model.connect.nmbr }, Constants.additAjaxOptions, null))
        {
            <div class="header_button right">
                <div class="icon"><i class="icon-config"></i></div>
            </div>
        }
        @using (Ajax.BeginActionLink("ConnectDetails", "Private", new { system = Model.connect.system, connect = Model.connect.nmbr }, Constants.additAjaxOptions, null))
        {
            <div class="header_button right">
                <div class="icon"><i class="icon-details"></i></div>
            </div>
        }
        @using (Ajax.BeginActionLink("ConnectSwitch", "Private", new { id = Model.connect.nmbr }, SendToAjaxOptions, new { data_ajax_mode = "replaceWith" }))
        {
            <div class="header_button right @if(Model.connect.enabled == 1){<text>enabled</text>}else{<text>disabled</text>}">
                <div class="icon"><i></i></div>
            </div>
        }
    </div>
    <div class="content">
        <div class="tariff">@Model.tariff.TarifAnalizer()</div>
        <div class="send_to">
            @if (Model.tariff.mt4 == 1)
            {
                if (Model.connect.account2 == 0)
                { 
                    <span class="@colorRed" title="drop this connect to MetaTrader account">MT</span> 
                }
                else
                {
                    string @class = (Model.connect.mt4 == 1) ? colorBlue : colorGray;
                    @Ajax.ActionLink("MT", "SendingTypeSwitch", "Private", new { id = Model.connect.nmbr, type = 1 }, SendToAjaxOptions, 
                        new { 
                            @class = @class, 
                            data_ajax_mode = "replaceWith"
                        })
                }
            }
            @if (Model.tariff.email == 1)
            {
                string @class = (Model.connect.email == 1) ? colorBlue : colorGray;
                @Ajax.ActionLink("E-mail", "SendingTypeSwitch", "Private", new { id = Model.connect.nmbr, type = 2 }, SendToAjaxOptions, 
                     new { 
                         @class = @class, 
                         data_ajax_mode = "replaceWith"
                     })
            }
            @if (Model.tariff.icq == 1)
            {
                string @class = (Model.connect.icq == 1) ? colorBlue : colorGray;
                @Ajax.ActionLink("ICQ", "SendingTypeSwitch", "Private", new { id = Model.connect.nmbr, type = 3 }, SendToAjaxOptions, 
                    new { 
                        @class = @class, 
                        data_ajax_mode = "replaceWith"
                    })
            }
            @if (Model.tariff.phone == 1)
            {
                string @class = (Model.connect.phone == 1) ? colorBlue : colorGray;
                @Ajax.ActionLink("SMS", "SendingTypeSwitch", "Private", new { id = Model.connect.nmbr, type = 4 }, SendToAjaxOptions, 
                    new { 
                        @class = @class, 
                        data_ajax_mode = "replaceWith"
                    })
            }
            @if (Model.tariff.skype == 1)
            {
                string @class = (Model.connect.skype == 1) ? colorBlue : colorGray;
                @Ajax.ActionLink("Skype", "SendingTypeSwitch", "Private", new { id = Model.connect.nmbr, type = 5 }, SendToAjaxOptions, 
                     new { 
                         @class = @class, 
                         data_ajax_mode = "replaceWith"
                     })
            }
        </div>
        <div class="footer">
            <div class="time_update time right" title="last update @Model.connect.dt_last">@(Model.connect.dt_last == null ? "not update yet" : Model.connect.dt_last.Value.ToLongDateString())</div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.connect_block[data-connect="@Model.connect.nmbr"]').darkbox();
    })
</script>