﻿@using Pipular;
@using Pipular.Models;
@model IEnumerable<CopyModel>

<!--<link href="@Url.Content("~/Content/TradeStream.css")" rel="stylesheet" type="text/css" />-->


<div id="copys">
    <table class="table">
        <thead>
            <tr>
                <th class="sort">
                    <span class="border_left">Account<i></i></span>
                </th>
                <th class="sort">
                    <span class="caption">System<i></i></span>
                </th>
                <th class="sort">
                    <span class="caption">Volume<i></i></span>
                </th>
                <th class="sort">
                    <span class="caption">Open price<i></i></span>
                </th>
                <th class="sort">
                    <span class="caption">Symbol<i></i></span>
                </th>
                <th class="sort">
                    <span class="caption">Profit (pips)<i></i></span>
                </th>
                <th class="sort">
                    <span class="caption">Fee<i></i></span>
                </th>
                <th class="sort">
                    <span class="caption border_right">Create time<i></i></span>
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (CopyModel cm in Model)
        {
            <tr id="@cm.nmbr" @if(cm.enabled == 1){<text>class="green"</text>}>
                <td class="border_left" title="@cm.account_company">
                    <div style="width:80px"><b>@cm.account_number</b></div>
                </td>
                <td>@Ajax.ActionLink(cm.system_name, "SystemDetails", "Home", new { id = cm.system_nmbr }, Constants.additAjaxOptions, new { title = "id " + cm.system_nmbr })</td>
                <td>@(((decimal)cm.volume/100).ToString("F2"))</td>
                <td>@cm.price.ToString("F" + cm.digits)</td>
                <td>@cm.symbol</td>
                <td>@if (cm.enabled == 1)
                    {<text>opened</text>}
                    else { @cm.profit_client.ToString("F2") <text>(@cm.profit_client_pip.ToString("F1"))</text> }</td>
                <td>@cm.reward.ToString("F2")</td>
                <td class="border_right">
                    <div>
                        <div>@cm.dt_create</div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    @if (Model.Count() > 10)
    {
        <div id="copysPager" class="table_navigation">
            <div class="first"><span class="ui-icon ui-icon-seek-first"></span></div>
            <div class="prev icon"><i class="icon-prev"></i></div>
            <input type="text" class="pagedisplay" readonly />
            <div class="next icon"><i class="icon-next"></i></div>
            <div class="last"><span class="ui-icon ui-icon-seek-end"></span></div>
            <select class="pagesize"> 
	            <option selected="selected" value="10">10</option> 
	            <option value="20">20</option> 
	            <option value="30">30</option> 
	            <option value="40">40</option> 
            </select> 
        </div>
    }
    <div class="summary">
        <div class="total">Total copied: @Model.Count()</div>
        <div class="payd">Total paid: $0 - Not counting yet</div>
        <div class="opened">Opened: @Model.Count(m => m.enabled == 1)</div>
        <div class="closed">Closed: @Model.Count(m => m.enabled == 2)</div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#copys .table").tablesorter({ cssHeader: 'table_header', widgets: ['zebra'] })
        .tablesorterPager({ container: $("#copysPager") });;
    });
</script>
<!--
<div class="main_contaner" id="last_signals">
    <div class="head">Last signals</div>
    <div id="current_time">@Extension.DateToUnix(DateTime.Now)</div>
    <div id="live_signals"></div>
    <div class="load_button">
        <button id="load_latest_signals">
            <div class="wait" style="float: left"></div>
            <div class="count" id="signal_count">0</div> signals +10
            <div class="wait" style="float: right"></div>
        </button>
    </div>
    <div class="load_button">
        <a href="@Url.Content("~/Home/TradeStream")">
            <button>TradeStream >></button>
        </a>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.signalR-0.5.2.js")" type="text/javascript"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TimeUpdate.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        /* TABLE */
        $("#copys table").tablesorter()
        .tablesorterPager({ container: $("#copysPager") });

        /* SIGNALS */
        var livetrades = $.connection.liveTrades;
        var max_count = 9;

        timeUpdate('#current_time', '.signal_contaner', '.unix_time', '.need_update', 5000);

        function FadeSignals(system) {
            var system_contaner = $('.system_contaner').filter('#' + system);
            $(system_contaner).find('.more_signals').unbind('click');
            $(system_contaner).find('.more_signals').click(function () {
                $(system_contaner).find(".system_signals").slideUp(500, function () {
                    $(system_contaner).find('.more_signals').text("▼");
                    MakeClickable(system);
                });
            });
        }

        function MakeClickable(system) {
            var system_contaner = $('.system_contaner').filter('#' + system);
            $(system_contaner).find('.more_signals').unbind('click');
            $(system_contaner).find('.more_signals').click(function () {
                if ($(system_contaner).find(".signal_contaner").length == 0) {
                    $.ajax({
                        url: 'SystemSignals',
                        data: 'system=' + system + '&pageSize=10',
                        cache: false,
                        success: function (result) {
                            $(system_contaner).find('.more_signals').text("▲");
                            $(system_contaner).find(".system_signals").html(result);
                            $(system_contaner).find(".system_signals").slideDown(100);
                            FadeSignals(system);
                        }
                    })
                }
                else {
                    $(system_contaner).find('.more_signals').text("▲");
                    $(system_contaner).find(".system_signals").slideDown(500);
                    FadeSignals(system);
                }
            });
        }

        function Counter(count, elem) {
            var counter = parseInt($(elem).text());
            $(elem).text(counter + count);
        };

        function SetLabel(elem, text) {
            $(elem).text(text);
        }

        // SIGNALS

        $('#load_latest_signals').click(function () {
            var id = $('#live_signals .signal_contaner:last').attr('id');
            var uid = $('#live_signals .signal_contaner:last').attr('class');
            if (uid != undefined) uid = uid.split(' ')[1]; else uid = '';
            var time = $('#live_signals .signal_contaner:last .dt_terminal').text();
            if (id == undefined) id = '';
            loadSignals(id, uid, time, 10);
        });

        function loadSignals(id, uid, time, count) {
            $.ajax({
                url: '@Url.Action("GetSignals", "Home")',
                data: 'id=' + id + '&uid=' + uid + '&dt=' + time + '&count=' + count,
                cache: false,
                beforeSend: function () {
                    $('#load_latest_signals div.wait').show();
                },
                success: function (result) {
                    var real_count = $(result).filter('.signal_contaner').length;
                    if (real_count > 0) {
                        $(result).appendTo("#live_signals").hide().slideDown(1000);
                        Counter(real_count, '#signal_count');
                        max_count = parseInt($('#signal_count').text()) + real_count - 1;
                    }
                    else SetLabel('#load_latest_signals', result);
                }
            }).done(function () { $('#load_latest_signals div.wait').hide(); });
        }

        livetrades.Update = function (signal, system) {
            $(signal).prependTo("#live_signals").hide().slideDown(1000, function () {
                if ($('#live_signals .signal_contaner').length < max_count + 2)
                    Counter(1, '#signal_count');
            });
            $('#live_signals .signal_contaner:gt(' + max_count + ')').slideUp(1000, function () { $(this).remove(); });

            var system_id = $(system).attr('id');
            var exists = $('#' + system_id);
            if ($(system).attr('id') == $(exists).attr('id'))
                $(exists).prependTo("#live_systems").hide().fadeIn(1000);
            else {
                $(system).prependTo("#live_systems").hide().slideDown(1000);
                Counter(1, '#system_count');
                MakeClickable(system_id);
            }
        };

        // load latest 10 signals by default
        loadSignals(0, '', '', 10);

        // start hubs
        var copyResultHub = $.connection.copyResult;

        copyResultHub.Response = function () { };
        copyResultHub.End = function () { };

        $.connection.hub.start();
    });
</script>
    -->