﻿@using Pipular.Models;

@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<link href="@Href("~/Content/Dashboard.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/dashboard.js")" type="text/javascript"></script>
<script src="../../Scripts/jquery.ui.core.min.js"></script>
<script src="../../Scripts/jquery.tablesorter.min.js"></script>
<script src="../../Scripts/jquery.tablesorter.pager.js"></script>
<script src="@Url.Content("~/Scripts/charts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/teechart.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/teechart-data.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/teechart-extras.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/date.format.js")" type="text/javascript"></script>


<div id="dashboard" class="notebook_panel">
    <div class="notebook">
        <div class="tab selected" data-id="#follow">Follow</div>
        <div class="tab" data-id="#copy">Copy</div>
        <div class="tab" data-id="#lead">Lead</div>
        <div class="tab" data-id="#link">Link your account</div>
    </div>
    <div class="dark_divider"></div>
    <div class="white_divider"></div>
    <div class="content">
        <div class="tab_panel current" id="follow">
            @Html.Partial("FollowPanel", (List<Portfolio>)ViewBag.Portfolios)
        </div>
        <div class="tab_panel" id="copy">
            @Html.Partial("CopyPanel", (IEnumerable<copy>)ViewBag.Copies)
        </div>
        <div class="tab_panel" id="lead">
            @Html.Partial("LeadPanel", (List<SystemModel>)ViewBag.Systems)
        </div>
        <div class="tab_panel" id="link">
            @Html.Partial("LinkYourAccount")
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dashboard').notebook();
    });
</script>