﻿@using Pipular;
@model Pipular.Models.tarif

@{
    ViewBag.Title = "Edit tariff";
    Layout = "~/Views/Shared/_AdditLayout.cshtml";
}

@section AdditHeader {
    <span><b>Edit tariff</b></span>
    (<a onclick="closeAddit()">cancel</a>)
}

<div id="EditTariff">
    @using (Ajax.BeginForm(
        "EditTariff",
        new { id = Model.nmbr },
        new AjaxOptions() { 
            UpdateTargetId = "popup_content", 
            HttpMethod = "POST", 
            OnSuccess = "closeAddit(); updateTo($('#tariffs" + Model.system + " .tariff_block').filter('#" + Model.nmbr + "'))"
        }))
    {
        @Html.ValidationSummary(true)

        <table>
            <tr class="followFee">
                <td colspan="2" class="editor-field numeric">
                    @Html.TextBoxFor(m => m.summa)
                    @Model.TarifEditor()<br />
                    @Html.ValidationMessageFor(m => m.summa)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    }
</div>

