﻿@using Pipular.Models;
@model FillUpBalanceModel

@{
    Layout = "~/Views/Shared/_AdditLayout.cshtml";
}
  
@section AdditHeader {
    <span><b>Fill up balance</b></span>
    (<a onclick="closeAddit()">cancel</a>)
}

<div id="FillUpBalance">
    @using (Ajax.BeginForm("FillUp", "Private", Pipular.Constants.additAjaxOptions))
    {   
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.summa)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.summa)
                    @Html.ValidationMessageFor(model => model.summa)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.comment)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.comment)
                    @Html.ValidationMessageFor(model => model.comment)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Pay" />
                </td>
            </tr>
        </table>
    }
</div>