﻿@using Pipular;
@using Pipular.Models;
@model List<Portfolio>

<div class="simple_block">
    <div class="label">
        <span class="icon">
            <i class="icon-config"></i>
        </span>
        <span>Available systems</span>
        <span>(@Html.Expander("systemsTable"))</span>
    </div>
    <div id="systemsTable">
        @Html.Action("SystemTable", "Home")
    </div>
</div>
<div class="simple_block" id="noportfolios">
    <div class="connects">
        <div class="label">
            <span class="icon">
                <i class="icon-config"></i>
            </span>
            <span>Free connects</span>
            <span>(@Html.Expander("freeConnects"))</span>
        </div>
        <div class="sortable" id="freeConnects">
            @foreach (ConnectModel connect in Model.Single(m => m.nmbr == 0).connects)
            {
                @Html.Partial("ConnectBlock", connect)
            }
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="simple_block" id="portfolios">
    <div class="label">
        <span class="icon">
            <i class="icon-config"></i>
        </span>
        <span>Connected accounts</span>
        <span>(@Html.Expander("accounts"))</span>
    </div>
    <div id="accounts">
        @foreach (Portfolio portfolio in Model.Where(m => m.nmbr > 0))
        {
            @Html.Partial("PortfolioBlock", portfolio)
        }
        <div class="clear"></div>
    </div>
</div>