﻿@using Pipular;
@using Pipular.Models;
@model List<tarif>

<table class="tariffTable">
@for (int i = 0; i < Model.Count(); i++)
{
    <tr>
        <td></td>
        <td>
            @Html.RadioButtonLabel(
                "tarif_id", 
                Model[i].TarifAnalizer(), 
                Model[i].nmbr)
        </td>
        <td class="options text_green">
            @if (Model[i].mt4 == 1) { <span>MT</span> }
            @if (Model[i].email == 1) { <span>E-mail</span> }
            @if (Model[i].phone == 1) { <span>SMS</span> }
            @if (Model[i].icq == 1) { <span>ICQ</span> }
            @if (Model[i].skype == 1) { <span>Skype</span> }
        </td>
    </tr>
}
</table>