﻿@using Pipular;
@using Pipular.Models;
@model copy

@{
    Layout = "~/Views/Shared/_AdditLayout.cshtml";
    LiveTradeSignal signal = (LiveTradeSignal)ViewData["live_signal"];
    IQueryable<tarif> tariffs = (IQueryable<tarif>)ViewData["tariffs"];
    List<account> accounts = (List<account>)ViewData["user_accounts"];
}

@section AdditHeader {
    <b>Copy signal</b>
    (<a onclick="closeAddit()">close</a>)
}

<div id="GoToCopy">
    @Html.Partial("../Home/LiveSignalPartial", signal)
    @using (Ajax.BeginForm(new AjaxOptions()
    {
        OnBegin = "Copy()"
    }))
    {
        <input type="hidden" name="signalID" value="@signal.nmbr" />
        <input type="hidden" name="uid" value="@signal.uid" /> 
        
        <table>
            <tr>
                <td class="editor-label">Choose account</td>
                <td class="editor-field">
                    @foreach (account acc in accounts)
                    {
                        @Html.RadioButtonLabelFor(
                        "(" + acc.number + ") " + acc.company.Cut(10),
                        m => m.account,
                        acc.nmbr,
                        new { id = "account" + acc.nmbr, title = acc.company },
                        false,
                        false)<br />
                    }
                    @Html.ValidationMessageFor(m => m.account)
                </td>
            </tr>
            <tr>
                <td class="editor-label">Choose tariff</td>
                <td class="editor-field">
                    @foreach (tarif tar in tariffs)
                    {
                        @Html.RadioButtonLabelFor(
                        tar.TarifAnalizer(),
                        m => m.tariff_type,
                        tar.nmbr,
                        new { id = "tariff" + tar.nmbr },
                        false,
                        false)<br />
                    }
                    @Html.ValidationMessageFor(m => m.tariff_type)
                </td>
            </tr>
            <tr>
                <td class="editor-label">Set a lot</td>
                <td class="editor-field numeric">
                    @Html.TextBoxFor(m => m.volume)
                    @Html.ValidationMessageFor(m => m.volume)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Copy" />
                </td>
            </tr>
            <tr>
                <td colspan="2" id="copy_result"></td>
            </tr>
        </table>       
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#GoToCopy .copy_follow').hide();

        window.copy_submit = $('#GoToCopy input[type="submit"]');
        window.copy_result = $('#GoToCopy #copy_result');
    });
</script>