﻿@using Pipular;
@using Pipular.Models;
@model FollowModel

@{
    Layout = "~/Views/Shared/_AdditLayout.cshtml";
}

<script type="text/javascript">
    (function ($) {
        $.validator.unobtrusive.adapters.addBool("brequired", "required");
    }(jQuery));
</script>

@section AdditHeader {
    <span><b>Follow @Model.system_name</b></span>
    (<a onclick="closeAddit()">close</a>)
}

<div id="GoToFollow">
    @using (Ajax.BeginForm("ConnectSystem", "Private", new AjaxOptions()
    {
        UpdateTargetId = "popup_content",
        HttpMethod = "POST",
        OnSuccess = "closeAddit(); replaceTo('#freeConnects')"
    }))
    {
        <table class="tariffTable">
        @foreach (tarif t in Model.tariffs)
        {
            <tr>
                <td class="td_left">
                    @Html.RadioButtonLabelFor(t.TarifAnalizer(), m => m.tarif_id, t.nmbr)
                </td>
                <td class="options text_green">
                    @if (t.mt4 == 1)
                    { <span>MT</span> }
                    @if (t.email == 1)
                    { <span>E-mail</span> }
                    @if (t.phone == 1)
                    { <span>SMS</span> }
                    @if (t.icq == 1)
                    { <span>ICQ</span> }
                    @if (t.skype == 1)
                    { <span>Skype</span> }
                </td>
            </tr>
        }
        </table>
        @Html.ValidationMessageFor(m => m.tarif_id)
        <p>
            @Html.CheckBoxLabel(m => m.agree)<br />
            @Html.ValidationMessageFor(m => m.agree)
        </p>
        <input type="submit" disabled value="Follow" />
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#agree').change(function () {
            var submit = $('#GoToFollow input[type="submit"]');
            if (this.checked) submit.enable();
            else submit.disable();
        });
    });
</script>