﻿@using Pipular;
@using Pipular.Models;
@model List<SystemModel>

<div class="simple_block" id="my_systems">
    <div class="label">Your systems (
        @using(Ajax.BeginActionLink("NewSystem", "Private", null, Constants.additAjaxOptions, null))
        {
            <span>Create New System</span>
        })
    </div>
    @foreach (SystemModel sys in Model)
    {
        @Html.Partial("SystemBlock", sys)
    }
    <div class="clear"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>