﻿<div id="LinkYourAccount">
    <table>
        <tr>
            <td>
                <div class="download">
                    @Html.ActionLink("Download PipRunner", "GetPipRunner", "Private")
                </div>
            </td>
            <td class="middle_tr">
                <div class="vertical_line"></div>
                <div class="circle circle_left">
                    <div class="howto_icon install_icon"></div>
                </div>
            </td>
            <td></td>
        </tr>
         <tr>
            <td></td>
            <td class="middle_tr">
                <div class="vertical_line"></div>
                <div class="circle circle_right"></div>
            </td>
            <td>Install it on your MT4 or MT5 terminal</td>
        </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>