﻿@using Pipular.Models;
@model List<ConnectModel>

<table class="connectsTable">
    <thead>
        <tr>
            <th>
                System name
            </th>
            <th>
                Tariff
            </th>
            <th>
                Send to
            </th>
            <th>
                Connected
            </th>
            <th>
                Details
            </th>
            <th>
                Switch
            </th>
            <th>
                Disconnect
            </th>
        </tr>
    </thead>
    <tbody class="droppableTable">
    @if (Model.Count > 0)
    {
        int portfolio = Model.First().portfolio;
        string table_id = "ConnectsForPortfolio" + portfolio;
        
        foreach (ConnectModel s in Model)
        {            
            <tr class="connect" id="@s.nmbr" @if (s.connect_enabled == 0) {<text>style="background-color: #ccc;"</text>}>
                <td>
                    @Html.ActionLink(s.system_name, "SystemDetails", "Home", new { id = s.system_nmbr }, null)
                </td>
                <td>
                    @TariffModel.TarifAnalizer(s.type, s.tsize, s.summa)
                </td>
                <td>
                    &nbsp;
                    @if (s.mt4 == 1)
                    {
                        string style = "";
                        if (s.connect_mt4 == 1) { style = "color:LimeGreen;"; } else { style = "color: #696969;"; }
                    @Ajax.ActionLink("MT4", "SwitchSendingType", "Private", new { id = s.nmbr, type = 1, portfolio = portfolio }, new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = table_id,
                        OnComplete = "makeDrag('document', 'tr.connect')"
                    }, new { style = style })
                    }
                    else
                    { <text>MT4</text> }
                    &nbsp;
                    @if (s.email == 1)
                    {
                        string style = "";
                        if (s.connect_email == 1) { style = "color:LimeGreen;"; } else { style = "color: #696969;"; }
                        @Ajax.ActionLink("E-mail", "SwitchSendingType", "Private", new { id = s.nmbr, type = 2, portfolio = portfolio }, new AjaxOptions()
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = table_id,
                            OnComplete = "makeDrag('document', 'tr.connect')"
                        }, new { style = style })
                    }
                    else
                    { <text>E-mail</text> }
                    &nbsp;
                    @if (s.icq == 1)
                    {
                        string style = "";
                        if (s.connect_icq == 1) { style = "color:LimeGreen;"; } else { style = "color: #696969;"; }
                        @Ajax.ActionLink("ICQ", "SwitchSendingType", "Private", new { id = s.nmbr, type = 3, portfolio = portfolio }, new AjaxOptions()
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = table_id,
                            OnComplete = "makeDrag('document', 'tr.connect')"
                        }, new { style = style })
                    }
                    else
                    { <text>ICQ</text> }
                    &nbsp;
                    @if (s.phone == 1)
                    {
                        string style = "";
                        if (s.connect_phone == 1) { style = "color:LimeGreen;"; } else { style = "color: #696969;"; }
                        @Ajax.ActionLink("SMS", "SwitchSendingType", "Private", new { id = s.nmbr, type = 4, portfolio = portfolio }, new AjaxOptions()
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = table_id,
                            OnComplete = "makeDrag('document', 'tr.connect')"
                        }, new { style = style })
                    }
                    else
                    { <text>SMS</text> }
                    &nbsp;
                    @if (s.skype == 1)
                    {
                        string style = "";
                        if (s.connect_skype == 1) { style = "color:LimeGreen;"; } else { style = "color: #696969;"; }
                        @Ajax.ActionLink("Skype", "SwitchSendingType", "Private", new { id = s.nmbr, type = 5, portfolio = portfolio }, new AjaxOptions()
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = table_id,
                            OnComplete = "makeDrag('document', 'tr.connect')"
                        }, new { style = style })
                    }
                    else
                    { <text>Skype</text> }
                    &nbsp;
                </td>
                <td>
                    @s.dt_create
                </td>
                <td>
                    @Html.ActionLink("details", "ConnectDetails", "Private", new { id = s.nmbr }, null)
                </td>
                <td>
                    @Ajax.ActionLink("enable", "EnableConnect", "Private", new { id = s.nmbr, portfolio = portfolio }, new AjaxOptions()
                {
                    UpdateTargetId = table_id,
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnComplete = "makeDrag('document', 'tr.connect')"
                }) /
                    @Ajax.ActionLink("disable", "DisableConnect", "Private", new { id = s.nmbr, portfolio = portfolio }, new AjaxOptions()
                {
                    UpdateTargetId = table_id,
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnComplete = "makeDrag('document', 'tr.connect')"
                })
                </td>
                <td>
                    @Ajax.ActionLink("disconnect", "Disconnect", "Private", new { id = s.nmbr, portfolio = portfolio }, new AjaxOptions()
                {
                    Confirm = "Connect deleted permanently. Are you sure?",
                    UpdateTargetId = table_id,
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnComplete = "makeDrag('document', 'tr.connect')"
                })
                </td>
            </tr>
        }
    }
    <tr>
        <td colspan="8" style="text-align:center;">
            <p>Drop connect to here</p>
        </td>
    </tr>
    </tbody>
</table>