﻿@using Pipular.Models;
@model List<ConnectModel>

@{
    ViewBag.Title = "My Portfolios";
}

<script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.draggable.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.droppable.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.mouse.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.widget.min.js")" type="text/javascript"></script>
<link href="@Href("~/Content/themes/pipular/DragAndDrop.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(document).ready(function () {
        makeDrag("document", "tr.connect");
        checkForm();
    });

    function checkForm() {
        $('#create_button').click(function () {
            if ($('#portfolio_name').val().length < 4) {
                $('#msg').text('Name should be long then 4 symbols.');
                return false;
            }
            else {
                $('#msg').text('');
            }
            return true;
        });
    };

    function makeDrag(mainContainer, dragItem) {
        $(dragItem).draggable(
        {
            revert: "invalid",
            containment: mainContainer,
            helper: "clone",
            cursor: "move",
            drag: function (event, ui) {
                $(ui.helper.prevObject).addClass("connect_current");
            },
            stop: function (event, ui) {
                $(ui.helper.prevObject).removeClass("connect_current");
            }
        });
    }

    function makeDrop(container) {
        $(container).droppable({
            accept: 'tr.connect',
            drop: function (event, ui) {
                acceptConnect(ui.draggable, this);
            }
        });
    }

    function acceptConnect(item, container) {
        $.ajax({
            cache: false,
            type: 'GET',
            url: '@Url.Action("AddConnectToPortfolio", "Private")' + '?connect_id=' + $(item).attr('id') + '&portfolio_id=' + $(container).attr('id').substring(9),
            datatype: 'html',
            data: { tstamp: new Date().getTime() },
            success: function (data) { $(container).html(data); }
        })
        .fail(function () { alert("error"); })
        .success(function () { $(item).fadeOut(); })
        .done(function () { makeDrag("document", "tr.connect"); });
    }

    function deletePortfolio(portfolio) {
        $(portfolio).fadeOut();
    }
</script>

<h2>My portfolio</h2>

<div id="Portfolios" style="padding: 5px; display: inline-block;">
@{string portf_id = "";}
@foreach(PortfolioModel p in (List<PortfolioModel>)ViewData["portfolio_list"])
{
    ViewData["connects_in_p"] = Model.FindAll(m => m.portfolio == p.id).ToList();
    portf_id = "Portfolio" + p.id;
    
    <div class="portfolio" id="@portf_id"  style="margin: 5px;border: 1px solid black; padding: 5px;">
        @Html.Partial("Portfolio", p, ViewData)
    </div>
}
    <span id="NewPortfolio"></span>
    <div id="" style="margin: 5px; border: 1px solid black; padding: 5px; text-align:center;">
        @using (Ajax.BeginForm("AddPortfolio", "Private", new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "NewPortfolio", OnComplete = "makeDrop('div.portfolio'); document.getElementById('portfolio_name').value='';"}))
        {
            <p>
                Portfolio name
                <input id="portfolio_name" type="text" name="name" />
                <input id="create_button" type="submit" name="submit" value="Create" title="Add new portfolio" onclick="return checkForm();" />
                <span id="msg" style="color: Maroon;"></span>
            </p>
        }
    </div>
</div>

<h2>Other connected systems</h2>

<div id="ConnectsForPortfolio0">
    @Html.Partial("MyConnectsTable", Model.Where(m => m.portfolio == 0).ToList())
</div>
<script type="text/javascript">
    $('#ConnectsForPortfolio0').droppable({
        accept: 'tr.connect',
        drop: function (event, ui) {
            $.ajax({
                cache: false,
                type: 'GET',
                url: '@Url.Action("RemoveConnectFromPortfolio", "Private")' + '?connect_id=' + $(ui.draggable).attr('id'),
                datatype: 'html',
                data: { tstamp: new Date().getTime() },
                success: function (data) { $('#ConnectsForPortfolio0').html(data); }
            })
            .fail(function () { alert("error"); })
            .success(function () { $(ui.draggable).fadeOut(); })
            .done(function () { makeDrag("document", "tr.connect"); });
        }
    });
</script>
<p>
@Html.ActionLink("Follow other system", "Systems", "Home")
</p>