﻿@model Pipular.Models.AddSystemModel

@{
    Layout = "~/Views/Shared/_AdditLayout.cshtml";
}

@section AdditHeader {
    <span><b>Add new system</b></span>
    (<a onclick="closeAddit()">cancel</a>)
}

<div id="NewSystem">
    @using (Ajax.BeginForm(new AjaxOptions() { 
        UpdateTargetId = "popup_content", 
        HttpMethod = "POST", 
        OnSuccess = "closeAddit(); replaceTo('#my_systems');" 
    }))
    {
        @Html.ValidationSummary(true)
        <table>
            <tbody>
                <tr>
                    <td class="editor-label">@Html.LabelFor(model => model.Name)</td>
                    <td class="editor-field">
                        @Html.TextBoxFor(model => model.Name, new { size = 30 })<br />
                        @Html.ValidationMessageFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">@Html.LabelFor(model => model.Desc)</td>
                    <td class="editor-field">
                        @Html.TextAreaFor(model => model.Desc, new { cols = 30, rows = 7 })<br />
                        @Html.ValidationMessageFor(model => model.Desc)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">@Html.LabelFor(m => m.Trade_type)</td>
                    <td class="editor-field">
                        <input type="radio" name="Trade_type" value="1" id="Trade_type1" />
                        <label for="Trade_type1">Automated</label><br />
                        <input type="radio" name="Trade_type" value="2" id="Trade_type2" />
                        <label for="Trade_type2">Semi automated</label><br />
                        <input type="radio" name="Trade_type" value="4" id="Trade_type3" checked="checked" />
                        <label for="Trade_type3">Manual</label><br />
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">@Html.LabelFor(m => m.Trade_style)</td>
                    <td class="editor-field">
                        <input type="checkbox" name="Trade_style" value="1" id="Trade_style1" />
                        <label for="Trade_style1">Scalping</label><br />
                        <input type="checkbox" name="Trade_style" value="2" id="Trade_style2"/>
                        <label for="Trade_style2">Swing</label><br />
                        <input type="checkbox" name="Trade_style" value="4" id="Trade_style3"/>
                        <label for="Trade_style3">News trading</label><br />
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">@Html.LabelFor(m => m.Trade_markets)</td>
                    <td class="editor-field">
                        <input type="checkbox" name="Trade_markets" value="1" id="Trade_markets1" />
                        <label for="Trade_markets1">Forex</label><br />
                        <input type="checkbox" name="Trade_markets" value="2" id="Trade_markets2" />
                        <label for="Trade_markets2">Futures</label><br />
                        <input type="checkbox" name="Trade_markets" value="4" id="Trade_markets3" />
                        <label for="Trade_markets3">CFDs</label><br />
                        <input type="checkbox" name="Trade_markets" value="8" id="Trade_markets4" />
                        <label for="Trade_markets4">Metal</label><br />
                        <input type="checkbox" name="Trade_markets" value="16" id="Trade_markets5" />
                        <label for="Trade_markets5">Stocks</label><br />
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">@Html.LabelFor(m => m.Trade_sessions)</td>
                    <td class="editor-field">
                        <input type="checkbox" name="Trade_sessions" value="1" id="Trade_sessions1" />
                        <label for="Trade_sessions1">Asian</label><br />
                        <input type="checkbox" name="Trade_sessions" value="2" id="Trade_sessions2" />
                        <label for="Trade_sessions2">US</label><br />
                        <input type="checkbox" name="Trade_sessions" value="4" id="Trade_sessions3" />
                        <label for="Trade_sessions3">Europen</label><br />
                        <input type="checkbox" name="Trade_sessions" value="8" id="Trade_sessions4" />
                        <label for="Trade_sessions4">UK</label><br />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Create" /></td>
                </tr>
            </tbody>
        </table>

        <!--
        <div class="editor-label">
            @Html.LabelFor(model => model.Desc_html)
        </div>
        <div class="editor-field">
            <textarea id="Desc_html" name="Desc_html" rows="5" cols="40"></textarea>
        </div>
        -->
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>