﻿@using Pipular;
@model Pipular.Models.tarif

@{
    ViewBag.Title = "New Tariff";
    Layout = "~/Views/Shared/_AdditLayout.cshtml";
}

@section AdditHeader {
    <span><b>New tariff</b></span>
    (<a onclick="closeAddit()">cancel</a>)
}

<div id="NewTariff">
    @using (Ajax.BeginForm(
        "NewTariff", 
        new AjaxOptions() { 
            UpdateTargetId = "popup_content", 
            HttpMethod = "POST", 
            OnSuccess = "closeAddit(); replaceTo('#tariffs" + Model.system + "')"
        }))
    {
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td class="editor-label">Kind of fee</td>
                <td class="editor-field">
                    @Html.RadioButtonLabelFor("Following", m => m.@for, "0", new { id = "follow_", @class = "for" }, false, false)<br />
                    @Html.RadioButtonLabelFor("Copying by trade", m => m.@for, "1", new { id = "copy_", @class = "for" }, false, false)<br />
                    @Html.ValidationMessageFor(m => m.@for)
                </td>
            </tr>
            <tr>
                <td class="editor-label">Type of fee</td>
                <td class="editor-field">
                    @Html.RadioButtonLabelFor("Free", m => m.type, "0", new { id = "free", @class = "type" }, false, false)<br />
                    @Html.RadioButtonLabelFor("Time", m => m.type, "1", new { id = "time_fixed", @class = "type" }, false,  false)<br />
                    @Html.RadioButtonLabelFor("Pips", m => m.type, "2", new { id = "pips", @class = "type" }, false, false)<br />
                    @Html.RadioButtonLabelFor("Percents", m => m.type, "3", new { id = "percents", @class = "type" }, false, false)<br />
                    @Html.ValidationMessageFor(m => m.type)
                </td>
            </tr>
            <tr class="followFee">
                <td>
                    <span id="text1"></span>
                </td>
                <td class="editor-field numeric">
                    @Html.TextBoxFor(m => m.summa)
                    <span id="text2"></span><br />
                    @Html.ValidationMessageFor(m => m.summa)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.HiddenFor(m => m.system)
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var days_fixedLabel = $('label[for="time_fixed"]');
        
        var text1 = $('#text1'),
            text2 = $('#text2');

        var summa = $('#summa');

        var checkedFor, checkedType;

        function forToogle() {
            checkedFor = $('.for:checked').attr('id');

            switch (checkedFor) {
                case "copy_":
                    days_fixedLabel.text("Fixed");
                    typeToogle();
                    break
                case "follow_":
                    days_fixedLabel.text("Time");
                    typeToogle();
                    break
            }
            
        }

        function typeToogle() {
            checkedType = $('.type:checked').attr('id');

            var selectTime = function () {
                text1.text("Client pays me $");
                text2.text("for every week.");
                summa.enable().show();
            }

            var selectFixed = function () {
                text1.text("Client pays me $");
                text2.text("for one trade.");
                summa.enable().show();
            }

            var selectPips = function () {
                text1.text("Client pays me $");
                text2.text("for every 100 profit pips.");
                summa.enable().show();
            }

            var selectPercents = function () {
                text1.text("Client pays me");
                text2.text("% from profit.");
                summa.enable().show();
            }

            var selectClear = function () {
                text1.text("");
                text2.text("");
                summa.hide().disable();
            }

            switch (checkedType) {
                case "time_fixed":
                    switch (checkedFor) {
                        case "copy_":
                            selectFixed();
                            break
                        case "follow_":
                            selectTime();
                            break
                    }
                    break
                case "pips":
                    selectPips();
                    break
                case "percents":
                    selectPercents();
                    break
                default:
                    selectClear();
                    break
            }
        }

        $('#NewTariff .for').change(forToogle);
        $('#NewTariff .type').change(typeToogle);

        forToogle();
    });
</script>

