﻿@using Pipular.Models;
@model List<ConnectModel>

<table>
    <tbody>
    @foreach (ConnectModel s in Model)
    {
        <tr @if (s.connect_enabled == 0)
            {<text>style="background-color: #ccc;"</text>}>
            <td>
                @Html.ActionLink(s.system_name, "SystemDetails", "Home", new { id = s.system_nmbr }, null)
            </td>
            <td>
                @TariffModel.TarifAnalizer(s.type, s.tsize, s.summa)
            </td>
            <td>
                &nbsp;
                @if (s.mt4 == 1)
                {
                    if (s.connect_mt4 == 1)
                    {<span style="color: Green;">MT4</span>}
                }
                &nbsp;
                @if (s.email == 1)
                {
                    if (s.connect_email == 1)
                    {<span style="color: Green;">Email</span>}
                }
                &nbsp;
                @if (s.icq == 1)
                {
                    if (s.connect_icq == 1)
                    {<span style="color: Green;">MT4</span>}
                }
                &nbsp;
                @if (s.phone == 1)
                {
                    if (s.connect_phone == 1)
                    {<span style="color: Green;">MT4</span>}
                }
                &nbsp;
                @if (s.skype == 1)
                {
                    if (s.connect_skype == 1)
                    {<span style="color: Green;">MT4</span>}
                }
                &nbsp;
            </td>
            <td style="background-color:@if (s.connect_enabled == 1) {<text>Lime</text>}else{<text>Gray</text>};" title="@if (s.connect_enabled == 1) {<text>Enabled</text>}else{<text>Disabled</text>}">
                &nbsp;&nbsp;
            </td>
        </tr>
    }
    </tbody>
</table>