﻿@using Pipular;
@using Pipular.Models;
@model Portfolio

@{
    string atype = "unknown";
    switch(Model.atype)
    {
        case 1:
            atype = "demo";
            break;
        case 2:
            atype = "real";
            break;
        case 3:
            atype = "contest";
            break;
        default:
            atype = "unknown";
            break;
    }
    string ttype = "";
    switch(Model.ttype)
    {
        case 0:
            ttype = "MT4";
            break;
        case 1:
            ttype = "MT5";
            break;
    }
}

<div class="portfolio_block left" id="@Model.nmbr">
    <div class="header">
        <div class="caption left">
            <div class="company" title="@Model.company">@Model.company.Cut(15)</div>
        </div>
        @using(Ajax.BeginActionLink("PortfolioDelete", "Private", new { id = Model.nmbr }, new AjaxOptions() {
                                    OnSuccess = "deleteIfGood($('.portfolio_block').filter('#" + Model.nmbr + "'))",
                                    OnFailure = "fail($('.portfolio_block').filter('#" + Model.nmbr + "'))",
                                    Confirm = "Portfolio deletes permanently. Are you sure?",
                                    OnComplete = "Message()",
                                    UpdateTargetId = "alert" 
                               }, null))
        {
            <div class="header_button right">
                <div class="icon"><i class="icon-trash"></i></div>
            </div>
        }
        @using(Html.ExpanderIcon("connects" + Model.nmbr))
        {
            <div class="header_button right">
                <div class="icon"><i class="icon-arrow-up"></i></div>
            </div>
        }
    </div>
    <div class="underheader">
        <div class="balance left">@Model.balance @Model.currency</div>
        <div class="number @atype right" title="@atype">@ttype @Model.number</div>
        <div class="clear"></div>
    </div>
    <div class="connects">
        <!--
        <div class="expander">
            <span class="count font12"></span>
            <span class="ui-icon ui-icon-carat-1-s"></span>
        </div>
            -->
        <div class="sortable" id="@("connects" + Model.nmbr)">   
            @if (Model.connects != null)
            {
                foreach (ConnectModel connect in Model.connects)
                {
                    @Html.Partial("ConnectBlock", connect)
                }
            }
        </div> 
    </div>
    <div class="footer">
        <!--
        <div class="public">
            @if (Model.@public == 1)
            {
                <span title="public" style="color: LimeGreen">public</span>            
            }
            else
            {
                <span title="not public" style="color: #696969">public</span>
            }
        </div>
            -->
        @{ DateTime dt_last = Model.dt_last == null ? Model.dt_create : Model.dt_last.Value; }
        <div class="time_update time" title="date of last update @dt_last">@dt_last.ToLongDateString()</div>
    </div>
</div>