﻿@model Pipular.Models.RegisterModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Account information</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FIO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FIO)
            @Html.ValidationMessageFor(model => model.FIO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Foto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Foto)
            @Html.ValidationMessageFor(model => model.Foto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Addr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Addr)
            @Html.ValidationMessageFor(model => model.Addr)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ICQ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ICQ)
            @Html.ValidationMessageFor(model => model.ICQ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Skype)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Skype)
            @Html.ValidationMessageFor(model => model.Skype)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Experience)
        </div>
        <div>
            @Html.DropDownList("Experience", (SelectList)ViewData["ExperienceList"], "Select value...")
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(m => m.Trade_type)
        </div>
        <div class="editor-field">
            <input type="checkbox" name="Trade_type" value="1" @if(Model.Trade_type.Contains(1)) { <text> checked="checked" </text> }/>
            Automated
            <input type="checkbox" name="Trade_type" value="2" @if(Model.Trade_type.Contains(2)) { <text> checked="checked" </text> }/>
            Semi automated
            <input type="checkbox" name="Trade_type" value="4" @if(Model.Trade_type.Contains(4)) { <text> checked="checked" </text> }/>
            Manual
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Trade_style)
        </div>
        <div class="editor-field">
            <input type="checkbox" name="Trade_style" value="1" @if(Model.Trade_style.Contains(1)) { <text> checked="checked" </text> }/>
            Scalping
            <input type="checkbox" name="Trade_style" value="2" @if(Model.Trade_style.Contains(2)) { <text> checked="checked" </text> }/>
            Swing
            <input type="checkbox" name="Trade_style" value="4" @if(Model.Trade_style.Contains(4)) { <text> checked="checked" </text> }/>
            News trading
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Trade_markets)
        </div>
        <div class="editor-field">
            <input type="checkbox" name="Trade_markets" value="1" @if(Model.Trade_markets.Contains(1)) { <text> checked="checked" </text> }/>
            Forex
            <input type="checkbox" name="Trade_markets" value="2" @if(Model.Trade_markets.Contains(2)) { <text> checked="checked" </text> }/>
            Futures
            <input type="checkbox" name="Trade_markets" value="4" @if(Model.Trade_markets.Contains(4)) { <text> checked="checked" </text> }/>
            CFDs
            <input type="checkbox" name="Trade_markets" value="8" @if(Model.Trade_markets.Contains(8)) { <text> checked="checked" </text> }/>
            Metal
            <input type="checkbox" name="Trade_markets" value="16" @if(Model.Trade_markets.Contains(16)) { <text> checked="checked" </text> }/>
            Stocks
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Trade_sessions)
        </div>
        <div class="editor-field">
            <input type="checkbox" name="Trade_sessions" value="1" @if(Model.Trade_sessions.Contains(1)) { <text> checked="checked" </text> }/>
            Asian
            <input type="checkbox" name="Trade_sessions" value="2" @if(Model.Trade_sessions.Contains(2)) { <text> checked="checked" </text> }/>
            US
            <input type="checkbox" name="Trade_sessions" value="4" @if(Model.Trade_sessions.Contains(4)) { <text> checked="checked" </text> }/>
            Europen
            <input type="checkbox" name="Trade_sessions" value="8" @if(Model.Trade_sessions.Contains(8)) { <text> checked="checked" </text> }/>
            UK
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Desc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Desc)
            @Html.ValidationMessageFor(model => model.Desc)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
