﻿@using Pipular;
@using Pipular.Models;
@model List<Portfolio>

<script type="text/javascript">
    $(document).ready(function () {
        $('#submit_portfolio').click(function () {
            $('#submit_portfolio').button('disable');
            $('#min_wait').show();
            var portfolio = $('#portfolio_id').val();

            $.ajax({
                url: '@Url.Action("AddConnectToPortfolio", "Private")' + '?connect_id=@ViewBag.ConnectId' + '&portfolio_id=' + portfolio,
                cache: false,
                success: function () { $('#popup_content').html('@Html.ActionLink("Go to dashboard portfolios", "Dashboard", "Private", null, null, "follow_panel", null, null)'); }
            }).done(function (result) {
                if ($('#noportfolios').length > 0) {
                    $('#noportfolios').find('.connect_block#' + '@ViewBag.ConnectId').appendTo('.portfolio_block#' + portfolio + ' .connects .expandable');
                }
            });
        });
    });
</script>

<div id="SelectPortfolio">
    @using (Ajax.BeginForm("AddConnectToPortfolio", "Private", new AjaxOptions()
        {
            UpdateTargetId = "popup_content",
            HttpMethod = "POST",
            OnSuccess = "closeAddit(); replaceTo('#freeConnects')"
        }))
    {
        <table class="portfolioTable">
        @foreach (Portfolio p in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.RadioButtonLabel(
                        "portfolio_id",
                        p.number + " " + p.company,
                        p.nmbr,
                        new { id = "account" + p.nmbr },
                        false,
                        p.connects.Any(c => c.system_nmbr == ViewBag.SystemId))
                </td>
            </tr>
        }
        </table>
        <input type="hidden" name="connect_id" value="@ViewBag.ConnectId" />
        <input type="submit" value="Select" />
    }
    <p>
        @Html.ActionLink("Go to dashboard portfolios", "Dashboard", "Private", null, null, "follow_panel", null, null)
    </p> 
</div>