﻿@using Pipular;
@using Pipular.Models;
@model SystemModel

@{
    string update_selector = "mysystem" + Model.nmbr.ToString();

    AjaxOptions SendToAjaxOptions = new AjaxOptions()
                 {
                     UpdateTargetId = update_selector
                 };
}

<div class="system_block left" id="@update_selector" data-system="@Model.nmbr">
    <div class="header">
        <div class="caption left">@Ajax.ActionLink(Model.name, "SystemDetails", "Home", new { id = Model.nmbr }, Constants.additAjaxOptions)
        </div>
        @using(Ajax.BeginActionLink("SystemDelete", "Private", new { id = Model.nmbr }, new AjaxOptions()
                {
                    Confirm = "System permanently deleted. Are you sure?",
                    OnSuccess = "deleteIfGood('#" + update_selector + "')",
                    UpdateTargetId = "alert",
                    OnComplete = "Message()"
                }, null))
        {
            <div class="header_button right">
                <div class="icon"><i class="icon-trash"></i></div>
            </div>
        }
        @using(Html.ExpanderIcon("tariffs" + Model.nmbr))
        {
            <div class="header_button right">
                <div class="icon"><i class="icon-arrow-up"></i></div>
            </div>
        }
        @using (Ajax.BeginActionLink("SystemSwitch", "Private", new { id = Model.nmbr }, SendToAjaxOptions, new { data_ajax_mode = "replaceWith" }))
        {
            <div class="header_button right @if(Model.enabled == 1){<text>enabled</text>}else{<text>disabled</text>}">
                <div class="icon"><i></i></div>
            </div>
        }
        @using (Ajax.BeginActionLink("NewTariff", "Private", new { id = Model.nmbr }, Constants.additAjaxOptions, new { title = "add tariff" }))
        {
            <div class="header_button right">
                <div class="icon"><i class="icon-dollar"></i></div>
            </div>
        }
    </div>
    <div class="content">
        <div class="system_results">
            <div class="system_graph">
                <canvas id="@("system" + Model.nmbr + "_graph2")" width="270" height="50"></canvas>
            </div>
            <div class="system_profit left @if (Model.pl > 0)
                                           {<text>text_green</text>}
                                           else if (Model.pl < 0)
                                           {<text>text_red</text>}"><b>@Model.pl.ToString("F2")</b>&nbsp;(@Model.pts.ToString("F1"))</div>
            <div class="system_total_clients right">@Model.clients clients</div>
            <div class="clear"></div>
            <div class="system_total_trades left">@Model.opened / @Model.closed trades</div>
            <div class="system_total_signals right">@Model.signals signals</div>
            <div class="clear"></div>
        </div>
        <div class="tariffs">
            <div class="sortable" id="@("tariffs" + Model.nmbr)">
                @foreach (tarif t in Model.tariffs)
                {
                    @Html.Partial("TariffBlock", t)
                }
            </div>
        </div>
        <div class="footer">
            <div class="time right" title="created @Model.dt_create">@Model.dt_create.ToLongDateString()</div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var data = $.parseJSON('@Html.Raw(Json.Encode(Model.profit))', true);
        drawMiniChart('@("system" + Model.nmbr + "_graph2")', data);

        $('#@update_selector').darkbox();
    });
</script>