﻿@using Pipular;
@using Pipular.Models;
@model tarif

<div class="tariff_block block" id="@Model.nmbr">
    <div class="header">
        <div class="caption left">
            @switch (Model.@for)
            {
                case 0: <text>Following fee</text> break;
                case 1: <text>Copying fee</text> break;
            }
        </div>
        @using(Ajax.BeginActionLink("DeleteTariff", "Private", new { id = Model.nmbr }, new AjaxOptions()
                {
                    Confirm = "You really want to delete this tariff?",
                    OnSuccess = "deleteIfGood($('.tariff_block').filter('#" + Model.nmbr + "'), function() { recountExpander('.system_block .tariffs') })",
                    OnComplete = "Message()",
                    UpdateTargetId = "alert"
                }, null))
        {
            <div class="header_button right">
                <div class="icon"><i class="icon-trash"></i></div>
            </div>
        }
        @if(Model.type > 0)
        {
            using(Ajax.BeginActionLink("EditTariff", "Private", new { id = Model.nmbr }, Constants.additAjaxOptions, null))
            {
                <div class="header_button right">
                    <div class="icon"><i class="icon-config"></i></div>
                </div>
            }
        }
    </div>
    <div class="content">
        <div class="standart left" title="Following fees">@Model.TarifAnalizer()</div>
        <div class="clear"></div>
    </div>
</div>