@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/Content/fonts/AvenirNextLTPro-Regular.otf");
}

/* line 41, sass/Style.scss */
.left {
  float: left;
}

/* line 42, sass/Style.scss */
.right {
  float: right;
}

/* line 43, sass/Style.scss */
.clear {
  clear: both;
}

/* line 45, sass/Style.scss */
a {
  color: #4b91b5;
  font-family: "Avenir Next LT Pro";
  font-size: 14px;
  text-decoration: none;
}
/* line 50, sass/Style.scss */
a:hover {
  text-decoration: underline;
}
/* line 51, sass/Style.scss */
a:active {
  color: #316d8c;
}

/* line 54, sass/Style.scss */
body {
  color: #575757;
  font-family: "Avenir Next LT Pro";
  font-size: 16px;
  background-color: #2f3339;
  margin: 0;
  padding: 0 0 0 80px;
}

/* line 63, sass/Style.scss */
header {
  width: 100%;
}

/* line 67, sass/Style.scss */
#menu, #main {
  display: inline-block;
}

/* line 71, sass/Style.scss */
#menu {
  width: 250px;
  margin-left: -250px;
  overflow: visible;
  position: relative;
}
/* line 77, sass/Style.scss */
#menu #menu_panel {
  position: fixed;
  top: 40px;
  left: 20px;
  background-color: #575b67;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 1, 0.4);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 1, 0.4);
  box-shadow: 0 0 12px rgba(0, 0, 1, 0.4);
}
/* line 84, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper {
  margin-bottom: 5px;
  height: 280px;
  width: 250px;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 91, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .border_line {
  width: 1px;
  height: 281px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
}
/* line 98, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option {
  width: 250px;
  height: 70px;
  cursor: pointer;
  position: absolute;
  background: url('images/bg_pattern_fill_45.png?1367511879') repeat #838ca3;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: none;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 1, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 1, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 1, 0.15);
}
/* line 108, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option:hover {
  background-color: #7e8db1;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 1, 0.2), inset 0 -1px 0 #2a2e35;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 1, 0.2), inset 0 -1px 0 #2a2e35;
  box-shadow: 0 2px 3px rgba(0, 0, 1, 0.2), inset 0 -1px 0 #2a2e35;
}
/* line 112, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option:active {
  background-color: #c2fe33;
}
/* line 114, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option#menu_dashboard {
  top: 70px;
}
/* line 115, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option#menu_tradestream {
  top: 140px;
}
/* line 116, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option#menu_traders {
  top: 210px;
}
/* line 118, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content {
  height: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.06)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
}
/* line 122, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content .menu_icon, #menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content .menu_name {
  display: inline-block;
}
/* line 124, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content .menu_icon {
  position: relative;
  top: 15px;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), inset 0 1px 0 rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), inset 0 1px 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), inset 0 1px 0 rgba(0, 0, 0, 0.28);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.08)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
}
/* line 136, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content .menu_icon i {
  display: block;
  height: inherit;
  width: inherit;
  background-image: url('images/Sprite_icons.svg?1367585432');
}
/* line 145, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content .menu_name {
  color: white;
  font-size: 15px;
  margin-left: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.2);
}
/* line 153, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option#menu_logon i {
  background-position: 0 -120px;
}
/* line 154, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option#menu_dashboard i {
  background-position: 0 0;
}
/* line 155, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option#menu_tradestream i {
  background-position: 0 -40px;
}
/* line 156, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .menu_option#menu_traders i {
  background-position: 0 -80px;
}
/* line 159, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .first {
  border-top: none;
}
/* line 162, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .first .menu_option_content {
  background-image: -webkit-linear-gradient(100deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 100%);
  background-image: -moz-linear-gradient(100deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 100%);
  background-image: -o-linear-gradient(100deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 100%);
  background-image: linear-gradient(100deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 100%);
}
/* line 166, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .logout {
  background: url('images/bg_pattern_5.png?1367591105') repeat #464c5b;
}
/* line 169, sass/Style.scss */
#menu #menu_panel #menu_option_wrapper .login {
  background: url('images/bg_pattern_5.png?1367591105') repeat #ffa035;
}

/* line 176, sass/Style.scss */
#main {
  background-color: #c7c9cb;
  margin-right: -100%;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 1, 0.8);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 1, 0.8);
  box-shadow: 0 0 6px rgba(0, 0, 1, 0.8);
}

/* line 184, sass/Style.scss */
#content {
  background-color: #eff1f3;
  border-left: 1px solid #b2b2b2;
  margin-left: 5px;
}
