﻿@using Pipular;
@using Pipular.Models;
@model ContestModel

@{
    string term, kind;
    Contests.GetTerms(Model.type, out term, out kind);
}

<div class="contest_contaner" id="@Model.nmbr">
    <div class="leader" title="current leader">
        @if (Model.leader_name != null)
        {
            <span class="number_one">Leader:</span>
            <span>@Html.ActionLink(Model.leader_name, "SystemDetails", new { id = Model.leader })</span>
            <span>@Model.value</span> <span>@kind</span>
        }
    </div>
    <div class="terms">
        <span class="underline term">@term</span><br />
        will win <span class="prize">$@Model.prize</span><br />
        for @Html.GetPeriod(Model.dt_begin, Model.dt_end)
    </div>
    <div class="time">
        <div class="start">@Model.dt_begin.DateToUnix()</div>
        <div class="end">@Model.dt_end.DateToUnix()</div>
        <div class="message"></div>
        <div class="countdown"></div>
    </div>
    <div class="desc">
        <span class="underline">Start</span>: @Model.dt_begin.ToClientTime().ToLongDateString() @Model.dt_begin.ToClientTime().ToShortTimeString()<br />
        <span class="underline">Stop</span>: @Model.dt_end.ToClientTime().ToLongDateString() @Model.dt_end.ToClientTime().ToShortTimeString()<br />
        <p>@Model.desc</p>
    </div>
</div>