﻿@using Pipular;
@using Pipular.Models;
@model ContestModel

@{
    string term, kind;
    Contests.GetTerms(Model.type, out term, out kind);
}

<div class="contest_contaner @if (Model.leader != null){<text>positive</text>}
                             else
                             {<text>negative</text>}" id="@Model.nmbr">
    <div class="terms">
        <span class="underline term">@term</span><br />
        <div class="winner">
            @if (Model.leader_name != null)
            {
                <span>@Ajax.ActionLink(Model.leader_name, "SystemDetails", "Home", new { id = Model.leader }, new AjaxOptions()
                 {
                     OnBegin = "OpenPopup('Details of " + Model.leader_name + "', 950)",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "popup_content",
                     OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')"
                 })
                 </span>
                <span>with result</span>
                <span class="underline">@Model.value @kind</span><br />
                <span>for @Html.GetPeriod(Model.dt_begin, Model.dt_end)</span>
            }
            else
            {
                <span>We have no winner</span>
            }
        </div>
        Prize <span class="prize">$@Model.prize</span><br />
    </div> 
    <div class="desc">
        <span class="underline">Start</span>: @Model.dt_begin.ToClientTime().ToLongDateString() @Model.dt_begin.ToClientTime().ToShortTimeString()<br />
        <span class="underline">Stop</span>: @Model.dt_end.ToClientTime().ToLongDateString() @Model.dt_end.ToClientTime().ToShortTimeString()<br />
        <p>@Model.desc</p>
    </div>
</div>