﻿@using Pipular;
@model Pipular.Models.user

<div class="follower">
    <div class="photo"><a href="@Href("~/Home/TraderDetails/" + Model.login)" target="_blank"><img src="@Model.photo" alt="@Model.login" /></a></div>
    <div class="info">
        <div class="fio"><a href="@Href("~/Home/TraderDetails/" + Model.login)" target="_blank">@Model.fio</a></div>
        <div class="experience">
        @if(Model.experience > 0)
        {
            <span class="underline">Experience:</span> @UserInfo.GetExperience(Model.experience)<text> in </text>@UserInfo.GetMarket(Model.trade_markets)
        } 
        </div>
        <div class="trade_style">
        @if(Model.trade_style > 0)
        {
            <span class="underline">Style:</span> @UserInfo.GetStyle(Model.trade_style)
        }
        </div>
    </div>
</div>