﻿@model Pipular.Models.TopInstrumentsModel

@{
    int sentiment = 0;
    if(Model.total_signals > 0)
    {
        sentiment = (int)Math.Round((decimal)Model.buys / Model.total_signals * 100);
    }
}
<div class="instrument_contaner @Model.symbol">
    <div class="place">@Model.place</div>
    <div class="buy_info profit" title="buy">@sentiment%</div>
    <div class="symbol"><b>@Model.symbol</b></div>
    <div class="total_signals"><b>@Model.signals</b> signals</div>
    <div class="sell_info loss" title="sell">@(100-sentiment)%</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.instrument_contaner').filter('.@Model.symbol').progressbar({ value: @sentiment });
    });
</script>