﻿@using Pipular.Models;
@using System.Web.Script.Serialization;
@model LiveSystemModel

@{
    double profit = Math.Round(Model.data.profit + Model.data.loss, 2);
    double profit_pips = Math.Round(Model.data.profit_pip + Model.data.loss_pip, 1);
    string graph_id = "system" + Model.data.system + "_graph";
}
<div class="system_contaner" id="@Model.data.system">
    <div class="system_head">
        <div class="system_name">@Ajax.ActionLink(Model.name, "SystemDetails", "Home", new { id = Model.data.system }, new AjaxOptions()
                           {
                               OnBegin = "OpenPopup('Details of " + Model.name + "', 950)",
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "popup_content",
                               OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')"
                           })
        </div>
        <div class="system_profit">Profit @profit.ToString("F2") (@profit_pips.ToString("F1"))</div>
    </div>
    <div class="system_graph"><canvas id="@graph_id" width="238" height="57"></canvas></div>
    <div class="more_signals">▼</div>
    <div class="system_signals"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var data = $.parseJSON('@Html.Raw(Json.Encode(Model.profit))', true);
        drawMiniChart("@graph_id", data);
    });
</script>