﻿@using Pipular;
@using Pipular.Models;
@model LiveTradeSignal

<div class="signal_contaner @Model.uid" id="@Model.nmbr">
    <div class="sender">
        <div class="trader">Trader: @Html.ActionLink(Model.trader, "TraderDetails", "Home", new { id = Model.trader }, new { target = "_blank" })</div>
        <div class="system">System: @Ajax.ActionLink(Model.system, "SystemDetails", "Home", new { id = Model.system_id }, new AjaxOptions()
                               {
                                   OnBegin = "OpenPopup('Details of " + Model.system+ "', 950)",
                                   InsertionMode = InsertionMode.Replace,
                                   UpdateTargetId = "popup_content",
                                   OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')"
                               })
        </div>
    </div>
    <div class="extension">
        <div class="profit @if (Model.profit < 0) {<text>loss</text>}">@Model.profit_str</div>
        <div class="sl" title="stop loss">@Model.sl_str</div>
        <div class="tp" title="take profit">@Model.tp_str</div>
    </div>
    <div class="dt_terminal">@Model.dt_terminal</div>
    <div class="unix_time">@Extension.DateToUnix(Model.public_time)</div>
    <div class="order">
        <div class="type">@Model.signal_type</div>
        <div class="command">@Model.command</div>
        <div class="symbol">@Model.symbol</div>
        <div class="price">at @Model.price.ToString("F" + Model.digits)</div>
    </div>
    <div class="bottom">
        @if (ViewBag.NewSignal == null)
        {
            <div class="time" title="@Model.public_time">@Model.public_time.ToString("dd MMMM ")  @Model.public_time.ToShortTimeString()</div>
        }
        else
        { 
            <div class="time need_update" title="@Model.public_time">just now</div>
        }
        @if (Model.signal_type_nmbr == 0)
        {
            <div class="copy">
            @Ajax.ActionLink("copy", "GoToCopy", "Private", new { id = Model.nmbr, uid = Model.uid, time = Model.dt_terminal }, new AjaxOptions()
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           OnBegin = "OpenPopup('Copy trade', 600)",
           UpdateTargetId = "popup_content",
           OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')",
       })</div>
            <div class="separator">|</div>
        }
        <div class="follow">@Ajax.ActionLink("follow", "GoToFollow", "Private", new { id = Model.system_id }, new AjaxOptions()
                       { 
                         HttpMethod = "GET", 
                         InsertionMode = InsertionMode.Replace, 
                         OnBegin = "OpenPopup('Follow system " + Model.system.ToUpper() + "', 600)",
                         UpdateTargetId = "popup_content",
                         OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')",
                     })</div>
        
    </div>
</div>