﻿@using Pipular.Models;
@using Pipular;
@model List<signal>

@if (Model.Count > 0)
{
    foreach (signal s in Model)
    {
        @Html.Partial("SignalContanerMini", s)
    }
}
else
{
    <div class="signal_contaner" id="signal0">No signals</div>
}