﻿@using Pipular.Models;
@using Pipular;
@model List<user>

@if (Model.Count > 0)
{
    foreach (user f in Model)
    {
        @Html.Partial("Follower", f)
    }
}
else
{
    <div class="follower">No followers</div>
}