﻿@using Pipular;
@using Pipular.Models;
@model signal

@{
    double profit_num = 0;
    string profit = SignalInfo.GetProfit(Model, out profit_num);
    string sl_str = "";
    string tp_str = "";
    LiveTradeSignal.GetModify(Model, out sl_str, out tp_str);
    DateTime terminal_time = new DateTime(1970, 1, 1, 0, 0, 0, 0).AddSeconds(Model.dt_terminal);
}       
<div class="signal_contaner" id="@Model.nmbr">
    <div class="time" title="@Model.dt_create">@Model.dt_create.ToString("dd MMMM ")  @Model.dt_create.ToShortTimeString()</div>
    <div class="extension">
        @if(Model.stype == 1)
        {
            <div class="sl" title="stop loss">@sl_str</div>
            <div class="separator">|</div>
            <div class="tp" title="take profit">@tp_str</div>
        }
        <div class="profit @if (profit_num < 0) {<text>loss</text>}">@profit</div>
    </div>
    <div class="order">
        <div class="type">@LiveTradeSignal.GetSignalType(Model.stype)</div>
        <div class="command">@LiveTradeSignal.GetCMD(Model.cmd)</div>
        <div class="symbol">@Model.symbol</div>
        <div class="price">at @LiveTradeSignal.GetPrice(Model).ToString("F" + Model.digits)</div>
    </div>
</div>