﻿@using Pipular.Models;
@model List<rating>
       
<table style="text-align:center;" id="vsystems" class="tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Graph</th>
            <th>Profit/loss (pips)</th>
            <th>Clients</th>
            <th>Signals</th>
            <th>Trades</th>
            <th title="trades per day">Frequency</th>
            <th>Max Drawdown</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (rating r in Model)
    {
        string id = "system" + r.system_nmbr;
        <tr id="@id" data-system_nmbr="@r.system_nmbr">
            <td>
                @Ajax.ActionLink(r.system_name, "SystemDetails", "Home", new { id = r.system_nmbr }, new AjaxOptions()
                {
                    OnBegin = "OpenPopup('Details of " + r.system_name + "', 950)",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "popup_content",
                    OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')"
                }) (id @r.system_nmbr)
            </td>
            <td class="mini_graph">
                <canvas width="150" height="34" id="@(id+"_graph")"></canvas>
            </td>
            <td>
                @r.pl.ToString("F2") (@r.pts.ToString("F1"))
            </td>
            <td>
                @r.clients
            </td>
            <td>
                @r.signals
            </td>
            <td>
                @r.trades
            </td>
            <td>
                @r.frequency.ToString("F2")
            </td>
            <td>
                @r.maxdd.ToString("F2")
            </td>
            <td>
                @Ajax.ActionLink("follow", "GoToFollow", "Private", new { id = r.system_nmbr }, new AjaxOptions()
           {
               HttpMethod = "GET",
               OnBegin = "OpenPopup('Follow system " + r.system_name.ToUpper() + "', 600)",
               UpdateTargetId = "popup_content",
               OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')",
           })
            </td>   
        </tr>
    }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#vsystems").tablesorter();

        $.ajax({
            type: 'GET',
            cache: false,
            url: '@Url.Action("SystemMiniHistory", "Chart")',
            success: function (result) {
                var result = $.parseJSON(window.JSON.stringify(result), true);
                $("#vsystems td.mini_graph canvas").each(function (i) {
                    var data;
                    var system = $(this).parent().parent().attr("data-system_nmbr");
                    for (var j = 0; j < result.length; j++)
                        if (result[j].system == system) {
                            data = result[j].profit;
                            drawMiniChart($(this).attr("id"), data);
                        }
                });
            }
        });
    });
</script>