﻿@using Pipular.Models;

@{
    ViewBag.Title = "System details";
}

<script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/date.format.js")" type="text/javascript"></script>

@{
    system sys = (system)ViewData["system"];
    string id = sys.nmbr.ToString();
    string systemid = "system" + id;
}

@if (ViewData["start"] != null && ViewData["stop"] != null)
{
    <b>Period from <span class="underline red_text">@ViewData["start"]</span> to <span class="underline red_text">@ViewData["stop"]</span></b>
}

<div class="system_description font12">
    @Html.Partial("SystemDescription", sys)
</div>

<div class="connection_info">
    @if ((bool)ViewData["IsConnected"])
    {
        <span>System is connected</span>
        <ul>
        @foreach (portfolio p in (List<portfolio>)ViewData["portfolios"])
        {         
            <li>in @Html.ActionLink(p.name, "Dashboard", "Private")</li>
        }
        </ul>
    }
    @if ((bool)ViewData["IsOwner"])
    {
        <span>It's your system</span><br />
    }
</div>

<div id="graph_buttons">
    <div id="follow_button">
        @Ajax.ActionLink("follow", "GoToFollow", "Private", new { id = id }, new AjaxOptions()
                           { 
                             HttpMethod = "GET", 
                             InsertionMode = InsertionMode.Replace, 
                             OnBegin = "OpenPopup('Follow system " + sys.name.ToUpper() + "', 600)",
                             UpdateTargetId = "popup_content",
                             OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')",
                             LoadingElementId = "main_loader"
                         })
    </div>
    <button id="profit_chart_button">Profit</button>
    <button id="pips_chart_button">Pips</button>
</div>

<canvas id="canvasGraph" width=900 height=400></canvas>

<fieldset id="statistic">
    <legend>Statistics</legend>
    @Html.Partial("SystemStatistic", ViewData["statistic"])
</fieldset>

<div id="time_delay">
    @if(!(bool)ViewData["IsConnected"] && !(bool)ViewData["IsOwner"])
    {
        <text>Trade info displays with a delay of @ViewData["time_delay"] hours.</text>
    }
</div>

<fieldset id="trade_info">
    <legend>Trade info</legend>
    <div id="navigation">
        <div class="tabs">
            <a href="#history" class="tab current">History</a>
            <a href="#trades" class="tab">Open trades</a>
            <a href="#signals" class="tab">Signals</a>
        </div>
    </div>
    <div id="data">
        <div class="items">
            <div class="tab_panel" id="history">@Html.Partial("HistoryTable", (IQueryable<history>)ViewData["history_system"])</div>
            <div class="tab_panel" id="trades">@Html.Partial("TradesTable", (IQueryable<trade>)ViewData["trade_system"])</div>
            <div class="tab_panel" id="signals">@Html.Partial("SignalsTable", (IQueryable<signal>)ViewData["signal_system"])</div>
        </div>
    </div>
</fieldset>

<script type="text/javascript">
    $(document).ready(function () {
        // get chart data
        $.ajax({
            type: 'GET',
            cache: false,
            url: '@Html.Raw(Url.Action("SystemHistory", "Chart", new { id = id, start = ViewData["start"], stop = ViewData["stop"] }))',
            success: function (result) { drawSystemChart(result, "canvasGraph", "profit_chart_button", "pips_chart_button"); }
        });

        $('#data').scrollable({
            next: '#navigation .next',
            prev: '#navigation .prev'
        }).navigator({
            navi: 'div.tabs',
            naviItem: 'a.tab',
            activeClass: 'current'
        });

        $('#follow_button').button();
    });
</script>