﻿@using Pipular.Models;
@using Pipular;

@if ((int)ViewBag.TotalPages > 1)
{
    <div class="navigation">
        <div class="prev">
            <span class="ui-icon ui-icon-triangle-1-w">prev</span>
        </div>
        <div class="tab_panel">
            <div class="little_window"></div>
            @Html.PageList((int)ViewBag.TotalPages, "tabs", "", "tab")
        </div>
        <div class="next">
            <span class="ui-icon ui-icon-triangle-1-e">next</span>
        </div>
    </div>
}
<div class="followers">
    <div class="items">
        @for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
        {
            using (Html.Div("sheet", (i-1).ToString()))
            {
                
            }
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var totalPages = parseInt('@ViewBag.TotalPages');
        var system_followers = $('#pop_systems').find('.system_contaner').filter('#' + '@ViewBag.System').children('.system_followers');
        var followers = $(system_followers).find('.followers');
        var navigation = $(system_followers).find('.navigation');
        var navi = $(system_followers).find('.tab_panel');

        $(followers).scrollable({ circular: true }).navigator({
            navi: navi,
            naviItem: 'div.tab',
            activeClass: 'current'
        });

        var api = $(followers).data("scrollable");
        var items = api.getItems();

        function loadFollowersToSheet(items, slide) {
            if (slide < totalPages && slide >= 0) {
                var sheet = $(items).filter('#' + slide);
                if ($(sheet).find('.follower').length == 0) {
                    $.ajax({
                        cache: false,
                        url: 'MoreFollowers',
                        data: 'system=' + '@ViewBag.System' + '&pageNum=' + slide,
                        beforeSend: function () { $(sheet).html('<div class="circle_loader"></div>'); },
                        success: function (result) {
                            $(sheet).html(result);
                            $(sheet).find('.follower').hide().fadeIn(500);
                            if (slide == 0 || slide == totalPages - 1) {
                                api.getItemWrap().find('.cloned').filter('#' + slide).html(result);
                            }
                        }
                    })
                }
                $(navigation).find('.tabs').animate({ left: 85 - slide * 30 }, 500);
            }
        }

        api.onBeforeSeek(function (event, slide) {
            loadFollowersToSheet(items, slide);
        });

        $(navigation).clone(true).insertAfter(followers);
        navigation = $(system_followers).find('.navigation');
        loadFollowersToSheet(items, 0);
    });
</script>