﻿@using Pipular;
@using Pipular.Models;
@using Pipular.Controllers;
@model system

<div class="system_desc">
    <div class="trader">
        <span class="block"><b>Trader:</b> @Html.ActionLink(ViewData["trader"].ToString(), "TraderDetails", "Home", new { id = ViewData["trader"] }, new { target = "_blank" })</span>
    </div>
    <div class="trade_type">@Html.GetTradeType(Model.trade_type)</div>
    <div class="trade_style">@Html.GetTradeStyle(Model.trade_style)</div>
    <div class="trade_markets">@Html.GetTradeMarkets(Model.trade_markets)</div>
    <div class="trade_sessions">@Html.GetTradeSessions(Model.trade_sessions)</div>
    @if (Model.desc != null)
    {
        <div class="desc_text"><span class="block"><span class="underline">Description:</span> @Model.desc</span></div>
    }
</div>
