﻿@model Pipular.Models.TopSystemsModel

<div class="system_contaner" id="@Model.nmbr">
    <div class="system_head">
        <div class="place">@Model.place</div>
        <div class="system_name">@Ajax.ActionLink(Model.name, "SystemDetails", "Home", new { id = Model.nmbr }, new AjaxOptions()
                            {
                                OnBegin = "OpenPopup('Details of " + Model.name + "', 950)",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "popup_content",
                                OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')"
                            })
        </div>
        <div class="system_profit ">
            $<span class="@if(Model.profit < 0){<text>loss</text>}
                         else
                         {<text>profit</text>}">@Model.profit.ToString("F2")</span>
            (<span class="@if (Model.pips < 0)
                         {<text>loss</text>}
                         else
                         {<text>profit</text>}">@Model.pips.ToString("F1")</span> pips)
        </div>
    </div>
    <div class="system_graph">
        <canvas id="@("system" + Model.nmbr + "_graph2")" width="238" height="58"></canvas>
    </div>
</div>