﻿@model Pipular.Models.vsystem

@{
    double profit = Math.Round(Model.h_pl_profit + Model.h_pl_loss + Model.t_pl_profit + Model.t_pl_loss, 2);
    double profit_pips = Math.Round(Model.h_pts_profit + Model.h_pts_loss + Model.t_pts_profit + Model.t_pts_loss, 1);
}
<div class="system_contaner" id="@Model.nmbr">
    <div class="system_head">
        <div class="place">@ViewBag.place</div>
        <div class="system_name">@Ajax.ActionLink(Model.name, "SystemDetails", "Home", new { id = Model.nmbr }, new AjaxOptions()
                            {
                                OnBegin = "OpenPopup('Details of " + Model.name + "', 950)",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "popup_content",
                                OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')"
                            })
        </div>
        <div class="system_followers_num">@Model.followers @if(@Model.followers == 1){<text> follower</text>}else{<text> followers</text>}</div>
    </div>
    <div class="system_followers"></div>
</div>