﻿@using Pipular.Models;
@model List<TopInstrumentsModel>

@if (Model.Count > 0)
{
    int i = 1;
    foreach(TopInstrumentsModel ti in Model)
    {
        ti.place = i;
        i++;
        @Html.Partial("InstrumentMini", ti)
    }
}
else
{
    <span>No instruments</span>
}