﻿@using Pipular.Models;
@model List<TopTradesModel>

@if (Model.Count > 0)
{
    int i = 1;
    foreach (TopTradesModel tt in Model)
    {
        tt.place = i;
        i++;
        @Html.Partial("TopTradeMini", tt)
    }
}
else
{
    <span>No trades</span>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#top_trades').find('.trade_contaner').children('.trade_head').each(function (i) {
            $(this).click(function () {
                var details = $(this).parent().children('.details');
                if ($(details).css('display') == 'none') $(details).slideDown(500);
                else $(details).slideUp(500);
            });
        });
    });
</script>