﻿@using Pipular.Models;
@model TopTradesModel

<div class="trade_contaner" id="@Model.nmbr">
    <div class="trade_head">
        <div class="place">@Model.place</div>
        <div class="trade_system">@Ajax.ActionLink(Model.system_name, "SystemDetails", "Home", new { id = Model.system }, new AjaxOptions()
                {
                    OnBegin = "OpenPopup('Details of " + Model.system_name + "', 950)",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "popup_content",
                    OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')"
                })
        </div>
        <div class="trade_profit">
            $<span class="@if(Model.pl < 0){<text>loss</text>}
                            else
                            {<text>profit</text>}">@Model.pl.ToString("F2")</span>
            (<span class="@if (Model.pts < 0)
                            {<text>loss</text>}
                            else
                            {<text>profit</text>}">@Model.pts.ToString("F1")</span> pips)
        </div>
    </div>
    <div class="details">
        <div class="command">@LiveTradeSignal.GetCMD(Model.cmd)</div>
        <div class="symbol"><b>@Model.symbol</b></div>
        <div class="open_price">Opened by @Model.open_price.ToString("F" + Model.digits)</div>
        <div class="close_price">Closed by @Model.close_price.ToString("F" + Model.digits)</div>
        <div class="copies">Copies: @Model.copies</div>
        <div class="time" title="@Model.dt_create">@Model.dt_create.ToString("dd MMMM ")  @Model.dt_create.ToShortTimeString()</div>
    </div>
</div>