﻿@using Pipular.Models;
@model IEnumerable<TraderModel>

<table id="tradersTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Experience
            </th>
            <th>
                Systems
            </th>
            <th>
                Connects
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (TraderModel t in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(t.name, "TraderDetails", "Home", new { id = t.name }, null)
                </td>
                <td>
                    @{
                        switch (t.experience)
                        {
                            case 0:
                                <text>no experience</text>
                                break;
                            case 1:
                                <text>less then a year</text>
                                break;
                            case 11:
                                <text>10 years or more</text>
                                break;
                            default:
                                <text>@(t.experience - 1) years</text>
                                break;
                        }
                    }
                </td>
                <td>
                    @t.systems
                </td>
                <td>
                    @t.connects
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tradersTable").tablesorter();
    });
</script>
