﻿@using Pipular;
@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "TradeStream";
}
<link href="@Url.Content("~/Content/themes/pipular/TradeStream.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/charts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/teechart.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/teechart-data.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/teechart-extras.js")" type="text/javascript"></script>

<center>
    <div class="main_contaner" id="last_systems">
        <div class="head">Last systems</div>
        <div id="live_systems"></div>
        <div class="load_button">
            <button id="load_latest_systems">
                <div class="wait" style="float: left"></div>
                <div class="count" id="system_count">0</div> systems +10
                <div class="wait" style="float: right"></div>
            </button>
        </div>
    </div>

    <div class="main_contaner" id="last_signals">
        <div class="head">Last signals</div>
        <div id="current_time">@Extension.DateToUnix(DateTime.Now)</div>
        <div id="live_signals"></div>
        <div class="load_button">
            <button id="load_latest_signals">
                <div class="wait" style="float: left"></div>
                <div class="count" id="signal_count">0</div> signals +10
                <div class="wait" style="float: right"></div>
            </button>
        </div>
    </div>
    <div class="main_contaner" id="statistics">
        <div class="head">Top Five</div>
        <div class="box" id="top_systems">
            <div class="name">Top performing systems</div>
            <div class="header">
                <div class="expander"></div>
                <div class="filter">
                    <select dir="rtl">
                        <option value="0" selected="selected">Ever</option>
                        <option value="3">Today</option>
                        <option value="5">This week</option>
                        <option value="7">This month</option>
                        <option value="8">Last month</option>
                        <option value="9">Last 3 months</option>
                        <option value="10">Last year</option>
                    </select>
                </div>
            </div>
            <div class="content"></div>
        </div>
        <div class="box" id="pop_systems">
            <div class="name">Top popular systems</div>
            <div class="header">
                <div class="expander"></div>
            </div>
            <div class="content"></div>
        </div>
        <div class="box" id="top_trades">
            <div class="name">Top profitable trades</div>
            <div class="header">
                <div class="expander"></div>
                <div class="filter">
                    <select dir="rtl">
                        <option value="0" selected="selected">Ever</option>
                        <option value="3">Today</option>
                        <option value="5">This week</option>
                        <option value="7">This month</option>
                        <option value="8">Last month</option>
                        <option value="9">Last 3 months</option>
                        <option value="10">Last year</option>
                    </select>
                </div>
            </div>
            <div class="content"></div>
        </div>
        <div class="box" id="contests">
            <div class="name">Contests</div>
            <div class="header">
                <div class="expander"></div>
            </div>
            <div class="content"></div>
        </div>
        <div class="head">Statistics</div>
        <div class="box" id="top_instruments">
            <div class="name">Most traded instruments</div>
            <div class="header">
                <div class="expander"></div>
                <div class="filter">
                    <select dir="rtl">
                        <option value="0" selected="selected">Ever</option>
                        <option value="3">Today</option>
                        <option value="5">This week</option>
                        <option value="7">This month</option>
                        <option value="8">Last month</option>
                        <option value="9">Last 3 months</option>
                        <option value="10">Last year</option>
                    </select>
                </div>
            </div>
            <div class="content"></div>
        </div>
        <div class="box" id="last_members">
            <div class="name">Recent members</div>
            <div class="header">
                <div class="expander"></div>
            </div>
            <div class="content"></div>
        </div>
    </div>
</center>
<script src="@Url.Content("~/Scripts/jquery.signalR-0.5.2.js")" type="text/javascript"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TimeUpdate.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        /* SIGNALS */
        var livetrades = $.connection.liveTrades;
        var max_count = 9;

        timeUpdate('#current_time', '.signal_contaner', '.unix_time', '.need_update', 5000);

        function FadeSignals(system) {
            var system_contaner = $('.system_contaner').filter('#' + system);
            $(system_contaner).find('.more_signals').unbind('click');
            $(system_contaner).find('.more_signals').click(function () {
                $(system_contaner).find(".system_signals").slideUp(500, function () {
                    $(system_contaner).find('.more_signals').text("▼");
                    MakeClickable(system);
                });
            });
        }

        function MakeClickable(system) {
            var system_contaner = $('.system_contaner').filter('#' + system);
            $(system_contaner).find('.more_signals').unbind('click');
            $(system_contaner).find('.more_signals').click(function () {
                if ($(system_contaner).find(".signal_contaner").length == 0) {
                    $.ajax({
                        url: 'SystemSignals',
                        data: 'system=' + system + '&pageSize=10',
                        cache: false,
                        success: function (result) {
                            $(system_contaner).find('.more_signals').text("▲");
                            $(system_contaner).find(".system_signals").html(result);
                            $(system_contaner).find(".system_signals").slideDown(100);
                            FadeSignals(system);
                        }
                    })
                }
                else {
                    $(system_contaner).find('.more_signals').text("▲");
                    $(system_contaner).find(".system_signals").slideDown(500);
                    FadeSignals(system);
                }
            });
        }

        function Counter(count, elem) {
            var counter = parseInt($(elem).text());
            $(elem).text(counter + count);
        };

        function SetLabel(elem, text) {
            $(elem).text(text);
        }

        // SIGNALS

        $('#load_latest_signals').click(function () {
            var id = $('#live_signals .signal_contaner:last').attr('id');
            var uid = $('#live_signals .signal_contaner:last').attr('class');
            if (uid != undefined) uid = uid.split(' ')[1]; else uid = '';
            var time = $('#live_signals .signal_contaner:last .dt_terminal').text();
            if (id == undefined) id = '';
            loadSignals(id, uid, time, 10);
        });

        function loadSignals(id, uid, time, count) {
            $.ajax({
                url: 'GetSignals',
                data: 'id=' + id + '&uid=' + uid + '&dt=' + time + '&count=' + count,
                cache: false,
                beforeSend: function () {
                    $('#load_latest_signals div.wait').show();
                },
                success: function (result) {
                    var real_count = $(result).filter('.signal_contaner').length;
                    if (real_count > 0) {
                        $(result).appendTo("#live_signals").hide().slideDown(1000);
                        Counter(real_count, '#signal_count');
                        max_count = parseInt($('#signal_count').text()) + real_count - 1;
                    }
                    else SetLabel('#load_latest_signals', result);
                }
            }).done(function () { $('#load_latest_signals div.wait').hide(); });
        }

        // SYSTEMS

        $('#load_latest_systems').click(function () {
            var id = $('#live_systems .system_contaner:last').attr('id');
            if (id == undefined) id = 0;
            if (id == 'system_error') SetLabel('#load_latest_systems', 'Load error');
            else loadSystems(id, 10);
        });

        function loadSystems(id, count) {
            $.ajax({
                url: 'GetSystems',
                data: 'id=' + id + '&count=' + count,
                cache: false,
                beforeSend: function () {
                    $('#load_latest_systems div.wait').show();
                },
                success: function (result) {
                    var real_count = $(result).filter('.system_contaner').length;
                    if (real_count > 0) {
                        $(result).appendTo("#live_systems").hide().slideDown(1000);
                        Counter(real_count, '#system_count');
                        $(result).filter('.system_contaner').each(function (i) {
                            var system_id = $(this).attr('id');
                            MakeClickable(system_id);
                        });
                    }
                    else SetLabel('#load_latest_systems', result)
                }
            }).done(function () { $('#load_latest_systems div.wait').hide(); });
        }


        livetrades.Update = function (signal, system) {
            $(signal).prependTo("#live_signals").hide().slideDown(1000, function () {
                if ($('#live_signals .signal_contaner').length < max_count + 2)
                    Counter(1, '#signal_count');
            });
            $('#live_signals .signal_contaner:gt(' + max_count + ')').slideUp(1000, function () { $(this).remove(); });

            var system_id = $(system).attr('id');
            var exists = $('#' + system_id);
            if ($(system).attr('id') == $(exists).attr('id'))
                $(exists).prependTo("#live_systems").hide().fadeIn(1000);
            else {
                $(system).prependTo("#live_systems").hide().slideDown(1000);
                Counter(1, '#system_count');
                MakeClickable(system_id);
            }
        };

        // load latest 10 signals by default
        loadSignals(0, '', '', 10);
        // load latest 10 systems by default
        loadSystems(0, 10)

        // start hubs
        var copyResultHub = $.connection.copyResult;

        copyResultHub.Response = function () { };
        copyResultHub.End = function () { };

        $.connection.hub.start();

        // Load statistics

        function loadTopSystems(period, count) {
            $.ajax({
                cache: false,
                url: 'TopSystems',
                data: 'period=' + period + '&count=' + count,
                beforeSend: function () { $('#top_systems .content').html('<div class="circle_loader"></div>'); },
                success: function (result) { $('#top_systems .content').html(result).slideDown(500); }
            });
        }

        function loadPopSystems(count) {
            $.ajax({
                cache: false,
                url: 'PopSystems',
                data: 'count=' + count,
                beforeSend: function () { $('#pop_systems .content').html('<div class="circle_loader"></div>'); },
                success: function (result) { $('#pop_systems .content').html(result).slideDown(500); }
            });
        }

        function loadTopTrades(period, count) {
            $.ajax({
                cache: false,
                url: 'TopTrades',
                data: 'period=' + period + '&count=' + count,
                beforeSend: function () { $('#top_trades .content').html('<div class="circle_loader"></div>'); },
                success: function (result) { $('#top_trades .content').html(result).slideDown(500); }
            });
        }

        function loadContests() {
            $.ajax({
                cache: false,
                url: 'Contests',
                beforeSend: function () { $('#contests .content').html('<div class="circle_loader"></div>'); },
                success: function (result) { $('#contests .content').html(result).slideDown(500); }
            });
        }

        function loadTopInstruments(period, count) {
            $.ajax({
                cache: false,
                url: 'TopInstruments',
                data: 'period=' + period + '&count=' + count,
                beforeSend: function () { $('#top_instruments .content').html('<div class="circle_loader"></div>'); },
                success: function (result) { $('#top_instruments .content').html(result).slideDown(500); }
            });
        }

        function loadRecentMembers(count) {
            $.ajax({
                cache: false,
                url: 'RecentMembers',
                data: 'count=' + count,
                beforeSend: function () { $('#last_members .content').html('<div class="circle_loader"></div>'); },
                success: function (result) { $('#last_members .content').html(result).slideDown(500); }
            });
        }

        // load by default
        loadTopSystems(0, 5);
        //loadPopSystems(5);
        //loadTopTrades(0, 5);
        loadTopInstruments(0, 5);
        //loadRecentMembers(5);
        loadContests();

        $('#top_systems').find('.header select').change(function () {
            loadTopSystems(this.options[this.selectedIndex].value, 5);
        });

        $('#top_trades').find('.header .filter select').change(function () {
            loadTopTrades(this.options[this.selectedIndex].value, 5);
        });

        $('#top_instruments').find('.header .filter select').change(function () {
            loadTopInstruments(this.options[this.selectedIndex].value, 5);
        });

        // expand
        $('.box').each(function (i) {
            var box = $(this);
            $(box).find('.expander').click(function () {
                var content = $(box).find('.content');
                if ($(content).css('display') == 'none') {
                    if ($(content).find('div').length == 0) {
                        if ($(box).attr('id') == 'top_systems') loadTopSystems(0, 5);
                        if ($(box).attr('id') == 'pop_systems') loadPopSystems(5);
                        if ($(box).attr('id') == 'top_trades') loadTopTrades(0, 5);
                        if ($(box).attr('id') == 'top_instruments') loadTopInstruments(0, 5);
                        if ($(box).attr('id') == 'last_members') loadRecentMembers(5);
                    }
                    $(content).slideDown(500);
                }
                else $(content).slideUp(500);
            });
        })
    });
</script>