﻿@using Pipular;
@using Pipular.Models;
@using Pipular.Controllers;
@model user

<p>
    <b>@Model.login</b>
</p>

<div style="position:relative; width: 300px; display:inline-block; vertical-align:top;">
Trader name: @Model.fio
<br />
Experience: @UserInfo.GetExperience(Model.experience) @if(Model.experience > 0){<text> in @UserInfo.GetMarket(Model.trade_markets)</text>} 
<br />
Trade type: 
@{
    List<int> type = PrivateController.ConvertToCheckBox(Model.trade_type);
    string type_str = "";
    foreach (int t in type)
    {
        switch (Model.trade_type)
        {
            case 1: // automatic
                type_str += "automatic";
                break;
            case 2: // automatic
                type_str += "semi automatic";
                break;
            case 4: // automatic
                type_str += "manual";
                break;
        }
    }  
}
@type_str
<br />
Trade style: @UserInfo.GetStyle(Model.trade_style)
<br />
Sessions:
@{
    List<int> sessions = PrivateController.ConvertToCheckBox(Model.trade_sessions);
    string ses_str = " ";
    foreach (int ses in sessions)
    {
        switch (ses)
        {
            case 1:
                ses_str += " Asian";
                break;
            case 2:
                ses_str += " US";
                break;
            case 4:
                ses_str += " European";
                break;
            case 8:
                ses_str += " UK";
                break;
        }
        ses_str += ",";
    }
    ses_str = ses_str.TrimEnd(',');
}
@ses_str
<br />
<p>
Description
</p>
@Model.desc
</div>

<div style="position:relative; display:inline-block; left: 100px;">
<img alt="photo" src="@Model.photo" />
</div>