﻿@{
    ViewBag.Title = "Confirm_email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirming result</h2>

<center>
@ViewBag.Message
<p>
   @Html.ActionLink("Log on", "LogOn", "Account")
</p>
Serv3 says: @ViewBag.serv3
</center>
