﻿@model Pipular.Models.LogOnModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "The login failed. Correct the error and try again.")

<div id="logon">
    @using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "popup_content", LoadingElementId = "min_wait" }))
    { 
        <div class="editor-label">
            @Html.LabelFor(m => m.LoginOrEmail)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.LoginOrEmail)
            @Html.ValidationMessageFor(m => m.LoginOrEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>

        <p>
            <input type="submit" value="Log on" />
        </p>
        @Html.ActionLink("Registration", "Register")
    }
    <center><div id="min_wait"></div></center>
</div>

