﻿<div id="logon">
    <center>
        <div class="message">Log on was success.</div>
        <div id="timer">3</div>
    </center>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        function timer() {
            var obj = document.getElementById('timer');
            obj.innerHTML--;

            if (obj.innerHTML == 0) { location.reload(); setTimeout(function () { }, 1000); }
            else { setTimeout(timer, 1000); }
        }
        setTimeout(timer, 1000);
    });
</script>