﻿@model Pipular.Models.AdditionRegisterModel

@{
    ViewBag.Title = "Регистрация";
}

<h2>Создать новую учетную запись</h2>
<p>
    Используйте следующую форму для создания новой учетной записи. 
</p>
<p>
    Длина пароля не должна быть меньше @Membership.MinRequiredPasswordLength символов.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Validation/EqualAttribute.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Не удалось создать учетную запись. Исправьте ошибки и повторите попытку.")
    <div>
        <fieldset>
            <legend>Сведения учетной записи</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.Login)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Login)
                @Html.ValidationMessageFor(m => m.Login)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.FIO)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.FIO)
                @Html.ValidationMessageFor(m => m.FIO)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Foto)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Foto)
                @Html.ValidationMessageFor(m => m.Foto)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Phone)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Phone)
                @Html.ValidationMessageFor(m => m.Phone)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Addr)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Addr)
                @Html.ValidationMessageFor(m => m.Addr)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(m => m.ICQ)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ICQ)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Skype)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Skype)
                @Html.ValidationMessageFor(m => m.Skype)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(m => m.Experience)
            </div>
            <div>
                @Html.DropDownList("Experience", (List<SelectListItem>)ViewData["ExperienceList"], "Select value...")
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(m => m.Trade_type)
            </div>
            <div class="editor-field">
                <input type="checkbox" name="Trade_type" value="1" /> Automated
                <input type="checkbox" name="Trade_type" value="2" /> Semi automated
                <input type="checkbox" name="Trade_type" value="4" /> Manual
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Trade_style)
            </div>
            <div class="editor-field">
                <input type="checkbox" name="Trade_style" value="1"/> Scalping
                <input type="checkbox" name="Trade_style" value="2"/> Swing
                <input type="checkbox" name="Trade_style" value="4"/> News trading
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Trade_markets)
            </div>
            <div class="editor-field">
                <input type="checkbox" name="Trade_markets" value="1"/> Forex
                <input type="checkbox" name="Trade_markets" value="2"/> Futures
                <input type="checkbox" name="Trade_markets" value="4"/> CFDs
                <input type="checkbox" name="Trade_markets" value="8"/> Metal
                <input type="checkbox" name="Trade_markets" value="16"/> Stocks
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Trade_sessions)
            </div>
            <div class="editor-field">
                <input type="checkbox" name="Trade_sessions" value="1"/> Asian
                <input type="checkbox" name="Trade_sessions" value="2"/> US
                <input type="checkbox" name="Trade_sessions" value="4"/> Europen
                <input type="checkbox" name="Trade_sessions" value="8"/> UK
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Desc)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.Desc, 3, 50, null)
            </div>

            <p>
                <input type="submit" value="Регистрация" />
            </p>
        </fieldset>
    </div>
}
