﻿@using Pipular;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Href("~/Content/themes/pipular/ShareStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Href("~/Content/themes/pipular/jqueryUI/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Href("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui.spinner.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
</head>
<body>
    <header></header>
    <div id="popup">
        <div id="main_loader"><img src="@Url.Content("~/Content/themes/pipular/img/c_loader.gif")" alt="loading..." /></div>
        <div id="popup_content"></div>
    </div>
    <div id="alert"></div>
    <div id="menu" class="left">@Html.Partial("_MenuPanel")</div>
    <div id="main" class="left">
        <div id="content">
            @RenderBody()
        </div>       
    </div>
    <footer class="clear">
    </footer>
</body>
</html>

