﻿@using Pipular;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!--<link href="@Href("~/Content/Site.css")" rel="stylesheet" type="text/css" />-->
    <link href="@Href("~/Content/themes/pipular/ShareStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Href("~/Content/themes/pipular/jqueryUI/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Href("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui.spinner.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/charts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/teechart.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/teechart-data.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/teechart-extras.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/date.format.js")" type="text/javascript"></script>
</head>
<body>
    <div id="popup">
        <div id="main_loader"><img src="@Url.Content("~/Content/themes/pipular/img/c_loader.gif")" alt="loading..." /></div>
        <div id="popup_content"></div>
    </div>
    <div id="alert"></div>
    <div class="page">
        <header>
            <div id="title">
                <h1>Pipular MVC</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Private")</li>
                        <li>@Html.ActionLink("Balance", "Balance", "Private")</li>
                    }
                    <li>@Html.ActionLink("Systems", "Systems", "Home")</li>
                    <li>@Html.ActionLink("Traders", "Traders", "Home")</li>
                    <li>@Html.ActionLink("Trade Stream", "TradeStream", "Home")</li>
                </ul>
            </nav>
        </header>
        
        <div id="main">
            <div id="content">
                @RenderBody()
            </div>       
        </div>
        <footer>
        </footer>
    </div>
</body>
</html>
