﻿<div id="menu_panel">
    <div id="menu_option_wrapper">
        <a href="@Href("/Home/Traders")">
            <div class="menu_option last" id="menu_traders">
                <div class="menu_option_content">
                    <div class="menu_icon"><i></i></div>
                    <div class="menu_name">Traders</div>
                </div>
            </div>
        </a>
        <a href="@Href("/Home/TradeStream")">
            <div class="menu_option" id="menu_tradestream">
                <div class="menu_option_content">
                    <div class="menu_icon"><i></i></div>
                    <div class="menu_name">TradeStream</div>
                </div>
            </div>
        </a>
        <a href="@Href("/Private/Dashboard")">
            <div class="menu_option" id="menu_dashboard">
                <div class="menu_option_content">
                    <div class="menu_icon"><i></i></div>
                    <div class="menu_name">Dashboard</div>
                </div>
            </div>
        </a>
        <a href="@Href("/Account/LogOn")">
            <div class="menu_option first @if (Request.IsAuthenticated && User.Identity.IsAuthenticated){
                <text>login</text>} else {<text>logout</text>}" 
                id="menu_logon">
                <div class="menu_option_content">
                   <div class="menu_icon"><i></i></div>
                   <div class="menu_name">
                   @if (Request.IsAuthenticated && User.Identity.IsAuthenticated)
                   {
                       @Request.Cookies["UserData"]["login"]
                   }
                   else
                   {
                       <text>Log on</text>
                   }
                   </div>
                </div>
            </div>
        </a>
        <div class="border_line"></div>
    </div>
</div>