﻿@using Pipular.Models;
@model IQueryable<history>

<table id="history_table" class="tablesorter">
    <thead>
        <tr>
            <th>Open</th>
            <th>Type</th>
            <th>Volume</th>
            <th>Symbol</th>
            <th>Open price</th>
            <th>S/L</th>
            <th>T/P</th>
            <th>Closed</th>
            <th>Close price</th>
            <th>Profit</th>
        </tr>
    </thead>
    @if (Model.Count() > 0)
    {
    <tbody>
        @foreach (history h in Model)
        {
            DateTime open_time = (new DateTime(1970, 1, 1, 0, 0, 0, 0)).AddSeconds(h.open_time);
            DateTime close_time = (new DateTime(1970, 1, 1, 0, 0, 0, 0)).AddSeconds(h.close_time);
            <tr>
                <td>
                    @open_time
                </td>
                <td>
                    @switch (h.cmd)
                    {
                        case 0:
                            <text>buy</text>
                            break;
                        case 1:
                            <text>sell</text>
                            break;
                        case 2:
                            <text>buylimit</text>
                            break;
                        case 3:
                            <text>sellimit</text>
                            break;
                        case 4:
                            <text>buystop</text>
                            break;
                        case 5:
                            <text>sellstop</text>
                            break;
                    }
                </td>
                <td>
                    @{double volume = (double)h.volume / 100; }
                    @volume.ToString("F2")
                </td>
                <td>
                    @h.symbol
                </td>
                <td>
                    @h.open_price.ToString("F" + h.digits)
                </td>
                <td>
                    @h.sl.ToString("F" + h.digits)
                </td>
                <td>
                    @h.tp.ToString("F" + h.digits)
                </td>
                <td>
                    @close_time
                </td>
                <td>
                    @h.close_price.ToString("F" + h.digits)
                </td>
                <td>
                    @h.pl.ToString("F2")
                </td>
            </tr>
        }
    </tbody>
    }
</table>
@if (Model.Count() == 0){ <div class="nodata">No data</div> }

<div id="historyPager" class="table_navigation">

		<div class="first"><span class="ui-icon ui-icon-seek-first"></span></div>
		<div class="prev"><span class="ui-icon ui-icon-triangle-1-w"></span></div>
		<input type="text" class="pagedisplay" readonly />
		<div class="next"><span class="ui-icon ui-icon-triangle-1-e"></span></div>
		<div class="last"><span class="ui-icon ui-icon-seek-end"></span></div>
		<select class="pagesize"> 
			<option selected="selected" value="10">10</option> 
			<option value="20">20</option> 
			<option value="30">30</option> 
			<option value="40">40</option> 
		</select> 

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#history_table").tablesorter({ widgets: ['zebra'] })
        .tablesorterPager({ container: $("#historyPager"), positionFixed: false });
    });
</script>