﻿@using Pipular.Accounting;
@model IEnumerable<RecountResult>
           
@{
    ViewBag.Title = "Accounting";
}

@{
    AjaxOptions ajax_options = new AjaxOptions() { UpdateTargetId = "accountingTimes", LoadingElementId = "loading" };
}

<h2>Accounting</h2>

<div id="accountingCommands">

    <div id="accountingResults">
        <div id="recountResult"></div>
        <div id="loading"></div>
    </div>

    <br /><br />

    @Ajax.ActionLink("Recount", "Recount", ajax_options)

    <br /><br />

    @Ajax.ActionLink("Recount from start of last to now", "RecountFromLast", ajax_options)

</div>

<div id="accountingTimes">@Html.Action("RecountResultTable")</div>

<div id="accountingLog"></div>

<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>