﻿#dashboard { overflow: hidden; text-align: center }
.items { width: 300%; position: relative; }
.tab_panel { width: 33.2%; display: inline-block; text-align: left; vertical-align: top }
.tab_panel.cloned { display: none }
.tabs {  }
.tab { width: 220px; cursor: pointer; text-align:center; font-size: 18px; display: inline-block; border: 1px solid #fff; margin: 5px 10px; padding: 5px; text-decoration: none }
.tab:hover { border: 1px solid #555 }
.tab.current { background-color: #9BCEB7; color: #fff }

.simple_block { margin: 30px auto }
.simple_block#noportfolios .connects { }
.simple_block#noportfolios .connect_block { display: inline-block; vertical-align: top }
.simple_block#portfolios { clear: both }

#systems .expander,
#noportfolios .expander { position: relative; top: -8px; cursor: pointer; height: 0 }
#systems .expander span,
#noportfolios .expander span { background-color: White; padding: 0 2px; margin: 0 10px 0 97% }

.connects .expandable { padding: 10px 0 }

#systemsTable { padding: 10px }
#systems,
#noportfolios .connects { border: 1px solid #ccc }
#systems:hover,
#noportfolios .connects:hover { border: 1px solid #aaa }
#noportfolios {  }

.portfolio_block { width: 250px; margin: 2px 0; border: 2px solid #ccc; display: inline-block; vertical-align: top }
.portfolio_block:hover { border: 2px solid #555 }
.portfolio_block .head,
.portfolio_block .footer { margin: 3px; height: 20px; clear: both }
.portfolio_block .number { font-weight: bold; float: right }
.portfolio_block .company { float: left }
.portfolio_block .balance { width: 100%; text-align: center }
.portfolio_block .expander { background-color: #ddd; text-align: center; margin: 5px 0; padding: 2px 5px; cursor: pointer }
.portfolio_block .expander:hover { background-color: #ccc }
.portfolio_block .expander .ui-icon { margin: 0 auto }
.portfolio_block .expander .count { float: right; margin-right: 2px }
.portfolio_block .connects { }
.portfolio_block .public { float: left; cursor: pointer; font-size: 12px }
.portfolio_block .delete { float: left; font-size: 12px; margin-left: 5px }
.portfolio_block .time_create,
.portfolio_block .time_update { float: right; font-size: 12px }
.portfolio_block .time_create { display: none }

.portfolio_block .balance { margin: 0 3px }

.connect_block { border: 1px solid #ccc; margin: 3px; width: 238px; padding: 2px }
.connect_block:hover { border: 1px solid #555 }
.connect_block .head,
.connect_block .footer { margin: 3px; height: 20px; clear: both }
.connect_block .system { float: left }
.connect_block .switch { float: right; font-size: 12px }

.connect_block .details,
.connect_block .send_to,
.connect_block .tariff { padding: 3px; text-align: center }

.connect_block .details:hover,
.connect_block .send_to:hover,
.connect_block .tariff:hover { background-color: #ddd }

.connect_block .disconnect { float: left; font-size: 12px }
.connect_block .time_update,
.connect_block .time_create { float: right; font-size: 12px }
.connect_block .time_create { display: none }

.configuration .enabled { width: 100%; text-align: right }
.configuration .volume,
.configuration .other { padding: 10px }
.configuration table,
.configuration table td { border-width: 0 }
.configuration table { text-align: left; margin: 0 auto; width: 100% }
.configuration .other table { margin: 0 auto }
.configuration input { }
.configuration .ui-selectee { cursor: pointer }
.configuration .ui-selected { background-color: Teal; color: White }
.configuration table .selected { font-weight: bold }
.configuration .submit { margin: 10px auto }

#copys { }
#copys,
#last_signals { display: inline-block; margin: 10px }
#copys #details { padding: 10px; text-align: left }
#copys #details:hover { border: 1px solid #ddd; padding: 9px; }

.system_block { border: 1px solid #ccc; margin: 5px; display: inline-block; vertical-align: top; min-width: 260px }
.system_block:hover { border: 1px solid #aaa }
.system_block .info { min-width: 240px; padding: 5px } 
.system_block .details { clear: both; padding: 5px; float: left }
.system_block .graph { width: 140px; height: 70px; border: 1px solid black; float: right }
.system_block .footer { clear: both }
.system_block .tariffs {  }
.system_block .expander { background-color: #ccc; clear: both; padding: 2px 5px; cursor: pointer }
.system_block .expander:hover { background-color: #aaa }
.system_block .expander .ui-icon { margin: 0 auto }
.system_block .expander .count { float: right; margin-right: 2px }
.system_block .header {  }
.system_block .name { font-size: 16px; font-weight: bold; float: left }
.system_block .update,
.system_block .enabled { float: right; cursor: pointer }
.system_block .delete { float: right; margin-left: 5px }
.system_block .new_tariff { float: left }

.tariff_block { border: 1px solid #ccc; padding: 5px; margin: 5px }
.tariff_block .description { float: left; max-width: 195px }
.tariff_block .manage { float: right; text-align: right }
.tariff_block .delete { margin-top: 10px }

#tariff.form { text-align: center }
#tariff #types { }
#tariff .ui-widget { font-size: 10px }
#tariff .panel { margin-top: 20px; min-height: 20px }
#tariff .panel input { width: 50px; font-size: 12px; border: 0 }
#tariff fieldset { padding: 10px }
#tariff legend { text-align: left }