﻿#content { }
#popup { display:none; text-align: center }
#main_loader { width:100%; height:100%; display: none }
#main_loader img { position: absolute; top: 50%; left: 50%; margin-top: -32px; margin-left: -32px }
#load_error { text-align:center; margin-top: 50px; }
#logon #min_wait { margin: 10px; }
#logon .message { margin: 50px auto; color: Green; font-size: 14px }
#logon #timer { font-size: 25px; color: #aaa; margin: 20px; }
#min_wait { background-image: url("../pipular/img/ajax-loader.gif"); width: 16px; height: 16px; display: none }
#loading { background-image: url("../pipular/img/ajax-loader.gif"); width: 16px; height: 16px; display: none }
.submit { margin: 10px }

.demo { color: Green }
.real { color: Red }
.note { font-size: 9px; color: #999; padding: 8px }

.green { background: rgb(134, 219, 107) }
.red_text { color: red }

#vsystems tr { vertical-align: middle }
#vsystems .graph { width: 100px; height: 30px; border: 1px solid #ccc; margin: 0 auto }

table.tablesorter td.mini_graph { padding: 0 }

#alert { position: fixed; top: 10px; left: 10px; border: 1px solid black; display: none; z-index: 1000 }
.bad { background-color: Red; color: White; padding: 20px }
.middle { background-color: Orange; color: Black; padding: 20px }
.good { background-color: Green; color: White; padding: 20px }

/* FORMS */

.form { text-align: left }
.form textarea { max-width: 300px; min-width: 300px }
.form .editor-label,
.form .editor-field { display: inline-block }
.form .editor-label { width: 130px; vertical-align: top; text-align: right; margin: 9px 5px 0 }
.form .editor-field { width: 300px; margin: 5px 0 }

.circle_loader { background-image: url("../pipular/img/circle_loader.gif"); width: 32px; height: 11px; margin: auto }

.load_button {  margin: 5px auto }
.load_button button{ background-color: #ccc; width: 100%; height: 20px; border: 0 }
.load_button button:hover { background-color: #ddd }
.load_button button:active { background-color: #eee; color: Gray; border: 1px solid Gray }
.load_button div.wait { background-image: url("../pipular/img/ajax-loader.gif"); width: 16px; height: 16px; display: none }

.ui-spinner {position: relative; border: 0px solid white; }
.ui-spinner-buttons {position: absolute}
.ui-spinner-button {overflow: hidden}

input.lot_spinner { width: 60px; border: 0 }

table.selectable { width: 90%; text-align: center }
.selectable .ui-selecting { background-color: #FECA40 }
.selectable .ui-selected { background-color: #F39814 }
.selectable .forselect { cursor: pointer; color: Black }
.selectable tbody { color: #ccc }

ul.selectable { list-style: none; padding-left: 0 }

.profit { color: #2c9c09 } 
.loss { color: #d70000 }

.prev,
.next { cursor: pointer }

span.underline { text-decoration: underline }

.font12 { font-size: 12px }

input, textarea { outline:none } 
input:active, textarea:active { outline:none }
:focus { outline:none }  

/* FOLLOW SYSTEM */
#follow_system #tariffTable { margin: 10px auto }

/* TABLES */

.nodata { width: 100%; padding: 30px; text-align: center; }

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	/*margin:10px 0pt 5px;*/
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr div { width: 16px; height: 9px; float: right; background-position: left; padding: 2px 0 2px 2px }

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/* TABLE NAVIGATION */

.table_navigation { text-align: center }
.table_navigation .first,
.table_navigation .prev,
.table_navigation .next,
.table_navigation .last { display: inline-block; padding: 2px; cursor: pointer }
.table_navigation .pagedisplay { width: 80px; text-align: center; display: inline-block; vertical-align: top }
.table_navigation .pagedisplay,
.table_navigation .pagesize { border: none }
.table_navigation .pagesize { float: right; margin-left: -45px }

/* EXPANDABLE */

.expandable {  }
.expandable:hover {  }

.label { position: relative; top: -10px; height: 0 }
.label span { background-color: White; padding: 0 2px; margin: 0 10px }
.expand-switch { position: relative; top: -8px; cursor: pointer }
.expand-switch span { background-color: White; padding: 0 2px; margin: 0 10px 0 97% }


/* SYSTEM DETAILS */

.system_description { text-align: left; float: left }
.system_description .trader,
.system_description .trade_type,
.system_description .trade_style,
.system_description .trade_markets,
.system_description .trade_sessions { display: inline-block }
.system_description span.block { padding: 5px 10px }
.system_description .desc_text { margin: 10px }

.connection_info { padding: 10px; width: 20%; float: right }
.connection_info ul { list-style: none; padding-left: 0 }

#graph_buttons { text-align: right; clear: both }
#graph_buttons button { font-size: 12px; display: none }
#follow_button { right: 30% }

#time_delay { width: 400px; color: Crimson; text-align:right; float: right }

fieldset#trade_info { width: 896px }

#statistic table { width: 100%; border: none; text-align: left }
#statistic table td { padding: 0; vertical-align: top; line-height: 24px; padding: 0 5px; border: none }
#statistic table td table  { border: none }
/*#statistic table td table td { border: none; }*/

/* CHARTS */

.mini_graph {
    width: 150px;
}

/* SCROLLABLE TABS SYSTEM DETAILED */
#data { overflow: hidden; text-align: center }
#data .items { width: 300%; position: relative; }
#data .tab_panel { width: 33.2%; display: inline-block; text-align: left; vertical-align: top }
#data .items#connect { width: 200%; }
#data .items#connect .tab_panel { width: 49.8%; }
#data .tab_panel.cloned { display: none }
#navigation { text-align: center }
#navigation .tabs {  }
#navigation .tab { width: 220px; cursor: pointer; text-align:center; font-size: 18px; display: inline-block; border: 1px solid #fff; margin: 5px 10px; padding: 5px; text-decoration: none }
#navigation .tab:hover { border: 1px solid #555 }
#navigation .tab.current { background-color: #9BCEB7; color: #fff }


/* ADMIN */

/* accounting */
#accountingCommands,
#accountingResults #recountResult,
#accountingResults #loading { float:left }
#accountingTimes { float: right }
#accountingTimes div { display: inline-table }

#accountingTimes td { height: 36px }
#accountingLog { clear: both }