﻿.main_contaner
{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 5px
}
.head
{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}

/* SYSTEM */
.system_contaner
{
    margin: 5px auto;
    padding: 5px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.system_contaner:hover
{
    border: 1px solid #aaa;
}
.system_head { clear: both; padding: 0 5px }
.system_name
{
    float: left;
}
.system_profit
{
    float: right;
}
.system_graph
{
    width: 240px;
    height: 60px;
    margin: 2px 6px 0 0;
    border: 1px solid #ccc;
    text-align: center;
}
.more_signals
{
    margin: 2px 0 0 0;
    padding: 21px 10px;
    vertical-align: top;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #ccc;
}

.system_graph,
.more_signals { display: inline-block }

.more_signals:hover
{
    background-color: #ddd;
    cursor: pointer;
}
.system_signals { display: none }
.system_signals .signal_contaner { padding: 5px }

/* SIGNAL */
.signal_contaner
{
    height: auto; 
    margin: 5px auto;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.signal_contaner:hover
{
    border: 1px solid #aaa;
}
.signal_contaner .sender,
.signal_contaner .time { float: left; text-align: left }
.signal_contaner .extension,
.signal_contaner .follow,
.signal_contaner .copy,
.signal_contaner .separator { float: right }
.signal_contaner .price, 
.signal_contaner .type, 
.signal_contaner .command, 
.signal_contaner .symbol { display: inline-block; margin: 5px }
.signal_contaner .dt_terminal,
.signal_contaner .unix_time,
#current_time { display: none }
.signal_contaner .order { font-weight: bold; clear: both }
.signal_contaner .bottom { clear: both; height: 18px }
.signal_contaner .copy,
.signal_contaner .follow { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.signal_contaner .copy,
.signal_contaner .follow { padding: 0 7px }
.signal_contaner .copy a,
.signal_contaner .follow a { text-decoration: none }
.signal_contaner .copy:hover,
.signal_contaner .follow:hover { background-color: #ddd }
.signal_contaner .separator { margin: 0 1px }
.signal_contaner .extension { text-align: right }

.signal_info { width: 80%; margin: 0 auto }
.signal_info .trader, 
.signal_info .system { float: left }
.signal_info .price, 
.signal_info .type, 
.signal_info .command, 
.signal_info .symbol { display: inline-block; }
.signal_info .price, 
.signal_info .symbol, 
.signal_info .command, 
.signal_info .type { margin: 10px }
.signal_info .time { float: right }
.signal_info .order { clear: both }
.signal_info .bottom { clear: both }

.signal_contaner .sl { color: #c46161 }
.signal_contaner .tp { color: #61c483 }

.system_signals .signal_contaner .sl,
.system_signals .signal_contaner .tp,
.system_signals .signal_contaner .profit,
.system_signals .signal_contaner .separator { float: none; display: inline-block }

.system_signals .signals { overflow: hidden; width: 290px }
.system_signals .signals .items { width: 20000em; position: relative }
.system_signals .signals .items .sheet { display: inline-block; vertical-align: top; width: 290px }


/* TRADE */
.trade_contaner { height: auto; margin: 5px auto; padding: 5px; border: 1px solid #ccc }
.trade_contaner .trade_system { float: left }
.trade_contaner .trade_profit { float: right }

/* INSTRUMENT */

.instrument_contaner { margin: 3px 0 }
.instrument_contaner .place,
.instrument_contaner .symbol,
.instrument_contaner .total_signals,
.instrument_contaner .buy_info { float: left; margin: 5px }
.instrument_contaner .sell_info { float: right; margin: 5px; z-index: 2 }
.instrument_contaner.ui-widget { font-size: 1em }
.instrument_contaner .total_signals { font-size: 12px; margin: 7px }
.instrument_contaner .ui-widget-header { background-image: none; background-color: #d9f799 }
.instrument_contaner.ui-widget-content { background-image: none; background-color: #f79999 }

/* CONTESTS */

.contest_contaner  
{
    margin: 3px 0; padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc
}
.contest_contaner.positive { border: 1px solid #45FF35 }
.contest_contaner.negative { border: 1px solid #FF9090 }
.contest_contaner:hover { border: 1px solid #aaa }
.contest_contaner.positive:hover { border: 1px solid green }
.contest_contaner.negative:hover { border: 1px solid red }
.contest_contaner .leader { width: 100%; text-align:right }
.contest_contaner .number_one { font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif; font-size: 14px; color: #FF3232; font-weight: bold }
.contest_contaner .terms { cursor: pointer; width: 100%; font-weight:bold }
.contest_contaner .term { text-shadow: 1px 1px 1px #91DCFF }
.contest_contaner .prize { font-size: 16px; color: #6EE947; text-shadow: 1px 1px 1px #707070 }
.contest_contaner .terms,
.contest_contaner .time { margin-top: 10px }
.contest_contaner .time .message { font-size: 12px }
.contest_contaner .time .countdown { font-size: 18px; font-weight: bold }
.contest_contaner .time .start,
.contest_contaner .time .end { display: none }
.contest_contaner .desc { display: none; text-align: left; padding: 3px }
.contest_contaner .winner { margin: 10px 0 }

/* NAVIGATION */
.navigation { text-align: center; margin: 3px auto; width: 290px }
.navigation .next,
.navigation .prev,
.navigation .tab_panel { display:inline-block }
.navigation .tab_panel { overflow: hidden; width: 200px }

.navigation .tabs
{
    list-style:none;
    margin: 0;
    padding-left: 0px;
    position:relative;
    width: 20000em;
    text-align: left
}
.navigation .tabs .tab
{
    display: inline-block;
    cursor: pointer;
    margin: 0;
    width: 24px;
    margin: 3px;
    text-align: center;
}

.navigation .next,
.navigation .prev { padding: 2px 8px }
.navigation .next:hover,
.navigation .prev:hover { background-color:#d1d2d2 }
.navigation .little_window { height: 19px; width: 24px; border: 1px solid black; position: relative; top: 22px; margin: -20px auto 0 }

.count
{
    display: inline-block;
}

/* STATISTICS */

.box  
{
    margin: 5px auto;
}

.box .name 
{
    cursor: pointer;
    padding: 3px;
    color: #0b83b6;
    background-color: #ccc;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.box .content
{
    display: none;
    padding: 5px;
    border: 1px solid #ccc;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.box .place { float: left; margin-right: 10px }

.box .filter,
.box .expander { display: inline-block; vertical-align: top }
.box .header { text-align: left; position: relative; margin: -24px 0 0 0; height: 24px }
.box .expander { height: 24px; width: 90%; cursor: pointer }
.box .filter select { font-size: 12px; border: 0; width: 20px; background-color: Transparent; opacity: .5 }

.box .system_contaner .system_head { height: 18px; cursor: pointer }
.box .system_contaner .system_graph,
.box .system_contaner .system_followers { display: none }
.box .system_contaner .system_followers_num { float: right }

.box .follower { text-align: left; margin: 3px }
.box .follower .photo,
.box .follower .info { display: inline-block; vertical-align: top; width: 75% }
.box .follower .photo { margin-right: 10px; width: 50px; height: 70px }
.box .follower .photo img { width: 50px; height: 70px }
.box .follower .experience,
.box .follower .trade_style { font-size: 12px } 


.followers { overflow: hidden; width: 290px; margin-top: 10px }
.followers .items { width: 20000em; position: relative }
.followers .items .sheet { display: inline-block; vertical-align: top; width: 290px }

.box .trade_contaner .trade_head { height: 18px; cursor: pointer }
.box .trade_contaner .details { text-align: left; margin: 5px; display: none }
.box .trade_contaner .time { text-align: right }
.box .trade_contaner .command,
.box .trade_contaner .symbol { display: inline-block }