﻿@if(IsSectionDefined("AdditHeader"))
{
    <section class="head">@RenderSection("AdditHeader", false)</section>
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@RenderBody()