﻿@using Pipular;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Constants.siteName | @ViewBag.Title</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-favicon.png"/>
    <link href="@Href("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.9.1.min.js"></script>
    
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js" type="text/javascript"></script>
    <!--<script src="../../Scripts/jquery.tools.min.js"></script>-->
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui.spinner.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.scroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.checkbox.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ba-throttle-debounce.min.js")" type="text/javascript"></script>
</head>
<body>
    <header></header>
    <div id="popup">
        <div id="popup_content"></div>
    </div>
    <div id="alert"></div>
    <div id="menu" class="left">
        <div id="logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Content/images/B-FXbuilders.png")" />
            </a>
        </div>
        @Html.Partial("_MenuPanel")
    </div>
    
    <div id="main" class="left">
        <div class="content">@RenderBody()</div>
    </div>

    <div id="addit" class="right">
        <div id="addit_content"></div>
    </div>

    <footer class="clear">
    </footer>

</body>
</html>

