﻿@using Pipular;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Pipular.Constants.siteName</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-favicon.png"/>
    <link href="@Href("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Href("~/Content/Main.css")" rel="stylesheet" type="text/css" />
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.watermark.min.js")" type="text/javascript"></script>

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({ publisher: "ur-56692588-d316-837d-1488-6eab80ed4bac", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
</head>
<body>
    <div id="Head">
        <div id="Head_wrapper">
        </div>
            <header>
                <div class="Content_wrapper">
                    <div id="Logo" class="left">
                        <img src="@Url.Content("~/Content/images/FXBuildersLogoTW.png")" />
                    </div>
                    <ul id="Menu" class="right">
                        <li>
                            @Html.ActionLink("See it in action", "TradeStream")
                        </li>
                        <li>
                            @Html.ActionLink("Features", "Index", "Home", null, null, "vista", null, null)
                        </li>
                        <li>
                            @Html.ActionLink("How it works", "HowItWorks")
                        </li>
                        <li>
                            <a href="http://www.fxbuilders.com/" target="_blank">Contact</a>
                        </li>
                        <li>
                            @if (Request.IsAuthenticated && User.Identity.IsAuthenticated)
                            {
                                using(Html.BeginActionLink("Dashboard","Private", null, null))
                                {
                                    <button>Dashboard</button>
                                }
                            }
                            else
                            {
                            <div id="login">
                                <div class="button-label">
                                    Log in
                                    <div class="miniIcon down_icon"></div>
                                </div>
                                <div id="login-patch"></div>
                                <div id="login-form">
                                    @Html.Partial("~/Views/Account/LogIn.cshtml")
                                </div>
                            </div>
                            <script>
                                $(function () {
                                    var form = $("#login-form, #login-patch");
                                    var login = $('#login');

                                    var hideForm = function () {
                                        form.hide();
                                        login.removeClass('active');
                                    }
                                    var showForm = function () {
                                        form.show();
                                        login.addClass('active');
                                    }
                                    var toogleForm = function () {
                                        if (form.css('display') == 'none') showForm();
                                        else hideForm();
                                    }

                                    $('#login .button-label').click(toogleForm);
                                    $('#hello').click(function () { hideForm() });
                                })
                            </script>
                            }
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </header>
            @if (IsSectionDefined("PreContent"))
            {
                <section id="pre_content">
                    @RenderSection("PreContent")
                </section>
            }
    </div>
    <section id="Main">
        @if (IsSectionDefined("Presentation"))
        {
            <section id="presentation">
                @RenderSection("Presentation")
            </section>
        }
        <div id="Content" class="Content_wrapper">
            @RenderBody()
        </div>
    </section>
    @if (IsSectionDefined("Prefooter"))
    {
        <section id="prefooter">
            @RenderSection("Prefooter")
        </section>
    }
    <footer>
        <div class="Content_wrapper">
            <div id="copyright">@Pipular.Constants.siteName &copy; @DateTime.Now.Year</div>
            <a id="back_to_top" href="#Head">
                <div class="miniIcon up_icon"></div>
                back to top
            </a>
            <div id="social_buttons">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_odnoklassniki_large' displayText='Odnoklassniki'></span>
            </div>
        </div>
    </footer>
</body>
</html>
