﻿@if (Request.IsAuthenticated) 
{
    <text>Welcome, <strong>@Html.ActionLink(Request.Cookies["UserData"]["login"], "Profile", "Private")</strong>
    [ @Html.ActionLink("Log off", "LogOff", "Account") ]</text>
    <div id="download">
        @if (Request.Cookies["new_version"] != null)
        {
            <strong style="color: Red;">NEW   </strong>
        }
        @Html.ActionLink("Download PipRunner", "GetPipRunner", "Private")
    </div>
}
else
{
    @:[ @Ajax.ActionLink("Log on", "LogOn", "Account", new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, OnBegin = "OpenPopup('Log on', 600)", UpdateTargetId = "popup_content", OnFailure = "Error()", LoadingElementId = "main_loader" }) ]
}
