﻿@using Pipular;
<div id="menu_panel">
    <div id="menu_option_wrapper">
        <a href="@Url.Action("Markets", "Home")">
            <div class="menu_option last" id="menu_markets">
                <div class="menu_option_content">
                    <div class="menu_icon"><i></i></div>
                    <div class="menu_name">Markets</div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Traders", "Home")">
            <div class="menu_option" id="menu_traders">
                <div class="menu_option_content">
                    <div class="menu_icon"><i></i></div>
                    <div class="menu_name">Traders</div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("TradeStream", "Home")">
            <div class="menu_option" id="menu_tradestream">
                <div class="menu_option_content">
                    <div class="menu_icon"><i></i></div>
                    <div class="menu_name">TradeStream</div>
                </div>
            </div>
        </a>
        @if(Request.IsAuthenticated)
        {
        <a href="@Url.Action("Dashboard", "Private")">
            <div class="menu_option" id="menu_dashboard">
                <div class="menu_option_content">
                    <div class="menu_icon"><i></i></div>
                    <div class="menu_name">Dashboard</div>
                </div>
            </div>
        </a>
        }
        else
        {
            using (Ajax.BeginActionLink("Dashboard", "Private", new { UpdateUrl = "Dashboard" }, Constants.additAjaxOptions, null))
             {
                <div class="menu_option" id="menu_dashboard">
                    <div class="menu_option_content">
                        <div class="menu_icon"><i></i></div>
                        <div class="menu_name">Dashboard</div>
                    </div>
                </div>
             }
        }
        @if (Request.IsAuthenticated)
        {
            <a href="@Url.Action("UserPanel", "Account")">
                <div class="menu_option first @if (Request.IsAuthenticated && User.Identity.IsAuthenticated){
                    <text>login</text>} else {<text>logout</text>}" 
                    id="menu_logon">
                    <div class="menu_option_content">
                       <div class="menu_icon"><i></i></div>
                       <div class="menu_name">@Request.Cookies["UserData"]["login"]</div>
                    </div>
                </div>
            </a>
        }
        else
        {
            using (Ajax.BeginActionLink("UserPanel", "Account", new { UpdateUrl = "UserPanel" }, Constants.additAjaxOptions, null))
            {
                <div class="menu_option first @if (Request.IsAuthenticated && User.Identity.IsAuthenticated)
                                              {
                    <text>login</text>}
                                              else
                                              {<text>logout</text>}" 
                    id="menu_logon">
                    <div class="menu_option_content">
                       <div class="menu_icon"><i></i></div>
                       <div class="menu_name">Log on</div>
                    </div>
                </div>
            }
        }
        <div class="border_line"></div>
    </div>
</div>