﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    An error occurred while processing your request.
</h2>
@if(Model != null)
{
    <p>Message</p>@Model.Exception.Message
    <p>Inner message</p>@Model.Exception.InnerException.Message
}