﻿@using Pipular.Models;
@model IQueryable<history>

<table id="history_table" class="table">
    <thead>
        <tr>
            <th class="sort date">
                <span class="caption border_left">Open<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">Type<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">Volume<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">Symbol<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">Open by<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">S/L<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">T/P<i></i></span>
            </th>
            <th class="sort date">
                <span class="caption">Closed<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">Close by<i></i></span>
            </th>
            <th class="sort">
                <span class="caption border_right">Profit<i></i></span>
            </th>
        </tr>
    </thead>
    @if (Model.Count() > 0)
    {
    <tbody>
        @foreach (history h in Model)
        {
            DateTime open_time = (new DateTime(1970, 1, 1, 0, 0, 0, 0)).AddSeconds(h.open_time);
            DateTime close_time = (new DateTime(1970, 1, 1, 0, 0, 0, 0)).AddSeconds(h.close_time);
            <tr>
                <td class="border_left date">
                    <div>@open_time</div>
                </td>
                <td>
                    <b>
                    @switch (h.cmd)
                    {
                        case 0:
                            <text>buy</text>
                            break;
                        case 1:
                            <text>sell</text>
                            break;
                        case 2:
                            <text>buylimit</text>
                            break;
                        case 3:
                            <text>sellimit</text>
                            break;
                        case 4:
                            <text>buystop</text>
                            break;
                        case 5:
                            <text>sellstop</text>
                            break;
                    }
                    </b>
                </td>
                <td>
                    @{double volume = (double)h.volume / 100; }
                    @volume.ToString("F2")
                </td>
                <td>
                    <b>@h.symbol</b>
                </td>
                <td>
                    @h.open_price.ToString("F" + h.digits)
                </td>
                <td>
                    <b>@h.sl.ToString("F" + h.digits)</b>
                </td>
                <td>
                    @h.tp.ToString("F" + h.digits)
                </td>
                <td>
                    <b>@close_time</b>
                </td>
                <td>
                    @h.close_price.ToString("F" + h.digits)
                </td>
                <td class="border_right">
                    <div><div><b>@h.pl.ToString("F2")</b></div></div>
                </td>
            </tr>
        }
    </tbody>
    }
</table>
@if (Model.Count() == 0){ <div class="nodata">No data</div> }
else {
<div id="historyPager" class="table_navigation">
    <div class="first"><span class="ui-icon ui-icon-seek-first"></span></div>
    <div class="prev icon"><i class="icon-prev"></i></div>
    <input type="text" class="pagedisplay" readonly />
    <div class="next icon"><i class="icon-next"></i></div>
    <div class="last"><span class="ui-icon ui-icon-seek-end"></span></div>
    <select class="pagesize"> 
	    <option selected="selected" value="10">10</option> 
	    <option value="20">20</option> 
	    <option value="30">30</option> 
	    <option value="40">40</option> 
    </select> 
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#history_table").tablesorter({ cssHeader: 'table_header', widgets: ['zebra'] })
        .tablesorterPager({ container: $("#historyPager"), positionFixed: false });
    });
</script>
}