﻿@using Pipular.Models;
@model IQueryable<signal>

<table id="signals_table" class="table">
    <thead>
        <tr>
            <th class="sort date" title="Terminal time">
                <span class="caption border_left">Open<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">Type<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">Operation<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">Volume<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">Symbol<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">Open by<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">S/L<i></i></span>
            </th>
            <th class="sort">
                <span class="caption">T/P<i></i></span>
            </th>
            <th>
                <span class="caption border_right">Close by<i></i></span>
            </th>
        </tr>
    </thead>
    @if (Model.Count() > 0)
    {
    <tbody>
        @foreach (signal h in Model)
        {
            DateTime terminal_time = (new DateTime(1970, 1, 1, 0, 0, 0, 0)).AddSeconds(h.dt_terminal);
            <tr>
                <td class="border_left date">
                    <div><div>@terminal_time</div></div>
                </td>
                <td>
                    <b>
                    @switch (h.cmd)
                    {
                        case 0:
                            <text>buy</text>
                            break;
                        case 1:
                            <text>sell</text>
                            break;
                        case 2:
                            <text>buylimit</text>
                            break;
                        case 3:
                            <text>sellimit</text>
                            break;
                        case 4:
                            <text>buystop</text>
                            break;
                        case 5:
                            <text>sellstop</text>
                            break;
                    }
                    </b>
                </td>
                <td>
                    @switch (h.stype)
                    {
                        case 0: // open
                            <text>open</text>
                            break;
                        case 1: // modify
                            <text>modify</text>
                            break;
                        case 2: // close
                            <text>close</text>
                            break;
                    }
                </td>
                <td>
                    @{double volume = (double)h.volume / 100; }
                    <b>@volume.ToString("F2")</b>
                </td>
                <td>
                    @h.symbol
                </td>
                <td>
                    <b>@h.open_price.ToString("F" + h.digits)</b>
                </td>
                <td>
                    @h.sl.ToString("F" + h.digits)
                </td>
                <td>
                    <b>@h.tp.ToString("F" + h.digits)</b>
                </td>
                <td class="border_right">
                    <div><div>@h.close_price.ToString("F" + h.digits)</div></div>        
                </td>
            </tr>
        }
    </tbody>
    }
</table>
@if (Model.Count() == 0){ <div class="nodata">No data</div> }
else {
<div id="signalsPager" class="table_navigation">
    <div class="first"><span class="ui-icon ui-icon-seek-first"></span></div>
    <div class="prev icon"><i class="icon-prev"></i></div>
    <input type="text" class="pagedisplay" readonly />
    <div class="next icon"><i class="icon-next"></i></div>
    <div class="last"><span class="ui-icon ui-icon-seek-end"></span></div>
    <select class="pagesize"> 
	    <option selected="selected" value="10">10</option> 
	    <option value="20">20</option> 
	    <option value="30">30</option> 
	    <option value="40">40</option> 
    </select> 
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#signals_table").tablesorter({ cssHeader: 'table_header', widgets: ['zebra'] })
        .tablesorterPager({ container: $("#signalsPager"), positionFixed: false }); 
    });
</script>
}