﻿@model Pipular.Models.AddSystemModel

@{
    ViewBag.Title = "AddSystem";
}

<h2>Add new system</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Information of new system</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Desc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Desc)
            @Html.ValidationMessageFor(model => model.Desc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Desc_html)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Desc_html)
            @Html.ValidationMessageFor(model => model.Desc_html)
        </div>

        <div class="editor-label">
                @Html.LabelFor(m => m.Trade_type)
            </div>
            <div class="editor-field">
                <input type="radio" name="Trade_type" value="1" /> Automated
                <input type="radio" name="Trade_type" value="2" /> Semi automated
                <input type="radio" name="Trade_type" value="4" checked="checked" /> Manual
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Trade_style)
            </div>
            <div class="editor-field">
                <input type="checkbox" name="Trade_style" value="1"/> Scalping
                <input type="checkbox" name="Trade_style" value="2"/> Swing
                <input type="checkbox" name="Trade_style" value="4"/> News trading
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Trade_markets)
            </div>
            <div class="editor-field">
                <input type="checkbox" name="Trade_markets" value="1"/> Forex
                <input type="checkbox" name="Trade_markets" value="2"/> Futures
                <input type="checkbox" name="Trade_markets" value="4"/> CFDs
                <input type="checkbox" name="Trade_markets" value="8"/> Metal
                <input type="checkbox" name="Trade_markets" value="16"/> Stocks
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Trade_sessions)
            </div>
            <div class="editor-field">
                <input type="checkbox" name="Trade_sessions" value="1"/> Asian
                <input type="checkbox" name="Trade_sessions" value="2"/> US
                <input type="checkbox" name="Trade_sessions" value="4"/> Europen
                <input type="checkbox" name="Trade_sessions" value="8"/> UK
            </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
