﻿@model Pipular.Models.AddTariffModel

@{
    ViewBag.Title = "AddTariff";
}

<h2>Add new tariff</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Tariff information</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.type)
        </div>
        <div>
            <p>
                <input type="radio" name="type" value="0" />
                Days
            </p>
        </div>
        <div>
            <p>
                <input type="radio" name="type" value="1" />
                Pips
            </p>
        </div>
        <div>
            <p>
                <input type="radio" name="type" value="2" checked="checked"/>
                Percents
            </p>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tsize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tsize)
            @Html.ValidationMessageFor(model => model.tsize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.summa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.summa)
            @Html.ValidationMessageFor(model => model.summa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt4) <input type="checkbox" name="mt4" value="1" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email) <input type="checkbox" name="email" value="1" />
        </div>      

        <div class="editor-label">
            @Html.LabelFor(model => model.icq) <input type="checkbox" name="icq" value="1" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone) <input type="checkbox" name="phone" value="1" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.skype) <input type="checkbox" name="skype" value="1" />
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
