﻿@using Pipular.Models;
@using System.Globalization;
@model List<balance>

@{
    ViewBag.Title = "Balance";
}

<h2>Your balance</h2>

<p>
<b>Total: @Model.Sum(m => m.summa).ToString("C2", new CultureInfo("en-US"))</b>
&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Fill up", "FillUpBalance", "Private")&nbsp;|&nbsp;
@Html.ActionLink("Withdraw", "Withdraw", "Private")
</p>

<table>
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Sum
            </th>
            <th>
                Comment
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (balance b in Model)
        {
            <tr>
                <td>
                    @if (b.type == 0)
                    { <text> Fill up </text> }
                    @if (b.type == 1)
                    { <text> Draw </text> }
                    @if (b.type == 2)
                    { <text> For system </text> @b.system }
                </td>
                <td>
                    @b.summa.ToString("C2", new CultureInfo("en-US"))
                </td>
                <td>
                    @b.comment
                </td>
                <td>
                    @b.dt_create
                </td>
            </tr>
}
    </tbody>
</table>
