﻿@using Pipular.Models;
@model ConnectModel

<div class="configuration">
    <!--
    <div class="enabled">
        <input type="checkbox" id="enabled" @if(Model.cfg_enabled == 1) {<text>checked="checked"</text>} />
        <span class="font12">Use configuration</span>
    </div>
    -->
    <div class="other">
        <table>
            <tr>
                <td><input type="checkbox" id="morders" @if(Model.cfg_morders > 0) {<text>checked="checked"</text>} /></td>
                <td><span>Max orders count</span></td>
                <td align="right"><input type="text" class="lot_spinner" id="max_orders" value="@Model.cfg_morders" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="mvolume" @if(Model.cfg_mvolume > 0) {<text>checked="checked"</text>} /></td>
                <td><span>Max summary volume size</span></td>
                <td align="right"><input type="text" class="lot_spinner" id="sum_volume" value="@(((double)Model.cfg_mvolume / 100).ToString("F2"))" /></td>
            </tr>
        </table>       
    </div>
    <div class="volume">
        <table>
            <tr @if (Model.cfg_uvfs > 0 && Model.cfg_koeff < 0) {<text>class="ui-selected selected"</text>} id="cfg_uvfs">
                <td><span>Volume from signal</span></td>
                <td align="right"></td>
            </tr>
            <tr @if(Model.cfg_uvfs > 0 && Model.cfg_koeff > 0) {<text>class="ui-selected selected"</text>} id="cfg_koeff">
                <td><span>Koefficient to change volume</span></td>
                <td align="right"><input type="text" class="lot_spinner" id="koeff" value="@Model.cfg_koeff.ToString("F2")" /></td>
            </tr>
            <tr @if (Model.cfg_fixed > 0 && Model.cfg_percent < 0 && Model.cfg_uvfs == 0) {<text>class="ui-selected selected"</text>} id="cfg_fixed">
                <td><span>Fixed volume</span></td>
                <td align="right"><input type="text" class="lot_spinner" id="lot" value="@(((double)Model.cfg_fixed / 100).ToString("F2"))" /></td>
            </tr>
            <tr @if (Model.cfg_percent > 0 && Model.cfg_fixed == 1 && Model.cfg_uvfs == 0) {<text>class="ui-selected selected"</text>} id="cfg_percent">
                <td><span>Volume by percent from free margin</span></td>
                <td align="right"><input type="text" class="lot_spinner" id="percent" value="@Model.cfg_percent" /></td>
            </tr>
        </table>
    </div>
    <button id="submit_copy" class="submit">save</button>
    <center><div class="circle_loader" style="display: none"></div></center>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#koeff').spinner({ min: 0.01, max: 100, step: 0.01, width: 20 });
        $('#lot').spinner({ min: 0.01, max: 100, step: 0.01, width: 20 });
        $('#percent').spinner({ min: 1, max: 100, step: 1, width: 20 });
        $('#max_orders').spinner({ min: 1, max: 100, step: 1, width: 20 });
        $('#sum_volume').spinner({ min: 0.01, max: 100, step: 0.01, width: 20 });

        $('#submit_copy').button();

        $('.volume table').selectable({
            filter: 'tr',
            stop: function () {
                $('.volume tr.ui-selectee .lot_spinner').spinner('disable');
                $('.volume tr.ui-selected .lot_spinner').spinner('enable');   
            }
        });

        function Enable() {
            $('.configuration tr.ui-selectee .lot_spinner').spinner('disable');
            $('.configuration tr.ui-selected .lot_spinner').spinner('enable');
           
            if ($('#morders').attr('checked') == 'checked') {
                $('#max_orders').spinner('enable');
            }
            else {
                $('#max_orders').spinner('disable');
            }

            if ($('#mvolume').attr('checked') == 'checked') {
                $('#sum_volume').spinner('enable');
            }
            else {
                $('#sum_volume').spinner('disable');
            }
        }

        Enable();

        $('input:checkbox').click(function () {
            Enable();
        });

        $('#submit_copy').click(function () {
            var param = $('.ui-selected').attr('id');
            var value = $('.ui-selected input').val();
            var morders = 0;
            var mvolume = 0;

            if ($('#morders').attr('checked') == 'checked') morders = $('#max_orders').val();
            if ($('#mvolume').attr('checked') == 'checked') mvolume = $('#sum_volume').val();

            $.ajax({
                cache: false,
                url: 'SaveConfiguration/@Model.nmbr',
                data: 'param=' + param + '&value=' + value + '&morders=' + morders + '&mvolume=' + mvolume,
                beforeSend: function () { $('#submit_copy').button('disable'); $('.circle_loader').css('display', 'block'); },
                success: function (result) { $('#popup #popup_content').html(result); }
            });
        });
    });
</script>