﻿@using Pipular;
@using Pipular.Models;
@model ConnectModel

@{
    string update_selector = "$('.connect_block').filter('#" + Model.nmbr.ToString() + "')";
    string update_selector2 = ".connect_block#" + Model.nmbr.ToString();
    string colorGreen = "color: LimeGreen";
    string colorGray = "color: #696969";
    string colorRed = "color: Red";

    AjaxOptions SendToAjaxOptions = new AjaxOptions()
                 {
                     OnBegin = "unavail(" + update_selector + ")",
                     OnSuccess = "avail(" + update_selector + ")",
                     OnFailure = "fail(" + update_selector + ")"
                 };
    //object attributes = new { style = style, data_ajax_mode = "replaceWith", data_ajax_update = update_selector };
}

<div class="connect_block" id="@Model.nmbr">
    <div class="head">
        <div class="system" id="@Model.system_nmbr">@Ajax.ActionLink(Model.system_name, "SystemDetails", "Home", new { id = Model.system_nmbr }, new AjaxOptions()
                                               {
                                                   OnBegin = "OpenPopup('Details of " + Model.system_name + "', 950)",
                                                   InsertionMode = InsertionMode.Replace,
                                                   UpdateTargetId = "popup_content",
                                                   OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')"
                                               })
        </div>
        <div class="switch">
            @Ajax.ActionLink("enabled", "ConnectSwitch", "Private", new { id = Model.nmbr }, SendToAjaxOptions, 
                new { 
                    style = (Model.cfg_enabled == 1) ? colorGreen : colorGray, 
                    data_ajax_mode = "replaceWith", 
                    data_ajax_update = update_selector2
                })
        </div>
    </div>
    <div class="tariff">@TariffModel.TarifAnalizer(Model.type, Model.tsize, Model.summa)</div>
    <div class="send_to">
        &nbsp;
        @if (Model.mt4 == 1)
        {
            if (Model.account_nmbr == 0)
            { 
                <span style="@colorRed" title="drop this connect to MetaTrader account">MT</span> 
            }
            else
            {
                string style = (Model.connect_mt4 == 1) ? colorGreen : colorGray;
                @Ajax.ActionLink("MT", "SendingTypeSwitch", "Private", new { id = Model.nmbr, type = 1 }, SendToAjaxOptions, 
                    new { 
                        style = style, 
                        data_ajax_mode = "replaceWith",
                        data_ajax_update = update_selector2
                    })
            }
        }
        else
        { <text>MT4</text> }
        &nbsp;
        @if (Model.email == 1)
        {
            string style = (Model.connect_email == 1) ? colorGreen : colorGray;
            @Ajax.ActionLink("E-mail", "SendingTypeSwitch", "Private", new { id = Model.nmbr, type = 2 }, SendToAjaxOptions, 
                 new { 
                     style = style, 
                     data_ajax_mode = "replaceWith", 
                     data_ajax_update = update_selector2
                 })
        }
        else
        { <text>E-mail</text> }
        &nbsp;
        @if (Model.icq == 1)
        {
            string style = (Model.connect_icq == 1) ? colorGreen : colorGray;
            @Ajax.ActionLink("ICQ", "SendingTypeSwitch", "Private", new { id = Model.nmbr, type = 3 }, SendToAjaxOptions, 
                new { 
                    style = style, 
                    data_ajax_mode = "replaceWith", 
                    data_ajax_update = update_selector2 
                })
        }
        else
        { <text>ICQ</text> }
        &nbsp;
        @if (Model.phone == 1)
        {
            string style = (Model.connect_phone == 1) ? colorGreen : colorGray;
            @Ajax.ActionLink("SMS", "SendingTypeSwitch", "Private", new { id = Model.nmbr, type = 4 }, SendToAjaxOptions, 
                new { 
                    style = style, 
                    data_ajax_mode = "replaceWith", 
                    data_ajax_update = update_selector2 
                })
        }
        else
        { <text>SMS</text> }
        &nbsp;
        @if (Model.skype == 1)
        {
            string style = (Model.connect_skype == 1) ? colorGreen : colorGray;
            @Ajax.ActionLink("Skype", "SendingTypeSwitch", "Private", new { id = Model.nmbr, type = 5 }, SendToAjaxOptions, 
                 new { 
                     style = style, 
                     data_ajax_mode = "replaceWith", 
                     data_ajax_update = update_selector2 
                 })
        }
        else
        { <text>Skype</text> }
        &nbsp;
    </div>
    <div class="details">
        @Ajax.ActionLink("details", "ConnectDetails", "Private", new { system = Model.system_nmbr, connect = Model.nmbr }, new AjaxOptions()
        {
            OnBegin = "OpenPopup('Configuration of " + Model.system_name + "', 950)",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "popup_content",
            OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')"
        })
        @Ajax.ActionLink("configuration", "ConnectConfiguration", "Private", new { id = Model.nmbr }, new AjaxOptions()
        {
            OnBegin = "OpenPopup('Configuration of " + Model.system_name + "', 500)",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "popup_content",
            OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')"
        })
    </div>
    <div class="footer">
        <div class="time_create" title="date of creation @Model.dt_create.ToClientTime()">@Model.dt_create.ToClientTime().ToLongDateString()</div>
        <div class="time_update" title="date of last update @Model.dt_last.ToClientTime()">@Model.dt_last.ToClientTime().ToLongDateString()</div>
        <div class="disconnect">
            @Ajax.ActionLink("delete", "ConnectDelete", "Private", new { id = Model.nmbr }, new AjaxOptions()
            {
                Confirm = "Connection permanently deleted. Are you sure?",
                OnBegin = "unavail(" + update_selector + ")",
                OnSuccess = "deleteElement(" + update_selector + ", function() { recountExpander('.portfolio_block .connects'); })",
                OnComplete = "Message()",
                UpdateTargetId = "alert"
            })
        </div>
    </div>
</div>