﻿@using Pipular.Models;

@{
    ViewBag.Title = "Connect details";
}

@if (ViewData["start"] != null && ViewData["stop"] != null)
{
    <b>Period from <span class="underline red_text">@ViewData["start"]</span> to <span class="underline red_text">@ViewData["stop"]</span></b>
}

<div id="graph_buttons">
    <button id="profit_chart_button">Profit</button>
    <button id="pips_chart_button">Pips</button>
</div>

<canvas id="canvasGraph" width=900 height=400></canvas>

<fieldset id="statistic">
    <legend>Statistics</legend>
    @Html.Partial("ConnectStatistic", ViewData["statistic"])
</fieldset>

<fieldset>
    <legend>Trade info</legend>
    <div id="navigation">
        <div class="tabs">
            <a href="#history" class="tab current">History</a>
            <a href="#trades" class="tab">Open trades</a>
        </div>
    </div>
    <div id="data">
        <div class="items" id="connect">
            <div class="tab_panel" id="history">@Html.Partial("HistoryTable", (IEnumerable<history>)ViewData["history_connect"])</div>
            <div class="tab_panel" id="trades">@Html.Partial("TradesTable", (IEnumerable<trade>)ViewData["trade_connect"])</div>
        </div>
    </div>
</fieldset>

<script type="text/javascript">
    $(document).ready(function () {
        // get chart data
        $.ajax({
            type: 'GET',
            cache: false,
            url: '@Html.Raw(Url.Action("ConnectHistory", "Chart", new { system = (int)ViewBag.System, connect = (int)ViewBag.Connect, start = ViewData["start"], stop = ViewData["stop"] }))',
            success: function (result) { drawSystemChart(result, "canvasGraph", "profit_chart_button", "pips_chart_button"); }
        });

        $('#data').scrollable({
            next: '#navigation .next',
            prev: '#navigation .prev'
        }).navigator({
            navi: 'div.tabs',
            naviItem: 'a.tab',
            activeClass: 'current'
        });
    });
</script>