﻿@using Pipular.Models;

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<link href="@Href("~/Content/themes/pipular/Dashboard.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/dashboard.js")" type="text/javascript"></script>

<center>
    <div id="navigation">
        <div class="tabs">
            <a href="#follow" class="tab current" id="follow_tab">Follow</a>
            <a href="#copy" class="tab" id="copy_tab">Copy</a>
            <a href="#lead" class="tab" id="lead_tab">Lead</a>
        </div>
    </div>
    <div id="dashboard">
        <div class="items">
            <div class="tab_panel" id="follow">
                @Html.Partial("FollowPanel", (List<Portfolio>)ViewBag.Portfolios)
            </div>
            <div class="tab_panel" id="copy">
                @Html.Partial("CopyPanel", (IEnumerable<copy>)ViewBag.Copies)
            </div>
            <div class="tab_panel" id="lead">
                @Html.Partial("LeadPanel", (List<SystemModel>)ViewBag.Systems)
            </div>
        </div>
    </div>
</center>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dashboard').scrollable({ next: '.navigation .next', prev: '.navigation .prev' }).navigator({
            navi: 'div.tabs',
            naviItem: 'a.tab',
            activeClass: 'current'
        });

        var width = 100 / $('#dashboard').find('.tab_panel').length;
        //$('#dashboard').find('.tab_panel').css('width', width + '%');
    });
</script>