﻿@model Pipular.Models.TariffModel

@{
    ViewBag.Title = "Edit tariff";
}

<h2>Edit tariff</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Tarif information</legend>

        <input type="hidden" name="system" value="@Model.system" />

        <div class="editor-label">
            @Html.LabelFor(model => model.enabled) <input type="checkbox" name="enabled" value="1" @if(Model.enabled == 1){<text>checked="checked"</text>} />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.type)
        </div>
        <div>
            <p>
                <input type="radio" name="type" value="0" @if(Model.type == 0){<text>checked="checked"</text>} />
                Days
            </p>
        </div>
        <div>
            <p>
                <input type="radio" name="type" value="1" @if(Model.type == 1){<text>checked="checked"</text>}/>
                Pips
            </p>
        </div>
        <div>
            <p>
                <input type="radio" name="type" value="2" @if(Model.type == 2){<text>checked="checked"</text>}/>
                Percents
            </p>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tsize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tsize)
            @Html.ValidationMessageFor(model => model.tsize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.summa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.summa)
            @Html.ValidationMessageFor(model => model.summa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt4) <input type="checkbox" name="mt4" value="1" @if(Model.mt4 == 1){<text>checked="checked"</text>} />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email) <input type="checkbox" name="email" value="1" @if(Model.email == 1){<text>checked="checked"</text>}  />
        </div>        

        <div class="editor-label">
            @Html.LabelFor(model => model.icq) <input type="checkbox" name="icq" value="1" @if(Model.icq == 1){<text>checked="checked"</text>}  />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone) <input type="checkbox" name="phone" value="1" @if(Model.phone == 1){<text>checked="checked"</text>}  />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.skype) <input type="checkbox" name="skype" value="1" @if(Model.skype == 1){<text>checked="checked"</text>}  />
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}