﻿@using Pipular.Models;
@model FillUpBalanceModel

  
@{
    ViewBag.Title = "Fill up balance";
}

<h2>Freebie money!!!</h2>

<div id="result">
</div>

@using (Ajax.BeginForm("FillUp", "Private", 
    new AjaxOptions {
     InsertionMode=InsertionMode.Replace,
     HttpMethod="POST",
     UpdateTargetId="result",            
  }))
{   
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Freebie pay</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.summa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.summa)
            @Html.ValidationMessageFor(model => model.summa)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.comment)
            @Html.ValidationMessageFor(model => model.comment)
        </div>
        <input type="submit" value="Pay" />
    </fieldset>
}