﻿@using Pipular.Models;
@model List<Portfolio>

<div class="simple_block">
    <div id="systems">
        <div class="label"><span>Available systems</span></div>
        <div class="expandable" id="systemsTable">
            @Html.Action("SystemTable", "Home")
        </div>
        <div class="expander"><span class="ui-icon"></span></div>
    </div>
</div>
<div class="simple_block" id="noportfolios">
    <div class="connects">
        <div class="label"><span>Free connects</span></div>
        <div class="expandable" id="freeConnects">
            @foreach (ConnectModel connect in Model.Single(m => m.nmbr == 0).connects)
            {
                @Html.Partial("ConnectBlock", connect)
            }
        </div>
        <div class="expander"><span class="ui-icon"></span></div>
    </div>
</div>
<div class="simple_block" id="portfolios">
    @foreach (Portfolio portfolio in Model.Where(m => m.nmbr > 0))
    {
        @Html.Partial("PortfolioBlock", portfolio)
    }
</div>