﻿@using Pipular.Models;
@model List<TariffModel>

<table id="tariffTable" class="selectable">
@foreach (TariffModel t in Model)
{
    <tr class="forselect" id="@t.nmbr">
        <td>@TariffModel.TarifAnalizer(t.type, t.tsize, t.summa)
        </td>
        <td>
            <span style="color: @if (t.mt4 == 1)
                                {<text>LimeGreen</text>};">MT4</span> &nbsp;&nbsp;
            <span style="color: @if (t.email == 1)
                                {<text>LimeGreen</text>};">E-mail</span> &nbsp;&nbsp;
            <span style="color: @if (t.phone == 1)
                                {<text>LimeGreen</text>};">SMS</span> &nbsp;&nbsp;
            <span style="color: @if (t.icq == 1)
                                {<text>LimeGreen</text>};">ICQ</span> &nbsp;&nbsp;
            <span style="color: @if (t.skype == 1)
                                {<text>LimeGreen</text>};">Skype</span>
        </td>
    </tr>
}
</table>