﻿@using Pipular.Models;
@model List<account>
@{
    LiveTradeSignal signal = (LiveTradeSignal)ViewData["live_signal"];
    IQueryable<tarif> tariffs = (IQueryable<tarif>)ViewData["tariffs"];
  }

<script type="text/javascript">
    $(document).ready(function () {

        function GetSelected() {
            $('#account_id').val($('table.selectable tr.ui-selected').attr('id'));
            $('#tariff_id').val($('#tariffs li.ui-selected').attr('data-id'));
            if ($('table.selectable tr.ui-selected').length == 1 &&
                $('#tariffs li.ui-selected').length == 1) 
                $('#submit_copy').button('enable');
            else $('#submit_copy').button('disable');
        }
        $('#lot').spinner({ min: 0.01, max: 100, step: 0.01, width: 20 });
        $('table.selectable, #tariffs').selectable({
            filter: '.forselect',
            stop: function () { GetSelected() }
        });
        $('#submit_copy').button({ disabled: true });

        // HUB
        var copyResultHub = $.connection.copyResult;

        copyResultHub.Response = function (mess) {
            $('#copy_result').html(mess);
        };

        copyResultHub.End = function () {
            $('#submit_copy').button('enable');
            $('#min_wait').hide();
        };

        $('#submit_copy').click(function () {
            $('#submit_copy').button('disable');
            var lot = $('#lot').val();
            var account = $('#account_id').val();
            var signal = $('#signal_id').val();
            var tariff = $('#tariff_id').val();
            var uid = $('#uid').val();
            copyResultHub.copy(lot, signal, uid, account, tariff);
            $('#min_wait').show();
        });
    });
</script>

<h3>Signal info</h3>

<div class="signal_info">
    <div class="trader">Trader: @Html.ActionLink(signal.trader, "TraderDetails", "Home", new { id = signal.trader }, new { target = "_blank" })</div><br />
    <div class="system">System: @Html.ActionLink(signal.system, "SystemDetails", "Home", new { id = signal.system_id }, new { target = "_blank" })</div>
    <div class="time">@signal.public_time</div>
    <div class="order">
        <div class="type">@signal.signal_type</div>
        <div class="command">@signal.command</div>
        <div class="symbol">@signal.symbol</div>
        <div class="price">at @signal.price.ToString("F" + signal.digits)</div>
    </div>
    <div class="bottom"></div>
</div>

<h3>Choose account</h3>

<center>
    <table class="selectable">
        <thead>
            <tr>
                <th>Number</th>
                <th>Company</th>
                <th>Balance</th>
                <th>Equity</th>
            </tr>
        </thead>
        <tbody>
        @if (Model.Count > 0)
        {
            foreach (account a in Model)
            {
                <tr @if (a.serv3online == 1)
                    {<text>class="forselect"</text>}
                    else {<text>title="offline"</text>} id = "@a.nmbr" >
                    <td>@a.number</td> 
                    <td>@a.company</td>
                    <td>@a.balance</td>
                    <td>@a.equity</td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="4">no accounts</td></tr>
        }
        </tbody>
    </table>

    <h3>Choose tariff</h3>
    <ul class="selectable" id="tariffs">
        @foreach (tarif t in tariffs)
        {
            <li class="forselect" data-id="@t.nmbr">@TariffModel.TarifAnalizer2(t.type2, t.tsize2, t.summa2)</li>
        }
    </ul>
</center>

<h3>Set lot</h3>


<input type="text" class="lot_spinner" id="lot" name="lot" value="@signal.lot.ToString("F2")" /><br />
<input type="hidden" id="account_id" name="account_id" value="0" />
<input type="hidden" id="signal_id" name="signal_id" value="@signal.nmbr" />
<input type="hidden" id="uid" name="uid" value="@signal.uid" />
<input type="hidden" id="tariff_id" name="tariff_id" value="0" />
<button id="submit_copy" class="submit">copy</button>
<br />
<div id="copy_result"></div>
<center><div id="min_wait"></div></center>