﻿@using Pipular.Models;
@model List<TariffModel>

<script type="text/javascript">
    $(document).ready(function () {

        function GetSelected() {
            $('#tariff_id').val($('table.selectable tr.ui-selected').attr('id'));
            if ($('table.selectable tr.ui-selected').length == 1 && $('#agree').attr('checked') == 'checked')
                $('#submit_follow').button('enable');
            else $('#submit_follow').button('disable');
        }
        $('table.selectable').selectable({
            filter: '.forselect',
            stop: function () { GetSelected() }
        });
        $('#submit_follow').button({ disabled: true });

        $('#agree').click(function () {
            GetSelected()
        });

        $('#submit_follow').click(function () {
            $('#submit_follow').button('disable');
            $('#min_wait').show();
            var tariff = $('#tariff_id').val();
            var connect_id;

            $.ajax({
                type: 'GET',
                url: '@Url.Action("ConnectSystem", "Private")',
                data: 'id=' + tariff,
                cache: false,
                success: function (result) {
                    $('#popup_content').html(result);
                    connect_id = $(result).find('input#connect_id').val();
                }
            }).done(function () {
                if (connect_id != undefined) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("ConnectBlock", "Private")',
                        data: 'id=' + connect_id,
                        cache: false,
                        success: function (result) {
                            $('#freeConnects').append(result);
                            avail('#freeConnects');
                        }
                    });
                }
            });
        });
    });
</script>

<div id="follow_system">
    @Html.Partial("GetTariffs", Model, ViewData)
    <div class="font12">
        <input type="checkbox" id="agree" name="agree" />
        I have read the @Html.ActionLink("agreement", "Agreement", "Documents") and authorize the system to trade on my account.<br />
    </div>
    <input type="hidden" id="tariff_id" name="tariff_id" value="0" />
    <button id="submit_follow" class="submit">follow</button>
    <br />
    <center><div id="min_wait"></div></center> 
</div>