﻿@using Pipular.Models;
@model List<SystemModel>

<p>
<button id="addSystem">Add system</button>
</p>

<div class="simple_block" id="my_systems">
    @foreach (SystemModel sys in Model)
    {
        @Html.Partial("SystemBlock", sys)
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>