﻿@using Pipular.Models;
@{
    ViewBag.Title = "My systems";
}

<h2>MySystems</h2>

<p>
@Html.ActionLink("Add system", "AddSystem", "Private")
</p>

<table style="text-align:center;">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Profit/loss (pips)
            </th>
            <th>
                Clients
            </th>
            <th>
                Opened
            </th>
            <th>
                Closed
            </th>
            <th>
                Signals
            </th>
            <th>
                Last signal
            </th>
            <th>
                Was create
            </th>
            <th>
                Enabled
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (SystemModel sys in (List<SystemModel>)@ViewData["my_systems"])
    {
        <tr style="background: @if (sys.enabled == 0)
                                       {<text>#ddd</text>}
                                       else{
                                           if (sys.serv3online == 1)
                                           {<text>PaleGreen</text>}};">
            <td>
                @Html.ActionLink(sys.name, "SystemDetails", "Home", new { id = sys.nmbr }, null)
            </td>
            <td>
                @sys.pl (@sys.pts)
            </td>
            <td>
                @sys.clients
            </td>
            <td>
                @sys.opened
            </td>
            <td>
                @sys.closed
            </td>
            <td>
                @sys.signals
            </td>
            <td>
                @sys.last_signal_time
            </td>
            <td>
                @sys.dt_create
            </td>
            <td>
                @if (sys.enabled == 0)
                {
                    <span style="color: Red;">NO</span>
                    }
                else
                {
                    <span style="color: green;">YES</span>
                    }
            </td>
            <td>
                @Html.ActionLink("Edit", "EditMySystem", "Private", new { id = sys.nmbr }, null)
            </td>
        </tr>
        
        if (ViewData["my_tarifs"] != null)
        {
            List<TariffModel> sys_tarifs = (from tar in (List<TariffModel>)ViewData["my_tarifs"]
                                                       where tar.system == sys.nmbr
                                                       select tar).ToList();

            if (sys_tarifs.Count > 0)
            {
                foreach (TariffModel t in sys_tarifs)
                {
                    <tr>
                       <td colspan="2">&nbsp;&nbsp;&nbsp;</td>
                       <td colspan="2">@TariffModel.TarifAnalizer(t.type, t.tsize, t.summa)</td>
                       <td colspan="4">
                              <span style="color: @if (t.mt4 == 1)
                                                  {<text>LimeGreen</text>};">MT4</span>
                              &nbsp;&nbsp;
                              <span style="color: @if (t.email == 1)
                                                  {<text>LimeGreen</text>};">E-mail</span>
                              &nbsp;&nbsp;
                              <span style="color: @if (t.phone == 1)
                                                  {<text>LimeGreen</text>};">SMS</span>
                              &nbsp;&nbsp;
                              <span style="color: @if (t.icq == 1)
                                                  {<text>LimeGreen</text>};">ICQ</span>
                              &nbsp;&nbsp;
                              <span style="color: @if (t.skype == 1)
                                                  {<text>LimeGreen</text>};">Skype</span>
                        </td>
                        <td>
                           @if (t.enabled == 0) { <span style="color: Red;">NO</span> }
                            else { <span style="color: green;">YES</span> }
                        </td>
                        <td>@Html.ActionLink("Edit", "EditTariff", "Private", new { id = t.nmbr }, null)</td>
                     </tr>
                }
            }
            else
            {
                <tr>
                   <td colspan="2">&nbsp;&nbsp;&nbsp;</td>
                   <td colspan="8">NO TARIFFS</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">&nbsp;&nbsp;&nbsp;</td>
                <td colspan="8">NO TARIFFS</td>
            </tr>
        }
        <tr>
           <td colspan="8">&nbsp;&nbsp;&nbsp;</td>
           <td colspan="2">@Html.ActionLink("Add tariff", "AddTariff", "Private", new { id = sys.nmbr }, null)</td>
        </tr>
    }
    </tbody>
</table>