﻿@model Pipular.Models.AddSystemModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "popup_content", HttpMethod = "POST", OnBegin = "loading()", OnSuccess = "ClosePopup(); replaceTo('#my_systems'); expander('#my_systems .system_block .tariffs', 500); recountExpander('.system_block .tariffs');" }))
{
    @Html.ValidationSummary(true)
    <div class="form"> 
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)<br />
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Desc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Desc)<br />
            @Html.ValidationMessageFor(model => model.Desc)
        </div>
        <!--
        <div class="editor-label">
            @Html.LabelFor(model => model.Desc_html)
        </div>
        <div class="editor-field">
            <textarea id="Desc_html" name="Desc_html" rows="5" cols="40"></textarea>
        </div>
        -->
        <div class="editor-label">
            @Html.LabelFor(m => m.Trade_type)
        </div>
        <div class="editor-field">
            <input type="radio" name="Trade_type" value="1" /> Automated <br />
            <input type="radio" name="Trade_type" value="2" /> Semi automated <br />
            <input type="radio" name="Trade_type" value="4" checked="checked" /> Manual <br />
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Trade_style)
        </div>
        <div class="editor-field">
            <input type="checkbox" name="Trade_style" value="1"/> Scalping <br />
            <input type="checkbox" name="Trade_style" value="2"/> Swing <br />
            <input type="checkbox" name="Trade_style" value="4"/> News trading <br />
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Trade_sessions)
        </div>
        <div class="editor-field">
            <input type="checkbox" name="Trade_markets" value="1"/> Forex <br />
            <input type="checkbox" name="Trade_markets" value="2"/> Futures <br />
            <input type="checkbox" name="Trade_markets" value="4"/> CFDs <br />
            <input type="checkbox" name="Trade_markets" value="8"/> Metal <br />
            <input type="checkbox" name="Trade_markets" value="16"/> Stocks <br />
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Trade_markets)
        </div>
        <div class="editor-field">
            <input type="checkbox" name="Trade_sessions" value="1"/> Asian <br />
            <input type="checkbox" name="Trade_sessions" value="2"/> US <br />
            <input type="checkbox" name="Trade_sessions" value="4"/> Europen <br />
            <input type="checkbox" name="Trade_sessions" value="8"/> UK <br />
        </div>
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
}