﻿@model Pipular.Models.TariffModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{
    int id = Model == null ? 0 : Model.nmbr;
    int type = Model == null ? -1 : Model.type;
    int type2 = Model == null ? -1 : Model.type2;
    string onSuccess = "";
    if (id == 0) { onSuccess = "ClosePopup(); replaceTo('#tariffs" + ViewBag.SystemId + "')"; }
    else { onSuccess = "ClosePopup(); updateTo($('#tariffs" + ViewBag.SystemId + " .tariff_block').filter('#" + id + "'))"; }
    List<int> disabled = ViewBag.Disabled == null ? new List<int>() : ViewBag.Disabled;
    List<int> disabled2 = ViewBag.Disabled2 == null ? new List<int>() : ViewBag.Disabled2;
}

@using (Ajax.BeginForm("NewTariff", new { id = id }, new AjaxOptions() { UpdateTargetId = "popup_content", HttpMethod = "POST", OnBegin = "loading()", OnSuccess = onSuccess, OnComplete = "recountExpander('.system_block .tariffs');" }))
{
    <script type="text/javascript">
        function onSubmit() {
            $('#tariff #tsize').val($('#tariff .period .size:visible').val());
            $('#tariff #summa').val($('#tariff .period .sum:visible').val());
            $('#tariff #tsize2').val($('#tariff .apiece .size:visible').val());
            $('#tariff #summa2').val($('#tariff .apiece .sum:visible').val());
        }
    </script>
    @Html.ValidationSummary(true)
    <div class="form" id="tariff">
        <fieldset>
            <legend>Following fees</legend>
            <div id="periods" @if (Model != null){<text>style="display: none"</text>}>
                <input type="radio" name="type" class="type" value="-1" @if (type == -1)
                                                                                    {<text>checked</text>} />
                <input type="radio" name="type" class="type" id="free" value="0" @if (type == 0)
                                                                                    {<text>checked</text>} @if(disabled.Any(d => d == 0))
                                                                                                           {<text>disabled</text>} /><label for="free">Free</label>
                <input type="radio" name="type" class="type" id="days" value="1" @if (type == 1)
                                                                                    {<text>checked</text>} @if(disabled.Any(d => d == 1))
                                                                                                           {<text>disabled</text>}/><label for="days">Days</label>
                <input type="radio" name="type" class="type" id="pips" value="2" @if (type == 2)
                                                                                    {<text>checked</text>} @if(disabled.Any(d => d == 2))
                                                                                                           {<text>disabled</text>}/><label for="pips">Pips</label>
                <input type="radio" name="type" class="type" id="percents" value="3" @if (type == 3)
                                                                                        {<text>checked</text>} @if(disabled.Any(d => d == 3))
                                                                                                           {<text>disabled</text>}/><label for="percents">Percents</label>
            </div>
            <div class="panel period" id="none_">Select type of fees.</div>
            <div class="panel period" id="free_">No fees</div>
            <div class="panel period" id="day">
                <span>Client use my system </span>
                <input type="text" class="size" value="@(Model == null ? 7 : Model.tsize)" />
                <span> days, and he pay me $</span>
                <input type="text" class="sum" value="@(Model == null ? 1 : Model.summa)" />
            </div>
            <div class="panel period" id="pip">
                <span>Client gets profit </span>
                <input type="text" class="size" value="@(Model == null ? 100 : Model.tsize)" />
                <span> pips, and he pay me $</span>
                <input type="text" class="sum" value="@(Model == null ? 1 : Model.summa)" />
            </div>
            <div class="panel period" id="percent">
                <span>Client pay me </span>
                <input type="text" class="size" value="@(Model == null ? 20 : Model.tsize)" />
                <span> % from profit.</span>
            </div>
        </fieldset>
        <fieldset>
            <legend title="Clients have ability to copy by one trade">Copying fees via @Html.ActionLink("TradeStream", "TradeStream", "Home", new { target = "_blank" })</legend>
            <div id="apiece" @if (Model != null){<text>style="display: none"</text>}>
                <input type="radio" name="type2" class="type" value="-1" @if (type2 == -1)
                                                                                    {<text>checked</text>} />
                <input type="radio" name="type2" class="type" id="afree" value="0" @if (type2 == 0)
                                                                                    {<text>checked</text>} @if(disabled2.Any(d => d == 0))
                                                                                                           {<text>disabled</text>}/><label for="afree">Free</label>
                <input type="radio" name="type2" class="type" id="fixed" value="1" @if (type2 == 1)
                                                                                    {<text>checked</text>} @if(disabled2.Any(d => d == 1))
                                                                                                           {<text>disabled</text>}/><label for="fixed">Fixed</label>
                <input type="radio" name="type2" class="type" id="apips" value="2" @if (type2 == 2)
                                                                                    {<text>checked</text>} @if(disabled2.Any(d => d == 2))
                                                                                                           {<text>disabled</text>}/><label for="apips">Pips</label>
                <input type="radio" name="type2" class="type" id="apercents" value="3" @if (type2 == 3)
                                                                                        {<text>checked</text>} @if(disabled2.Any(d => d == 3))
                                                                                                           {<text>disabled</text>}/><label for="apercents">Percents</label>
            </div>   
            <div class="panel apiece" id="anone_">Select type of fees.</div> 
            <div class="panel apiece" id="afree_">No fees</div>
            <div class="panel apiece" id="fix">
                <span>Client pay me </span>
                <input type="text" class="sum" value="@(Model == null ? 1 : Model.summa2)" />
                <span> $ for one trade.</span>
            </div>
            <div class="panel apiece" id="apip">
                <span>For every </span>
                <input type="text" class="size" value="@(Model == null ? 100 : Model.tsize2)" />
                <span> pips client pays me $</span>
                <input type="text" class="sum" value="@(Model == null ? 1 : Model.summa2)" />
                <div class="note">For example, if you set $10 for 100 pips, and client makes profit 50 pips you get $5.</div>
            </div>
            <div class="panel apiece" id="apercent">
                <span>Client pay me </span>
                <input type="text" class="size" value="@(Model == null ? 20 : Model.tsize2)" />
                <span> % from profit.</span>
                <div class="note"></div>
            </div>
        </fieldset>
        <p>
            <input type="hidden" name="tsize" id="tsize" value="0" />
            <input type="hidden" name="tsize2" id="tsize2" value="0" />
            <input type="hidden" name="summa" id="summa" value="0" />
            <input type="hidden" name="summa2" id="summa2" value="0" />
            <input type="hidden" name="system_id" id="system_id" value="@ViewBag.SystemId" />
            <input type="submit" id="submit" onmousedown="onSubmit()" value="Save" />
        </p>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#tariff #submit').button();
        $('#tariff #periods').buttonset();
        $('#tariff #apiece').buttonset();
        $('#tariff .sum').spinner({ min: 0.1, max: 100, step: 0.01, width: 20 });
        $('#tariff .size').spinner({ min: 1, max: 1000, step: 1, width: 20 });

        $('#tariff #periods .type').change(function () {
            $('#tariff .panel.period').css('display', 'none');
            switch ($(this).attr('id')) {
                case 'free':
                    $('#tariff #free_').css('display', 'block');
                    break
                case 'days':
                    $('#tariff #day').css('display', 'block');
                    break
                case 'pips':
                    $('#tariff #pip').css('display', 'block');
                    break
                case 'percents':
                    $('#tariff #percent').css('display', 'block');
                    break
                default:
                    $('#tariff #none_').css('display', 'block');
            }
            if ($('#apiece .type:checked').val() != '-1') $('#tariff #submit').button('enable');
        });

        $('#tariff #apiece .type').change(function () {
            $('#tariff .panel.apiece').css('display', 'none');
            switch ($(this).attr('id')) {
                case 'afree':
                    $('#tariff #afree_').css('display', 'block');
                    break
                case 'fixed':
                    $('#tariff #fix').css('display', 'block');
                    break
                case 'apips':
                    $('#tariff #apip').css('display', 'block');
                    break
                case 'apercents':
                    $('#tariff #apercent').css('display', 'block');
                    break
                default:
                    $('#tariff #anone_').css('display', 'block');
            }
            if ($('#periods .type:checked').val() != '-1') $('#tariff #submit').button('enable');
        });

        $('#tariff #periods .type:checked').change();
        $('#tariff #apiece .type:checked').change();

        $('#tariff #submit').button('disable');
    });
</script>

