﻿@using Pipular.Models;
@model PortfolioModel

@{string portf_id = "Portfolio" + Model.id;}

<div class="portfolio_name" style="float: left; font-size: 18px;"><b>@Model.name</b>&nbsp;&nbsp;&nbsp;</div>
<div class="portfolio_public" style="float:right;">public 
    @if (Model.@public == 0)
    {
        @Ajax.ActionLink("NO", "PortfolioPublicSwitch", new { id = Model.id, new_portfolio = false }, new AjaxOptions()
                                                                                                                {
                                                                                                                    HttpMethod = "GET",
                                                                                                                    InsertionMode = InsertionMode.Replace,
                                                                                                                    UpdateTargetId = portf_id,
                                                                                                                    OnComplete = "makeDrag('document', 'tr.connect')"
                                                                                                                }, new { style = "color:Red;" })
    }
    else
    {
        @Ajax.ActionLink("YES", "PortfolioPublicSwitch", new { id = Model.id, new_portfolio = false }, new AjaxOptions()
                                                                                                               {
                                                                                                                   HttpMethod = "GET", 
                                                                                                                   InsertionMode = InsertionMode.Replace, 
                                                                                                                   UpdateTargetId = portf_id,
                                                                                                                   OnComplete = "makeDrag('document', 'tr.connect')" 
                                                                                                               }, new { style = "color:Green;" })
    }
</div>
<div class="portfolio_connects" style="clear: both;">
    <fieldset>
        <legend>Connects</legend>
        @{string table_id = "ConnectsForPortfolio" + Model.id;}
        <div class="connectsTableContaner" id="@table_id">
            @Html.Partial("MyConnectsTable", (List<ConnectModel>)ViewData["connects_in_p"])
        </div>
        <script type="text/javascript">
            makeDrop('#@portf_id');
        </script>
    </fieldset>
</div>
@Ajax.ActionLink("delete", "DeletePortfolio", new { id = Model.id }, new AjaxOptions()
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ConnectsForPortfolio0",
    Confirm = "Delete portfolio " + Model.name +"?",
    OnSuccess = "deletePortfolio('#" + portf_id + "'); makeDrag('document', 'tr.connect');"
})