﻿@using Pipular;
@using Pipular.Models;
@model Portfolio

@{
    string atype = "unknown";
    switch(Model.atype)
    {
        case 1:
            atype = "demo";
            break;
        case 2:
            atype = "real";
            break;
        case 3:
            atype = "contest";
            break;
        default:
            atype = "unknown";
            break;
    }
    string ttype = "";
    switch(Model.ttype)
    {
        case 0:
            ttype = "MT4";
            break;
        case 1:
            ttype = "MT5";
            break;
    }
}

<div class="portfolio_block" id="@Model.nmbr">
    <div class="head" title="@atype">
        <div class="company" title="@Model.company">@Model.company.Cut(15)</div>
        <div class="number @atype">@ttype @Model.number</div>
    </div>
    <div class="balance">@Model.balance @Model.currency</div>
    <div class="connects">
        <div class="expander">
            <span class="count font12"></span>
            <span class="ui-icon ui-icon-carat-1-s"></span>
        </div>
        <div class="expandable" id="@("connects" + Model.nmbr)">   
            @if (Model.connects != null)
            {
                foreach (ConnectModel connect in Model.connects)
                {
                    @Html.Partial("ConnectBlock", connect)
                }
            }
        </div> 
    </div>
    <div class="footer">
        <div class="public">
            @if (Model.@public == 1)
            {
                <span title="public" style="color: LimeGreen">public</span>            
            }
            else
            {
                <span title="not public" style="color: #696969">public</span>
            }
        </div>
        <div class="delete">
            @Ajax.ActionLink("delete", "PortfolioDelete", new { id = Model.nmbr }, new AjaxOptions() {
                                    OnSuccess = "deleteIfGood($('.portfolio_block').filter('#" + Model.nmbr + "'))",
                                    OnFailure = "fail($('.portfolio_block').filter('#" + Model.nmbr + "'))",
                                    Confirm = "Portfolio deletes permanently. Are you sure?",
                                    OnComplete = "Message()",
                                    UpdateTargetId = "alert" 
                               })
        </div>
        @{ DateTime dt_last = Model.dt_last == null ? Model.dt_create : Model.dt_last.Value; }
        <div class="time_create" title="date of creation @Model.dt_create.ToClientTime()">@Model.dt_create.ToClientTime().ToLongDateString()</div>
        <div class="time_update" title="date of last update @dt_last.ToClientTime()">@dt_last.ToClientTime().ToLongDateString()</div>
    </div>
</div>