﻿@using Pipular.Models;
@model List<Portfolio>

<script type="text/javascript">
    $(document).ready(function () {

        function GetSelected() {
            $('#portfolio_id').val($('table.selectable tr.ui-selected').attr('id'));
            if ($('table.selectable tr.ui-selected').length == 1) $('#submit_portfolio').button('enable');
            else $('#submit_portfolio').button('disable');
        }
        $('table.selectable').selectable({
            filter: '.forselect',
            stop: function () { GetSelected() }
        });
        $('#submit_portfolio').button({ disabled: true });

        $('#submit_portfolio').click(function () {
            $('#submit_portfolio').button('disable');
            $('#min_wait').show();
            var portfolio = $('#portfolio_id').val();

            $.ajax({
                url: '@Url.Action("AddConnectToPortfolio", "Private")' + '?connect_id=@ViewBag.ConnectId' + '&portfolio_id=' + portfolio,
                cache: false,
                success: function () { $('#popup_content').html('@Html.ActionLink("Go to dashboard portfolios", "Dashboard", "Private", null, null, "follow_panel", null, null)'); }
            }).done(function (result) {
                if ($('#noportfolios').length > 0) {
                    $('#noportfolios').find('.connect_block#' + '@ViewBag.ConnectId').appendTo('.portfolio_block#' + portfolio + ' .connects .expandable');
                    avail('.portfolio_block#' + portfolio);
                    recountExpander('.portfolio_block .connects');
                }
            });

        });
    });
</script>

<center>
    <table id="portfolioTable" class="selectable">
    @foreach (Portfolio p in Model)
    {
        <tr @if (!p.connects.Any(c => c.system_nmbr == ViewBag.SystemId))
            {<text>class="forselect"</text>}
            else { <text>title="Portfolio already consists this system."</text> } id = "@p.nmbr" >
            <td>@p.number @p.company</td>
        </tr>
    }
    </table>

    <input type="hidden" id="portfolio_id" name="portfolio_id" value="0" />
    <input type="hidden" id="connect_id" name="connect_id" value="@ViewBag.ConnectId" />
    <button id="submit_portfolio" class="submit">select</button>
    <br />
    @Html.ActionLink("Go to dashboard portfolios", "Dashboard", "Private", null, null, "follow_panel", null, null)
    <br />
    <div id="portfolio_result"></div>
    <div id="min_wait"></div>
</center>