﻿@using Pipular;
@using Pipular.Models;
@model SystemModel

<div class="system_block" id="@Model.nmbr">
    <div class="info">
        <div class="header">
            <div class="name">@Ajax.ActionLink(Model.name, "SystemDetails", "Home", new { id = Model.nmbr }, new AjaxOptions()
                {
                    OnBegin = "OpenPopup('Details of " + Model.name + "', 950)",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "popup_content",
                    OnFailure = "Error('#popup_content', '<div id=\"load_error\">Sorry, we have load error.</div>')"
                })
            </div>
            <div class="delete font12">
                @Ajax.ActionLink("delete", "SystemDelete", "Private", new { id = Model.nmbr }, new AjaxOptions()
                {
                    Confirm = "System permanently deleted. Are you sure?",
                    OnSuccess = "deleteIfGood($('.system_block').filter('#" + Model.nmbr + "'))",
                    UpdateTargetId = "alert",
                    OnComplete = "Message()"
                })
            </div>
            <div class="enabled font12">
                @if (Model.enabled == 1)
                {
                    <span title="on" style="color: LimeGreen">enabled</span>            
                }
                else
                {
                    <span title="off" style="color: #696969">enabled</span>
                }
            </div>
        </div>
        <div class="details">
            <div class="profit">@Model.pl (@Model.pts)</div>
            <div class="clients">@Model.clients clients</div>
            <div class="signals">@Model.signals signals</div>
            <div class="trades"><span title="Opened">@Model.opened</span> / <span title="closed">@Model.closed</span> trades</div>
        </div>
        <div class="graph">
            <canvas id="@("system" + Model.nmbr + "_graph2")" width="138" height="68"></canvas>
        </div>
        <div class="footer">
            <div class="new_tariff font12">@Ajax.ActionLink("add tariff", "NewTariff", "Private", new { id = Model.nmbr }, new AjaxOptions()
                                      {
                                          UpdateTargetId = "popup_content",
                                          OnBegin = "OpenPopup('Add new tariff for " + Model.name.ToUpper() + "', 600);"
                                      })
            </div>
            <div class="update" title="last signal time">@Model.last_signal_time.ToClientTime()</div>
        </div>
    </div>
    <div class="tariffs">
        <div class="expander">
            <span class="count font12"></span>
            <span class="ui-icon"></span>
        </div>
        <div class="expandable" id="@("tariffs" + Model.nmbr)">
            @foreach (TariffModel t in Model.tariffs)
            {
                @Html.Partial("TariffBlock", t)
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var data = $.parseJSON('@Html.Raw(Json.Encode(Model.profit))', true);
        drawMiniChart('@("system" + Model.nmbr + "_graph2")', data);
    });
</script>