﻿@using Pipular;
@using Pipular.Models;
@model TariffModel

<div class="tariff_block" id="@Model.nmbr">
    <div class="header">
        <div class="description">
            <div class="standart" title="Following fees">@TariffModel.TarifAnalizer(Model.type, Model.tsize, Model.summa)</div>
            <div class="apiece" title="Copying fees">@TariffModel.TarifAnalizer2(Model.type2, Model.tsize2, Model.summa2)</div>
        </div>
        <div class="manage">
            <div class="edit font12">@Ajax.ActionLink("edit", "EditTariff", "Private", new { id = Model.nmbr }, new AjaxOptions()
                         {
                             UpdateTargetId = "popup_content",
                             OnBegin = "OpenPopup('Edit tariff', 600);"
                         })
            </div>
            <div class="delete font12">@Ajax.ActionLink("delete", "DeleteTariff", "Private", new { id = Model.nmbr }, new AjaxOptions()
                        {
                            Confirm = "You really want to delete this tariff?",
                            OnSuccess = "deleteIfGood($('.tariff_block').filter('#" + Model.nmbr + "'), function() { recountExpander('.system_block .tariffs') })",
                            OnComplete = "Message()",
                            UpdateTargetId = "alert"
                        })
            </div>
        </div>
    </div>
    <div class="footer">
        
    </div>  
</div>