﻿@{
    ViewBag.Title = "Recalculation";
}

<h2>Recalculation</h2>

<div id="message"></div>

@Ajax.ActionLink("Recalculate points", 
                 "Recalculate", 
                 "Admin", 
                 new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "message", HttpMethod = "GET" })