﻿@using Pipular.Models;
@model IEnumerable<accounting>

@{
    ViewBag.Title = "Recounting details";
    DateTime? start = Model.Count() > 0 && Model.FirstOrDefault().dt_start.HasValue ? Model.FirstOrDefault().dt_start : DateTime.MinValue;
    DateTime? stop = Model.Count() > 0 && Model.FirstOrDefault().dt_stop.HasValue ? Model.FirstOrDefault().dt_stop : DateTime.MaxValue;
}

<p>
    <b>Period: from <span class="underline">@start</span> to <span class="underline">@stop</span></b> (@(Math.Ceiling((stop.Value - start.Value).TotalDays)) days)
</p>

<table id="recountingDetails" class="tablesorter">
    <colgroup>
        <col style="width: 80px" />
        <col />
        <col />
        <col style="width: 80px" />
        <col />
        <col style="width: 80px" />
        <col />
        <col />
        <col style="width: 80px" />
        <col style="width: 80px" />
        <col style="width: 50px" />
        <col />
    </colgroup>
    <thead>
        <tr>
            <th>Connect</th>
            <th>User</th>
            <th>System</th>
            <th>Trades in client</th>
            <th>Tariff</th>
            <th>Reward</th>
            <th>Trader's profit (pip)</th>
            <th>Client's profit (pip)</th>
            <th>Trader's balance</th>
            <th>Client's balance</th>
            <th>Paid</th>
            <th>Create time</th>
        </tr>
    </thead>
    <tbody>
    @foreach (accounting acc in Model)
    {
        <tr>
           <td>
               @Ajax.ActionLink(acc.connect.ToString(), "ConnectDetails", "Private", new { system = acc.system, connect = acc.connect }, new AjaxOptions() { UpdateTargetId = "popup_content", OnBegin = "OpenPopup('Connect details', 950)" }, null) 
               (@Ajax.ActionLink("period", "ConnectDetails", "Private", new { system = acc.system, connect = acc.connect, start = start, stop = stop }, new AjaxOptions() { UpdateTargetId = "popup_content", OnBegin = "OpenPopup('Connect details', 950)" }, null))
           </td>
           <td>@Ajax.ActionLink(acc.User_.login, "TraderDetails", "Home", new { id = acc.User_.login }, new AjaxOptions() { UpdateTargetId = "popup_content", OnBegin = "OpenPopup('Trader details', 950)" }, null)</td>
           <td>
               @Ajax.ActionLink(acc.System_.name, "SystemDetails", "Home", new { id = acc.system }, new AjaxOptions() { UpdateTargetId = "popup_content", OnBegin = "OpenPopup('System details', 950)" }, null)
               (@Ajax.ActionLink("period", "SystemDetails", "Home", new { id = acc.system, start = start, stop = stop }, new AjaxOptions() { UpdateTargetId = "popup_content", OnBegin = "OpenPopup('System period details', 950)" }, null))
           </td>
           <td>@acc.trades</td>
           <td>@TariffModel.TarifAnalizer(acc.tariff_type, acc.tariff_tsize, acc.tariff_summa)</td>
           <td>@acc.reward</td>
           <td>@acc.profit_trader (@acc.profit_trader_pip)</td>
           <td>@acc.profit_client (@acc.profit_client_pip)</td>
           <td>@acc.trader_balance</td>
           <td>@acc.client_balance</td>
           <td>@(acc.paid == 0 ? "no" : "yes")</td>
           <td>@acc.dt_create</td>
        </tr>
    }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#recountingDetails').tablesorter();
    });
</script>