﻿@using Pipular.Accounting;
@model RecountResultCollection

<table>
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (RecountResult rr in Model)
        {
            <tr class="forselect">
                <td>@rr.start</td>
                <td>@rr.stop</td>
                <td>
                    @Ajax.ActionLink("recount", "RecountThis", new RecountResult() { start = rr.start, stop = rr.stop }, new AjaxOptions()
                    {
                        UpdateTargetId = "recountResult",
                        LoadingElementId = "loading"
                    })
                </td>
                <td>@Html.ActionLink("details", "RecountingDetails", new { start = rr.start, stop = rr.stop })</td>
                <td>
                @if (i == Model.Count - 1)
                {
                    @Ajax.ActionLink("delete", "DeleteRecount", new RecountResult() { start = rr.start, stop = rr.stop }, new AjaxOptions()
                    {
                        UpdateTargetId = "accountingTimes",
                        LoadingElementId = "loading",
                        Confirm = "Are you sure?"
                    })
                }
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>