@import "compass";

$bg_page_color: #2f3339;
$bg_menu_color: #575b67;
$bg_menu_option_color_default: #838ca3;
$bg_menu_option_color_hover: #7e8db1;
$bg_menu_option_color_active: #c2fe33;
$bg_under_content: #c7c9cb;
$bg_content_color: #eff1f3;

$text_color_white: white;

$pattern_cross: "bg_pattern_fill_45.png";
$pattern_cross_transparent: "bg_pattern_5.png";

$font_family_main: "Avenir Next LT Pro";
$font_size_regular: 14px;
$font_size_extra_regular: 16px;

$text_main_color: #575757;

$a_color: #4b91b5;
$a_color_active: #316d8c;

$border_color: #b2b2b2;

$menu_width: 250px;

@mixin border($left, $right, $top, $bottom){
	border-left: $left;
	border-right: $right;
	border-top: $top;
	border-bottom: $bottom;
}

@font-face {
	font-family: $font_family_main;
	src: url("/Content/fonts/AvenirNextLTPro-Regular.otf");
}

.left { float: left }
.right { float: right }
.clear { clear: both }

a {
	color: $a_color;
	font-family: $font_family_main;
	font-size: $font_size_regular;
	text-decoration: none;
	&:hover { text-decoration: underline }
	&:active { color: $a_color_active }
}

body {
	color: $text_main_color;
	font-family: $font_family_main;
	font-size: $font_size_extra_regular;
	background-color: $bg_page_color;
	margin: 0;
	padding: 0 0 0 80px;
}

header {
	width: 100%
}

#menu, #main {
	display: inline-block;
}

#menu {
	width: $menu_width;
	margin-left: -$menu_width;
	overflow: visible;
	position: relative;

	#menu_panel {
	    position: fixed;
		top: 40px;
		left: 20px;
		background-color: $bg_menu_color;
		@include box-shadow(0 0 12px rgba(0,0,1,.4));

		#menu_option_wrapper {
		    $border_options: 1px solid rgba(255,255,255,.1);
			margin-bottom: 5px;
			height: 280px;
			width: $menu_width;
			@include border(none, none, $border_options, $border_options);

			.border_line {
				width: 1px;				height: 281px;				background-color: rgba(255,255,255,.1);
				position: absolute;
			}
		
			.menu_option {
				width: $menu_width;
				height: 70px;
				cursor: pointer;
				position: absolute;
				background: image-url($pattern_cross) repeat $bg_menu_option_color_default;
				
				@include border(none, none, $border_options, none);
				@include box-shadow(inset 0 -1px 0 rgba(0,0,1,.15));

				&:hover { 
					background-color: $bg_menu_option_color_hover;
					@include box-shadow(0 2px 3px rgba(0,0,1,0.2), inset 0 -1px 0 #2a2e35);
				}
				&:active { background-color: $bg_menu_option_color_active }

				&#menu_dashboard { top: 70px }
				&#menu_tradestream { top: 140px }
				&#menu_traders { top: 210px }

				.menu_option_content {
				    height: 100%;
					@include background-image(linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(0,0,0,0) 100%));

					.menu_icon, .menu_name { display: inline-block }

					.menu_icon {
					    position: relative;
						top: 15px;
						margin: 0 10px;
						width: 40px;
						height: 40px;
						@include border-radius(20px);
						@include background-clip(padding-box);
						background-color: rgba(0,0,0,.09);
						@include box-shadow(0 1px 0 rgba(255,255,255,.08), inset 0 1px 0 rgba(0,0,0,.28));
						@include background-image(linear-gradient(bottom, rgba(0,0,0,.08) 0%, rgba(0,0,0,0) 100%));

						i { 
							display: block;
							height: inherit;
							width: inherit;
							background-image: image-url("Sprite_icons.svg");
						}

					}

					.menu_name {
						color: $text_color_white;
						font-size: 15px;
						margin-left: 5px;
						@include text-shadow(0 1px 1px rgba(0,0,1,.2));
					}
				}

				&#menu_logon i { background-position: 0 -120px }
				&#menu_dashboard i { background-position: 0 0 }
				&#menu_tradestream i { background-position: 0 -40px }
				&#menu_traders i { background-position: 0 -80px }
			}
			
			.first { 
				border-top: none;

				.menu_option_content {					@include background-image(linear-gradient(100deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.22) 100%));				}
			}
			.logout { 				background: image-url($pattern_cross_transparent) repeat #464c5b;
			}
			.login { 				background: image-url($pattern_cross_transparent) repeat #FFA035;			 }
		}
	}
}

#main {
	background-color: $bg_under_content;
	margin-right: -100%;
	width: 100%;
	position: relative;
	@include box-shadow(0 0 6px rgba(0,0,1,.8));
}

#content {
	background-color: $bg_content_color;
	border-left: 1px solid $border_color;
	margin-left: 5px;
}