#dashboard #systemsTable {
  margin: 0 10px;
}
#dashboard .sortable {
  padding: 10px 0;
}
#dashboard .label {
  margin: 10px 20px;
}
#dashboard .label .icon {
  margin: -4px 0;
}
#dashboard .simple_block {
  margin: 0 -10px;
}
#dashboard .simple_block + .simple_block {
  margin-top: 50px;
}
#dashboard .connect_block {
  width: 288px;
  margin: 10px;
  display: inline-block;
}
#dashboard .connect_block .content {
  padding: 20px;
}
#dashboard .connect_block .content .tariff {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
#dashboard .connect_block .content .send_to {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}
#dashboard .connect_block .content .send_to a + *,
#dashboard .connect_block .content .send_to span + a {
  margin-left: 10px;
}
#dashboard .connect_block .content .switch {
  margin-left: 10px;
}
#dashboard .portfolio_block {
  width: 290px;
  margin: 10px;
}
#dashboard .portfolio_block .underheader {
  padding: 15px 10px 0;
  font-weight: bold;
  font-size: 14px;
}
#dashboard .portfolio_block .connect_block {
  margin: 5px 0;
}
#dashboard .portfolio_block .time_update {
  text-align: right;
}
#dashboard .summary div {
  display: inline-block;
  margin: 10px;
}
#dashboard .summary div + * {
  margin-left: 20px;
}
#dashboard .system_block {
  width: 290px;
  margin: 10px;
}
#dashboard .system_block .content {
  padding: 0;
}
#dashboard .system_block .system_results {
  padding: 0 10px;
}
#dashboard .system_block .system_graph {
  padding: 5px 0;
}
#dashboard .system_block .system_profit,
#dashboard .system_block .system_total_clients,
#dashboard .system_block .system_total_trades,
#dashboard .system_block .system_total_signals,
#dashboard .system_block .system_followers_num {
  font-size: 14px;
  padding: 5px 0;
}
#dashboard .system_block .create_tariff {
  padding-top: 10px;
}
#dashboard .system_block .footer {
  padding: 10px;
}
#dashboard .tariff_block .content {
  padding: 5px;
}
#dashboard .tariff_block + * {
  margin-top: 10px;
}
#dashboard .tariff_block .standart, #dashboard .tariff_block .apiece {
  margin: 5px;
  font-size: 13px;
}

/* ADDIT */
#NewTariff > .head {
  min-width: 400px;
}
#NewTariff .followFee, #NewTariff .copyFee {
  height: 50px;
}
#NewTariff #text2 {
  margin-left: 15px;
}
#NewTariff .editor-field {
  width: 200px;
}

#connect_configuration td:first-child {
  text-align: left;
}

/* LINK YOUR ACCOUNT */
#LinkYourAccount table {
  width: 100%;
}
#LinkYourAccount table td {
  text-align: center;
  padding: 30px;
  color: #747474;
  font-weight: bold;
  font-size: 24px;
}
#LinkYourAccount table td a {
  color: #747474;
  font-weight: bold;
  font-size: 24px;
}
#LinkYourAccount table td:first-child {
  width: 45%;
  text-align: right;
}
#LinkYourAccount table td:last-child {
  width: 45%;
  text-align: left;
}
#LinkYourAccount table .circle {
  background-image: url("images/howto_icons.svg");
  width: 120px;
  height: 120px;
}
#LinkYourAccount table .circle .howto_icon {
  margin: 0 auto;
}
#LinkYourAccount table .circle_left {
  background-position: 0 -118px;
}
#LinkYourAccount table .circle_left:hover {
  background-position: 0 0;
}
#LinkYourAccount table .circle_right {
  background-position: -120px -118px;
}
#LinkYourAccount table .circle_right:hover {
  background-position: -120px 0;
}
