body {
  padding: 0;
  color: white;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f26 {
  font-size: 26px;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

/* INPUTS */
.field {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: rgba(16, 43, 60, 0.6);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 2px 13px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 2px 13px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 2px 13px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%);
  width: 100%;
}

input[type=text],
input[type=password] {
  padding: 10px;
  font-size: 16px;
  color: #53b1ed;
  font-weight: normal;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type=submit],
button {
  border: 1px solid #0a324d;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #87bd08;
  -webkit-box-shadow: 0 2px 2px rgba(6, 39, 61, 0.4), inset 0 1px 0 rgba(211, 239, 142, 0.4);
  -moz-box-shadow: 0 2px 2px rgba(6, 39, 61, 0.4), inset 0 1px 0 rgba(211, 239, 142, 0.4);
  box-shadow: 0 2px 2px rgba(6, 39, 61, 0.4), inset 0 1px 0 rgba(211, 239, 142, 0.4);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(76, 97, 23, 0.4)), color-stop(100%, rgba(76, 97, 23, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(76, 97, 23, 0.4) 0%, rgba(76, 97, 23, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(76, 97, 23, 0.4) 0%, rgba(76, 97, 23, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(76, 97, 23, 0.4) 0%, rgba(76, 97, 23, 0) 100%);
  background-image: linear-gradient(bottom, rgba(76, 97, 23, 0.4) 0%, rgba(76, 97, 23, 0) 100%);
  color: white;
  padding: 10px 15px;
}
input[type=submit]:hover,
button:hover {
  background-color: #99d706;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(76, 97, 23, 0.4)), color-stop(100%, rgba(76, 97, 23, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(76, 97, 23, 0.4) 0%, rgba(76, 97, 23, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(76, 97, 23, 0.4) 0%, rgba(76, 97, 23, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(76, 97, 23, 0.4) 0%, rgba(76, 97, 23, 0) 100%);
  background-image: linear-gradient(bottom, rgba(76, 97, 23, 0.4) 0%, rgba(76, 97, 23, 0) 100%);
}
input[type=submit]:active,
button:active {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(76, 97, 23, 0)), color-stop(100%, rgba(76, 97, 23, 0.4)));
  background-image: -webkit-linear-gradient(bottom, rgba(76, 97, 23, 0) 0%, rgba(76, 97, 23, 0.4) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(76, 97, 23, 0) 0%, rgba(76, 97, 23, 0.4) 100%);
  background-image: -o-linear-gradient(bottom, rgba(76, 97, 23, 0) 0%, rgba(76, 97, 23, 0.4) 100%);
  background-image: linear-gradient(bottom, rgba(76, 97, 23, 0) 0%, rgba(76, 97, 23, 0.4) 100%);
}

.field-validation-error {
  color: white;
}

input[type=text]::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #53b1ed;
}

input[type=text]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #53b1ed;
}

input[type=text]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #53b1ed;
}

input[type=text]:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #53b1ed;
}

.Content_wrapper {
  width: 960px;
  margin: 0 auto;
}

/* ICONS */
.Icon {
  background-image: url("images/big_icons.svg");
  margin: 0 auto;
}

.mens {
  background-position: -30px 0;
  width: 150px;
  height: 100px;
}

.money {
  background-position: -250px 0;
  width: 150px;
  height: 100px;
}

.build {
  background-position: -300px -90px;
  width: 100px;
  height: 120px;
}

.lead {
  background-position: 0 -100px;
  width: 100px;
  height: 100px;
}

.follow {
  background-position: -100px -100px;
  width: 100px;
  height: 100px;
}

.host {
  background-position: -200px -100px;
  width: 100px;
  height: 100px;
}

.cart1 {
  background-position: -330px -330px;
  width: 40px;
  height: 40px;
}

.cart2 {
  background-position: -330px -230px;
  width: 40px;
  height: 40px;
}

.tags {
  background-position: -30px -333px;
  width: 40px;
  height: 40px;
}

.rook {
  background-position: -30px -230px;
  width: 40px;
  height: 40px;
}

.return {
  background-position: -130px -330px;
  width: 40px;
  height: 40px;
}

.lock {
  background-position: -230px -230px;
  width: 40px;
  height: 40px;
}

.list {
  background-position: -130px -225px;
  width: 40px;
  height: 50px;
}

.present {
  background-position: -230px -330px;
  width: 40px;
  height: 40px;
}

.pound {
  font-size: 16px;
  color: #1675ac;
  font-weight: bold;
}

.euro {
  font-size: 19px;
  color: #2891cf;
  font-weight: bold;
  margin-right: 20px;
}

.dollar {
  font-size: 29px;
  color: #34a1e1;
  font-weight: bold;
  margin: 5px 2px;
}

.miniIcon {
  background-image: url("images/mini_icons.svg");
  width: 15px;
  height: 15px;
}

.down_icon {
  background-position: -105px -15px;
}

.up_icon {
  background-position: -105px -45px;
}

.shuffle_icon {
  background-position: -15px -45px;
}

.coins_icon {
  background-position: -15px -15px;
}

.check_icon {
  background-position: -15px -75px;
}

.case_icon {
  background-position: -15px -105px;
}

.user_icon {
  background-position: -75px -15px;
}

.home_icon {
  background-position: -75px -45px;
}

.email_icon {
  background-position: -75px -75px;
}

.phone_icon {
  background-position: -75px -105px;
}

#Head {
  background-color: #33698B;
  -webkit-box-shadow: inset 0 -2px 10px rgba(0, 0, 1, 0.3);
  -moz-box-shadow: inset 0 -2px 10px rgba(0, 0, 1, 0.3);
  box-shadow: inset 0 -2px 10px rgba(0, 0, 1, 0.3);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(24, 25, 29, 0)), color-stop(100%, rgba(24, 25, 29, 0.6)));
  background-image: -webkit-linear-gradient(bottom, rgba(24, 25, 29, 0) 0%, rgba(24, 25, 29, 0.6) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(24, 25, 29, 0) 0%, rgba(24, 25, 29, 0.6) 100%);
  background-image: -o-linear-gradient(bottom, rgba(24, 25, 29, 0) 0%, rgba(24, 25, 29, 0.6) 100%);
  background-image: linear-gradient(bottom, rgba(24, 25, 29, 0) 0%, rgba(24, 25, 29, 0.6) 100%);
}

#Head_wrapper {
  background-image: url(images/pattern2.gif);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  height: 180%;
  width: 100%;
  position: absolute;
}

#pre_content {
  position: relative;
  padding-bottom: 100px;
}

header {
  position: relative;
}
header #Logo {
  padding: 13px 0;
}
header ul#Menu {
  padding: 20px 0;
  list-style: none;
}
header ul#Menu li {
  display: inline-block;
  padding: 10px 20px;
}
header ul#Menu li a {
  font-size: 16px;
  color: #57c1ff;
}
header #login {
  border: 1px solid rgba(0, 0, 1, 0.3);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #156ba8;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.26)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 0;
}
header #login > .button-label {
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}
header #login .miniIcon {
  margin: -2px;
  display: inline-block;
}
header #login #login-patch {
  padding: 0;
  background-color: #156ba8;
  width: 100%;
  height: 2px;
  position: relative;
  bottom: 10px;
  margin-bottom: -2px;
  z-index: 3;
  display: none;
}
header #login.active {
  background-image: none;
}
header #login.active #login-patch {
  display: block;
}
header #login-form {
  position: absolute;
  z-index: 2;
  margin: -10px 0 0 -143px;
  display: none;
}
header #login-form #logon {
  border: 1px solid rgba(0, 0, 1, 0.3);
  -webkit-border-radius: 7px 0 7px 7px;
  -moz-border-radius: 7px 0 7px 7px;
  -ms-border-radius: 7px 0 7px 7px;
  -o-border-radius: 7px 0 7px 7px;
  border-radius: 7px 0 7px 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #156ba8;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.26)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 10px;
}
header #login-form #logon form > div + div {
  margin-top: 10px;
}

#Main {
  background-color: #f4f4f4;
  padding: 40px 0;
  position: relative;
}

.black_line, .white_line {
  width: 96%;
  margin: 0 auto;
  height: 1px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}

.black_line {
  background-color: black;
}

.white_line {
  background-color: white;
}

#hello {
  padding: 40px 0;
  color: white;
}
#hello .texts {
  width: 600px;
}
#hello .texts .miniIcon {
  display: inline-block;
  margin-right: 10px;
}
#hello #text1, #hello #text2 {
  font-size: 32px;
  font-weight: bold;
  padding: 10px 0;
}
#hello .tesis {
  padding: 5px 0;
}

#signup {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: rgba(16, 43, 60, 0.2);
  padding: 10px 12px;
}
#signup div + div {
  margin-top: 10px;
}
#signup > div:first-child {
  padding: 10px 0;
  margin-bottom: 10px;
  margin-left: 5px;
}
#signup input[type=submit] {
  padding: 20px 60px;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
}
#signup input[type=text] {
  padding: 20px;
  width: 87%;
}

#presentation {
  text-align: center;
  margin-top: -150px;
}
#presentation img {
  margin: 0 auto;
}

#vista {
  width: 100%;
}
#vista .Caption {
  color: #34a1e1;
  font-size: 26px;
  font-weight: bold;
  padding: 10px 0;
}
#vista .Desc {
  color: #747474;
  margin: 0 auto;
}
#vista tr.table_top td {
  padding-top: 30px;
}
#vista tr.table_bottom td {
  padding-bottom: 60px;
}
#vista tr.top_text {
  vertical-align: top;
}
#vista tr.top_text .Desc {
  max-width: 200px;
}
#vista tr.empty {
  height: 60px;
}
#vista table {
  border: none;
  padding: 0;
  border-collapse: collapse;
}
#vista td {
  border: none;
  padding: 0;
}
#vista td > div {
  width: 320px;
  min-height: 20px;
  text-align: center;
  margin: 0 auto;
}
#vista .vertical {
  background-color: rgba(155, 197, 19, 0.05);
}
#vista .vertical .Caption {
  color: #9bc513;
}
#vista .vertical.top_gradient {
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(50%, rgba(155, 197, 19, 0.05)), color-stop(100%, rgba(155, 197, 19, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(155, 197, 19, 0.05) 50%, rgba(155, 197, 19, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(155, 197, 19, 0.05) 50%, rgba(155, 197, 19, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(155, 197, 19, 0.05) 50%, rgba(155, 197, 19, 0) 100%);
  background-image: linear-gradient(bottom, rgba(155, 197, 19, 0.05) 50%, rgba(155, 197, 19, 0) 100%);
}
#vista .vertical.bottom_gradient {
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(155, 197, 19, 0)), color-stop(50%, rgba(155, 197, 19, 0.05)));
  background-image: -webkit-linear-gradient(bottom, rgba(155, 197, 19, 0) 0%, rgba(155, 197, 19, 0.05) 50%);
  background-image: -moz-linear-gradient(bottom, rgba(155, 197, 19, 0) 0%, rgba(155, 197, 19, 0.05) 50%);
  background-image: -o-linear-gradient(bottom, rgba(155, 197, 19, 0) 0%, rgba(155, 197, 19, 0.05) 50%);
  background-image: linear-gradient(bottom, rgba(155, 197, 19, 0) 0%, rgba(155, 197, 19, 0.05) 50%);
}
#vista .horisontal {
  background-color: rgba(0, 0, 0, 0.02);
}
#vista .border_top {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#vista .line_tesis {
  width: 280px;
  padding: 20px;
  font-size: 14px;
}
#vista .line_tesis .Icon {
  margin-right: 20px;
}
#vista .line_tesis_right {
  width: 280px;
  padding: 20px;
  font-size: 14px;
}
#vista .line_tesis_right .Icon {
  margin-left: 20px;
}

#prefooter {
  background-color: #115b8a;
}

#youarebroker {
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}
#youarebroker h1, #youarebroker h2 {
  margin: 0;
}
#youarebroker h1 {
  font-size: 46px;
}
#youarebroker h2 {
  font-size: 36px;
}

#Broker {
  padding-bottom: 30px;
}

#broker_form {
  padding: 20px;
  border: 1px dotted rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-align: center;
  margin: 0 auto;
  width: 700px;
  font-size: 18px;
  color: #65b8ec;
}
#broker_form form > div {
  margin: 20px 0;
}
#broker_form form div {
  display: inline-block;
}
#broker_form input[type=submit] {
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
}
#broker_form .edit_icon {
  border-bottom: 1px solid #0e354e;
  padding: 5px 2px;
  margin: 0 10px;
}
#broker_form .edit_icon input[type=text] {
  padding: 0;
  color: white;
}
#broker_form .edit_icon input[type=text]::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0e354e;
}
#broker_form .edit_icon input[type=text]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0e354e;
}
#broker_form .edit_icon input[type=text]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0e354e;
}
#broker_form .edit_icon input[type=text]:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0e354e;
}
#broker_form .edit_icon.active {
  border-bottom: 1px solid white;
}
#broker_form .edit_icon.active input[type=text] {
  color: white;
}

footer {
  background-color: #15242e;
}
footer > div.Content_wrapper {
  padding: 40px 0;
  width: 720px;
  font-size: 14px;
}
footer #copyright {
  float: left;
}
footer #social_buttons {
  margin: 0 auto;
  height: 50px;
  text-align: center;
}
footer #back_to_top {
  float: right;
  color: white;
}
footer #back_to_top .miniIcon {
  display: inline-block;
  margin-right: 10px;
}
footer #back_to_top:hover {
  text-decoration: none;
}
