/* COLORS */
.text_main {
  color: #535353;
}

.text_green {
  color: #89b103;
}

.text_red {
  color: #b10303;
}

.text_orange {
  color: #fa9b00;
}

.text_blue {
  color: #4b91b5;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/Content/fonts/AvenirNextLTPro-Regular.otf");
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

html, body {
  height: 100%;
}

#main {
  min-height: 100%;
}

a {
  color: #4b91b5;
  font-family: "Avenir Next LT Pro";
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #316d8c;
}

ul {
  margin: 0;
}

body {
  color: #535353;
  font-family: "Avenir Next LT Pro";
  font-size: 16px;
  background-color: #2f3339;
  margin: 0;
  padding: 0 0 0 85px;
}

header {
  width: 100%;
}

#popup, #alert {
  display: none;
}

#alert {
  position: fixed;
  z-index: 1000;
}
#alert > div {
  padding: 20px;
  border: 1px solid #b2b2b2;
  color: #fff;
  text-align: center;
}
#alert > div.good {
  background-color: #89b103;
}
#alert > div.middle {
  background-color: #fa9b00;
}
#alert > div.bad {
  background-color: #b10303;
}

#main, #addit {
  min-height: 100%;
  background-color: #eff1f3;
  border-left: 5px solid #c7c9cb;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 1, 0.8), inset 1px 0 0 #b2b2b2;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 1, 0.8), inset 1px 0 0 #b2b2b2;
  box-shadow: 0 0 6px rgba(0, 0, 1, 0.8), inset 1px 0 0 #b2b2b2;
  position: relative;
  z-index: 100;
  margin-left: -5px;
}

#addit {
  display: none;
  height: 100%;
  position: fixed;
  right: 0;
}
#addit section.head {
  padding: 20px;
  line-height: 25px;
  margin-left: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 3px double rgba(0, 0, 0, 0.05);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#addit section.head a + span {
  margin-left: 20px;
}
#addit #addit_content {
  overflow: auto;
  height: 100%;
}
#addit #addit_content > div {
  padding: 20px;
  max-width: 1000px;
}
#addit #addit_content #Registration form {
  min-width: 500px;
}

#logo {
  position: fixed;
  top: 9px;
  left: 29px;
  margin-left: 7px;
}
#logo #project_name {
  font-size: 14px;
  color: #4B91B5;
  font-weight: bolder;
}
#logo #social {
  font-size: 16px;
  color: #FFF;
  text-align: center;
  margin: -5px 0;
}
#logo #trading {
  font-size: 13px;
  color: #FFF;
  text-align: center;
}

#menu, #main {
  display: inline-block;
}

#menu {
  width: 250px;
  margin-left: -250px;
  overflow: visible;
  position: relative;
}
#menu #menu_panel {
  position: fixed;
  top: 80px;
  left: 20px;
  background-color: #575b67;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 1, 0.4);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 1, 0.4);
  box-shadow: 0 0 12px rgba(0, 0, 1, 0.4);
}
#menu #menu_panel #menu_option_wrapper {
  margin-bottom: 5px;
  height: 350px;
  width: 250px;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#menu #menu_panel #menu_option_wrapper .border_line {
  width: 1px;
  height: 281px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
}
#menu #menu_panel #menu_option_wrapper .menu_option {
  width: 250px;
  height: 70px;
  cursor: pointer;
  position: absolute;
  background: url('images/bg_pattern_fill_45.png?1367511880') repeat #838ca3;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: none;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 1, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 1, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 1, 0.15);
}
#menu #menu_panel #menu_option_wrapper .menu_option:hover {
  background-color: #7e8db1;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 1, 0.2), inset 0 -1px 0 #2a2e35;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 1, 0.2), inset 0 -1px 0 #2a2e35;
  box-shadow: 0 2px 3px rgba(0, 0, 1, 0.2), inset 0 -1px 0 #2a2e35;
}
#menu #menu_panel #menu_option_wrapper .menu_option:active {
  background-color: #c2fe33;
}
#menu #menu_panel #menu_option_wrapper .menu_option#menu_dashboard {
  top: 70px;
}
#menu #menu_panel #menu_option_wrapper .menu_option#menu_tradestream {
  top: 140px;
}
#menu #menu_panel #menu_option_wrapper .menu_option#menu_traders {
  top: 210px;
}
#menu #menu_panel #menu_option_wrapper .menu_option#menu_markets {
  top: 280px;
}
#menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content {
  height: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.06)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
}
#menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content .menu_icon, #menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content .menu_name {
  display: inline-block;
}
#menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content .menu_icon {
  position: relative;
  top: 15px;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), inset 0 1px 0 rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), inset 0 1px 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), inset 0 1px 0 rgba(0, 0, 0, 0.28);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.08)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
}
#menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content .menu_icon i {
  display: block;
  height: inherit;
  width: inherit;
  background-image: url('images/Sprite_icons.svg?1374167447');
}
#menu #menu_panel #menu_option_wrapper .menu_option .menu_option_content .menu_name {
  color: white;
  font-size: 15px;
  margin-left: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.2);
}
#menu #menu_panel #menu_option_wrapper .menu_option#menu_logon i {
  background-position: 0 -120px;
}
#menu #menu_panel #menu_option_wrapper .menu_option#menu_dashboard i {
  background-position: 0 0;
}
#menu #menu_panel #menu_option_wrapper .menu_option#menu_tradestream i {
  background-position: -80px -120px;
}
#menu #menu_panel #menu_option_wrapper .menu_option#menu_traders i {
  background-position: 0 -80px;
}
#menu #menu_panel #menu_option_wrapper .menu_option#menu_markets i {
  background-position: 0 -40px;
}
#menu #menu_panel #menu_option_wrapper .first {
  border-top: none;
}
#menu #menu_panel #menu_option_wrapper .first .menu_option_content {
  background-image: -webkit-linear-gradient(100deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 100%);
  background-image: -moz-linear-gradient(100deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 100%);
  background-image: -o-linear-gradient(100deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 100%);
  background-image: linear-gradient(100deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 100%);
}
#menu #menu_panel #menu_option_wrapper .logout {
  background: url('images/bg_pattern_5.png?1367591106') repeat #464c5b;
}
#menu #menu_panel #menu_option_wrapper .login {
  background: url('images/bg_pattern_5.png?1367591106') repeat #ffa035;
}

#sticker {
  width: 3px;
  height: 69px;
  background-color: #a0dd2f;
  position: fixed;
  margin-left: -3px;
  top: 181px;
  display: none;
}

#main {
  margin-right: -100%;
  width: 100%;
  position: relative;
}
#main > .content {
  height: 100%;
}

#markets {
  height: 100%;
  padding-left: 1px;
}

/* CONTANERS */
.header {
  height: 27px;
  overflow: hidden;
  border: 1px solid #cbcdcf;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #e7e7e9;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
}
.header .caption {
  font-size: 13px;
  padding: 6px 10px;
  font-weight: bold;
}
.header .caption a {
  font-size: 13px;
}
.header a {
  text-decoration: none;
  color: #535353;
}
.header .header_button {
  width: 35px;
  height: 31px;
  cursor: pointer;
  margin: -1px 0;
  text-align: center;
  padding: 5px 0;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}
.header .header_button:hover {
  background-color: rgba(239, 241, 243, 0.6);
}
.header .header_button:active {
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  background-color: #eff1f3;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 1px 0 0 rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.header .header_button.enabled {
  right: -1px;
  position: relative;
  background-color: #8bb303;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(171, 216, 0, 0)), color-stop(100%, rgba(174, 217, 8, 0.6)));
  background-image: -webkit-linear-gradient(bottom, rgba(171, 216, 0, 0) 0%, rgba(174, 217, 8, 0.6) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(171, 216, 0, 0) 0%, rgba(174, 217, 8, 0.6) 100%);
  background-image: -o-linear-gradient(bottom, rgba(171, 216, 0, 0) 0%, rgba(174, 217, 8, 0.6) 100%);
  background-image: linear-gradient(bottom, rgba(171, 216, 0, 0) 0%, rgba(174, 217, 8, 0.6) 100%);
}
.header .header_button.enabled:hover {
  background-color: #98c402;
}
.header .header_button.enabled i {
  background-position: -165px -15px;
}
.header .header_button.disabled {
  right: -1px;
  position: relative;
  background-color: #fb9d01;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(254, 176, 24, 0)), color-stop(100%, rgba(255, 180, 28, 0.6)));
  background-image: -webkit-linear-gradient(bottom, rgba(254, 176, 24, 0) 0%, rgba(255, 180, 28, 0.6) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(254, 176, 24, 0) 0%, rgba(255, 180, 28, 0.6) 100%);
  background-image: -o-linear-gradient(bottom, rgba(254, 176, 24, 0) 0%, rgba(255, 180, 28, 0.6) 100%);
  background-image: linear-gradient(bottom, rgba(254, 176, 24, 0) 0%, rgba(255, 180, 28, 0.6) 100%);
}
.header .header_button.disabled:hover {
  background-color: #ffb63d;
}
.header .header_button.disabled i {
  background-position: -115px -15px;
}
.header > .icon {
  margin: 4px 8px;
}
.header > .icon + .caption {
  padding-left: 0;
}

.contaner {
  border: 1px solid rgba(0, 0, 1, 0.1);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.15);
}
.contaner + * {
  margin-top: 10px;
}
.contaner .header {
  width: 100%;
  height: 10px;
  margin: -1px;
  border: 1px solid #cbcdcf;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #e7e7e9;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
}
.contaner .content {
  padding: 10px;
}

/* BLOCK */
.block {
  border: 1px solid rgba(0, 0, 1, 0.1);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.15);
}
.block .header {
  margin: -1px;
  height: 27px;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.block .header a {
  font-size: 13px;
  font-weight: normal;
}
.block .content {
  padding: 10px;
}

/* PAGES */
.pages {
  overflow: hidden;
  width: 290px;
}
.pages .items {
  width: 20000em;
  position: relative;
}
.pages .items .sheet {
  display: inline-block;
  vertical-align: top;
  width: 290px;
}

/* TABS */
.notebook_panel .notebook,
.notebook_panel .dark_divider,
.notebook_panel .white_divider {
  margin-left: 1px;
}
.notebook_panel .dark_divider {
  background-color: #cecece;
  height: 1px;
  position: relative;
  z-index: 5;
  top: -2px;
}
.notebook_panel .white_divider {
  background-color: #fff;
  height: 1px;
  position: relative;
  z-index: 5;
  top: -2px;
}
.notebook_panel .notebook {
  height: 60px;
  background-color: #e3e5e7;
  padding-left: 30px;
  overflow: hidden;
}
.notebook_panel .notebook .tab {
  position: relative;
  top: 24px;
  z-index: 0;
  display: inline-block;
  padding: 12px 30px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #535353;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 1, 0.15);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #eeefec;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
}
.notebook_panel .notebook .tab.selected {
  z-index: 10;
  border: 1px solid rgba(0, 0, 1, 0.1);
  background-color: #eff1f3;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.notebook_panel .content {
  padding: 30px;
  position: relative;
  z-index: 20;
}
.notebook_panel .content .tab_panel {
  width: 100%;
  display: none;
}
.notebook_panel .content .tab_panel.current {
  display: block;
}

.notebook_wrapper .notebook .tab {
  position: relative;
  z-index: 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #cbcdcf;
  border-top: 1px solid #cbcdcf;
  border-right: 1px solid #cbcdcf;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #eff1f3;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
.notebook_wrapper .notebook .tab.selected {
  z-index: 10;
  background-color: #f6f7f8;
}
.notebook_wrapper .notebook .tab .caption {
  padding: 10px 10px 5px;
  font-size: 13px;
  font-weight: bold;
  color: #535353;
}
.notebook_wrapper .notebook .tab .cover {
  width: 100%;
  height: 3px;
  position: relative;
  bottom: -3px;
  background-color: #f6f7f8;
}
.notebook_wrapper .notebook .message {
  display: inline-block;
  padding: 10px 10px 5px;
  text-align: right;
}
.notebook_wrapper .content {
  overflow: hidden;
  position: relative;
  z-index: 5;
  padding: 15px;
  border: 1px solid #cbcdcf;
  background-color: #f6f7f8;
  -webkit-border-radius: 0 7px 7px 7px;
  -moz-border-radius: 0 7px 7px 7px;
  -ms-border-radius: 0 7px 7px 7px;
  -o-border-radius: 0 7px 7px 7px;
  border-radius: 0 7px 7px 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
.notebook_wrapper .content .tab_panel {
  overflow: hidden;
  display: none;
}
.notebook_wrapper .content .tab_panel.current {
  display: block;
}

.table_navigation {
  text-align: center;
  margin: 10px auto;
}
.table_navigation .first, .table_navigation .last, .table_navigation .pagesize {
  display: none;
}
.table_navigation .pagedisplay {
  text-align: center;
  border: none;
  color: #535353;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* ICONS */
i {
  display: block;
  background-image: url("images/Sprite_png.png");
  width: 100%;
  height: 100%;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-arrow-up {
  background-position: -315px -265px;
}

.icon-arrow-down {
  background-position: -415px -265px;
}

.icon-trash {
  background-position: -315px -665px;
}

.icon-stop {
  background-position: -265px -315px;
}

.icon-config {
  background-position: -65px -315px;
}

.icon-system {
  background-position: -115px -315px;
}

.icon-down {
  background-position: -65px -15px;
}

.icon-up {
  background-position: -15px -15px;
}

.icon-next {
  background-position: -15px -65px;
}

.icon-prev {
  background-position: -65px -65px;
}

.icon-follow {
  background-position: -215px -65px;
}

.icon-enabled {
  background-position: -365px -315px;
}

.icon-details {
  background-position: -465px -465px;
}

.icon-calendar-dark {
  background-position: -365px -365px;
}

.icon-calendar-white {
  background-position: -415px -365px;
}

.icon-thunder {
  background-position: -415px -415px;
}

.icon-star {
  background-position: -115px -665px;
}

.icon-star-white {
  background-position: -165px -665px;
}

.icon-people {
  background-position: -265px -115px;
}

.icon-instruments {
  background-position: -215px -615px;
}

.icon-contest {
  background-position: -15px -665px;
}

.icon-trand {
  background-position: -415px -465px;
}

.icon-trand2 {
  background-position: -465px -465px;
}

.icon-dollar {
  background-position: -365px -665px;
}

.icon-shuffle {
  background-position: -15px -215px;
}

.howto_icon {
  background-image: url("images/howto_icons.svg");
  width: 30px;
  height: 30px;
}

.install_icon {
  background-position: -270px -30px;
}

/* TABLE */
.table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table th {
  text-align: left;
  font-size: 13px;
  padding: 0;
}
.table th.date {
  width: 100px;
}
.table th > span {
  display: block;
  margin: 10px 0;
  padding: 6px 10px;
  height: 15px;
  border: 1px solid rgba(0, 0, 1, 0.15);
  background-color: #e7e7e9;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.table th > span.caption {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.table th > span.border_left {
  -webkit-border-radius: 7px 0 0 7px;
  -moz-border-radius: 7px 0 0 7px;
  -ms-border-radius: 7px 0 0 7px;
  -o-border-radius: 7px 0 0 7px;
  border-radius: 7px 0 0 7px;
}
.table th > span.border_right {
  -webkit-border-radius: 0 7px 7px 0;
  -moz-border-radius: 0 7px 7px 0;
  -ms-border-radius: 0 7px 7px 0;
  -o-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;
  border-right: 1px solid rgba(0, 0, 1, 0.15);
}
.table th.first + th > span {
  border-left: none;
}
.table th.first > span {
  border-right: none;
}
.table th.last > span {
  border-left: none;
}
.table th.sort > span {
  cursor: pointer;
}
.table th.sort > span:active {
  background-color: #e5e5e5;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.table th i {
  width: 10px;
  float: right;
  margin: -2px 0 0 10px;
  overflow: hidden;
  background: none;
}
.table th.headerSortUp i {
  background-position: -20px -15px;
  background-image: url("images/Sprite_png.png");
}
.table th.headerSortDown i {
  background-position: -70px -15px;
  background-image: url("images/Sprite_png.png");
}
.table td {
  padding: 0 10px;
  font-size: 13px;
  height: 50px;
}
.table tr.even td {
  background-color: #e7e7e9;
}
.table tr.even td.border_left {
  background-color: transparent;
  padding: 0;
}
.table tr.even td.border_left > div {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #e7e7e9;
}
.table tr.even td.border_right {
  background-color: transparent;
  padding: 0;
}
.table tr.even td.border_right > div {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #e7e7e9;
}
.table tr.even td.border_right > div > div {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}

.table_pager > div {
  display: inline-block;
}

.nodata {
  text-align: center;
}

/* MISC */
.time {
  font-size: 12px;
  color: #818181;
  font-style: italic;
  padding: 5px;
}

.trader_photo img {
  width: 32px;
  height: 32px;
}

/* SYSTEM DETAILS */
#SystemDetails .system_info {
  margin: 30px 0;
}
#SystemDetails .system_info .trader_name {
  margin: 5px 15px;
}
#SystemDetails .system_info .description {
  font-size: 13px;
  font-style: italic;
  padding: 0 200px;
}
#SystemDetails .system_info .trade_details {
  font-size: 13px;
}
#SystemDetails .graph_buttons {
  padding: 5px 0;
  text-align: right;
  font-size: 13px;
}
#SystemDetails .graph_buttons span {
  cursor: pointer;
  color: #4b91b5;
}
#SystemDetails #statistic {
  margin: 10px 0;
}
#SystemDetails #statistic table > tbody > tr > td > table td {
  font-size: 14px;
  padding: 3px;
}
#SystemDetails #statistic table > tbody > tr > td + * {
  padding-left: 30px;
}
#SystemDetails .tab_panel {
  height: 610px;
}
#SystemDetails .tab_panel .table_navigation {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
#SystemDetails .tab_panel table {
  width: 100%;
}

/* FORMS */
form table {
  margin: 20px 0;
}
form table td {
  margin: 10px 0;
  padding: 10px;
  color: #535353;
  font-size: 14px;
  vertical-align: top;
}
form table td.editor-label {
  font-weight: bold;
  min-width: 150px;
}
form table td.editor-field {
  text-align: left;
}
form table td.editor-field > input[type="text"], form table td.editor-field > input[type="password"], form table td.editor-field > textarea {
  margin-top: -10px;
}
form table td.editor-field.numeric > input[type="text"] {
  width: 40px;
  text-align: center;
}
form table td.editor-field > .unlimited {
  height: 30px;
}
form table td:first-child {
  text-align: right;
}
form table td.td_left {
  text-align: left;
}
form .field-validation-error {
  padding: 5px;
  font-size: 13px;
  color: #B10303;
}
form div.editor-label,
form div.editor-field {
  padding: 5px;
  text-align: center;
}
form div.editor-label + div.editor-field {
  padding-top: 0;
}
form p.submit {
  text-align: center;
}

/* FOLLOW */
.tariffTable label {
  font-weight: bold;
}
.tariffTable .options {
  vertical-align: bottom;
}
.tariffTable .options span {
  margin: 0 10px;
}

/* CONTROLS */
/* text */
input[type="text"],
input[type="password"],
textarea {
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #e6e8eb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #767676;
  font-style: italic;
  font-weight: bold;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

input[type="text"][disabled],
input[type="password"][disabled] {
  background-color: #c5c5c5;
}

/* buttons */
button,
input[type="button"],
input[type="submit"] {
  color: #767676;
  padding: 8px 30px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 1, 0.15);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #eeefec;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #fff;
}
button:active,
input[type="button"]:active,
input[type="submit"]:active {
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
}
button[disabled],
input[type="button"][disabled],
input[type="submit"][disabled] {
  color: #AAA;
  cursor: default;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #eeefec;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: none;
}

.green_button {
  color: #FFF;
  padding: 1px 5px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #89b103;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #abd900;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #89b103), color-stop(100%, #abd900));
  background-image: -webkit-linear-gradient(bottom, #89b103 0%, #abd900 100%);
  background-image: -moz-linear-gradient(bottom, #89b103 0%, #abd900 100%);
  background-image: -o-linear-gradient(bottom, #89b103 0%, #abd900 100%);
  background-image: linear-gradient(bottom, #89b103 0%, #abd900 100%);
}
.green_button:hover {
  border: 1px solid #7eb900;
  background-color: #c1f400;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #83c700), color-stop(100%, #9cde00));
  background-image: -webkit-linear-gradient(bottom, #83c700 0%, #9cde00 100%);
  background-image: -moz-linear-gradient(bottom, #83c700 0%, #9cde00 100%);
  background-image: -o-linear-gradient(bottom, #83c700 0%, #9cde00 100%);
  background-image: linear-gradient(bottom, #83c700 0%, #9cde00 100%);
}
.green_button:active {
  border: 1px solid #7eb900;
  background-color: #c1f400;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #9cde00), color-stop(100%, #83c700));
  background-image: -webkit-linear-gradient(bottom, #9cde00 0%, #83c700 100%);
  background-image: -moz-linear-gradient(bottom, #9cde00 0%, #83c700 100%);
  background-image: -o-linear-gradient(bottom, #9cde00 0%, #83c700 100%);
  background-image: linear-gradient(bottom, #9cde00 0%, #83c700 100%);
}

.next, .prev {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: -5px;
  border: 1px solid rgba(0, 0, 1, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #eeefec;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
}

.next:hover, .prev:hover {
  border: 1px solid rgba(0, 0, 1, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
}

.next:active, .prev:active {
  border: 1px solid rgba(0, 0, 1, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
}

/* checkbox and radio */
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  height: 22px;
  width: 20px;
  margin: 0 5px -5px 0;
  background-image: url("images/Sprite_png.png");
  background-repeat: no-repeat;
}

input[type="checkbox"] + label::before {
  background-position: -215px -65px;
}

input[type="checkbox"] + label:hover::before {
  background-position: -265px -65px;
}

input[type="checkbox"]:checked + label::before {
  background-position: -365px -65px;
}

input[type="checkbox"]:checked + label:hover::before {
  background-position: -415px -65px;
}

input[type="checkbox"]:disabled + label::before {
  background-position: -315px -65px;
}

input[type="checkbox"]:checked:disabled + label::before {
  background-position: -465px -65px;
}

input[type="radio"] + label::before {
  background-position: -215px -15px;
}

input[type="radio"] + label:hover::before {
  background-position: -265px -15px;
}

input[type="radio"]:checked + label::before {
  background-position: -365px -15px;
}

input[type="radio"]:checked + label:hover::before {
  background-position: -415px -15px;
}

input[type="radio"]:disabled + label::before {
  background-position: -315px -15px;
}

input[type="radio"]:checked:disabled + label::before {
  background-position: -465px -15px;
}

#approval {
  width: 455px;
  margin: 100px;
}

/* DARKBOX */
.darkbox {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
.darkbox .darkbox_loading {
  background: url("images/ajax-loader.gif") no-repeat;
  position: relative;
  top: 50%;
  width: 32px;
  height: 32px;
  margin: -16px auto 0 auto;
}
