@import "compass";

#dashboard {

	#systemsTable { margin: 0 10px }

	.sortable {
		padding: 10px 0;
	}

	.label {
	    margin: 10px 20px;

		.icon { margin: -4px 0 }
	}

	.simple_block {
		margin: 0 -10px
	}

	.simple_block + .simple_block {
		margin-top: 50px
	}

	.connect_block {
		width: 288px;
		margin: 10px;
		display: inline-block;

		.content {
			padding: 20px;

			.tariff {
				text-align: center;
				font-weight: bold;
				font-size: 14px
			}

			.send_to {
				text-align: center;
				padding: 20px 0;
				font-size: 14px;
				a + *,
				span + a { margin-left: 10px }
			}

			.switch { margin-left: 10px; }
		}
	}

	.portfolio_block {
		width: 290px;
		margin: 10px;

		.underheader {
			padding: 15px 10px 0;
			font-weight: bold;
			font-size: 14px;
		}

		.connect_block {
			margin: 5px 0
		}

		.time_update { text-align: right }
	}

	.summary {
		div { 
			display: inline-block; 
			margin: 10px;

			& + * {
				margin-left: 20px;
			}
		}
	}

	.system_block {
		width: 290px;
		margin: 10px;

		.content { padding: 0 }

		.system_results { padding: 0 10px }

		.system_graph { padding: 5px 0 }

		.system_profit,
		.system_total_clients,
		.system_total_trades,
		.system_total_signals,
		.system_followers_num {
			font-size: 14px;
			padding: 5px 0;
		}

		.create_tariff { padding-top: 10px }

		.footer {
			padding: 10px;
		}
	}

	.tariff_block {

		.content {
			padding: 5px
		}

		& + * {
			margin-top: 10px;
		}

		.standart, .apiece { margin: 5px; font-size: 13px }
	}
}

/* ADDIT */

#NewTariff {
	& > .head { min-width: 400px }
	.followFee, .copyFee { height: 50px }
	#text2 { margin-left: 15px }
	.editor-field { width: 200px }
}

#connect_configuration {
    td:first-child { text-align: left }
}

/* LINK YOUR ACCOUNT */

#LinkYourAccount {
    table {
	    width: 100%;
		td { 
		    text-align: center; 
			padding: 30px;
			color: #747474;
			font-weight: bold;
			font-size: 24px;
			a { color: #747474; font-weight: bold; font-size: 24px }
		}
		td:first-child { width: 45%; text-align: right }
		td:last-child { width: 45%; text-align: left }
		.circle { background-image: url('images/howto_icons.svg'); width: 120px; height: 120px;
		    .howto_icon { margin: 0 auto }
		}
		.circle_left { background-position: 0 -118px; &:hover { background-position: 0 0 } }
		.circle_right { background-position: -120px -118px; &:hover { background-position: -120px 0 } }
	}
}