@import "compass";

body {
    padding: 0;
	color: white
}

.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f26 { font-size: 26px }

.text_left { text-align: left }
.text_right { text-align: right }

/* INPUTS */


.field {
	@include border-radius(6px);	@include background-clip(padding-box);	background-color: rgba(16,43,60,.6);	@include box-shadow(0 1px 0 rgba(255,255,255,.15), inset 0 2px 13px rgba(0,0,0,.1));	@include background-image(linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.12) 100%));
	width: 100%
}

input[type=text],
input[type=password] {
	padding: 10px;
	font-size: 16px;
	color: #53b1ed;
	font-weight: normal;
	background: none;
	border: none;
	@include box-shadow(none);
}

input[type=submit],
button { 
	border: 1px solid #0a324d;	@include border-radius(7px);	@include background-clip(padding-box);	background-color: #87bd08;	@include box-shadow(0 2px 2px rgba(6,39,61,.4), inset 0 1px 0 rgba(211,239,142,.4));	@include background-image(linear-gradient(bottom, rgba(76,97,23,.4) 0%, rgba(76,97,23,0) 100%));
	color: white;
	padding: 10px 15px;

	&:hover {		background-color: #99d706;		@include background-image(linear-gradient(bottom, rgba(76,97,23,.4) 0%, rgba(76,97,23,0) 100%));
	}

	&:active {		@include background-image(linear-gradient(bottom, rgba(76,97,23,0) 0%, rgba(76,97,23,.4) 100%));
	}
}

.field-validation-error { color: white }


input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #53b1ed;
}
input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #53b1ed;
}
input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #53b1ed;
}
input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #53b1ed;
}

.Content_wrapper {
    width: 960px;
	margin: 0 auto;
}


/* ICONS */

.Icon { background-image: url('images/big_icons.svg'); margin: 0 auto }

.mens { background-position: -30px 0; width: 150px; height: 100px }
.money { background-position: -250px 0; width: 150px; height: 100px }
.build { background-position: -300px -90px; width: 100px; height: 120px }

.lead { background-position: 0 -100px; width: 100px; height: 100px }
.follow { background-position: -100px -100px; width: 100px; height: 100px }
.host { background-position: -200px -100px; width: 100px; height: 100px }

.cart1 { background-position: -330px -330px; width: 40px; height: 40px }
.cart2 { background-position: -330px -230px; width: 40px; height: 40px }
.tags { background-position: -30px -333px; width: 40px; height: 40px }

.rook { background-position: -30px -230px; width: 40px; height: 40px }
.return { background-position: -130px -330px; width: 40px; height: 40px }
.lock { background-position: -230px -230px; width: 40px; height: 40px }

.list { background-position: -130px -225px; width: 40px; height: 50px }
.present { background-position: -230px -330px; width: 40px; height: 40px }

.pound { font-size: 16px; color: #1675ac; font-weight: bold }
.euro { font-size: 19px; color: #2891cf; font-weight: bold; margin-right: 20px }
.dollar { font-size: 29px; color: #34a1e1; font-weight: bold; margin: 5px 2px }

.miniIcon { background-image: url('images/mini_icons.svg'); width: 15px; height: 15px }

.down_icon { background-position: -105px -15px }
.up_icon { background-position: -105px -45px }

.shuffle_icon { background-position: -15px -45px }
.coins_icon { background-position: -15px -15px }
.check_icon { background-position: -15px -75px }
.case_icon { background-position: -15px -105px }

.user_icon { background-position: -75px -15px }
.home_icon { background-position: -75px -45px }
.email_icon { background-position: -75px -75px }
.phone_icon { background-position: -75px -105px }


#Head {
	background-color: #33698B;	@include box-shadow(inset 0 -2px 10px rgba(0,0,1,.3));	@include background-image(linear-gradient(bottom, rgba(24,25,29,0) 0%, rgba(24,25,29,.6) 100%));
}

#Head_wrapper {
	background-image: url(images/pattern2.gif);
	@include opacity(0.2);
	height: 180%;
	width:100%;
	position: absolute;
}

#pre_content {
    position: relative;
	padding-bottom: 100px;
} 

header {
	position: relative;

    #Logo { padding: 13px 0 }

    ul#Menu {
	    padding: 20px 0;
		list-style: none;

		li { 
		    display: inline-block; 
			padding: 10px 20px;

			a { font-size: 16px;color: #57c1ff }
		}
	}

	#login {
		border: 1px solid rgba(0,0,1,.3);		@include border-radius(7px);		@include background-clip(padding-box);		background-color: #156ba8;		@include box-shadow(0 1px 0 rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.2));		@include background-image(linear-gradient(bottom, rgba(0,0,0,.26) 0%, rgba(0,0,0,0) 100%));
		padding: 0;

		& > .button-label {
			color: white;
			padding: 10px 15px;
			cursor: pointer;
		}
		.miniIcon { margin: -2px; display: inline-block }

		#login-patch { 
				padding: 0;
			    background-color: #156ba8;
				width: 100%;
				height: 2px; 
				position: relative;
				bottom: 10px;
				margin-bottom: -2px;
				z-index: 3;
				display: none;
			}

		&.active { 
		    background-image: none;

			#login-patch { 
			    display: block
			}
		}
	}

	#login-form {
	    position: absolute;
		z-index: 2;
		margin: -10px 0 0 -143px;
		display: none;

	    #logon {
		    border: 1px solid rgba(0,0,1,.3);			@include border-radius(7px 0 7px 7px);			@include background-clip(padding-box);			background-color: #156ba8;			@include box-shadow(inset 0 1px 0 rgba(255,255,255,.2));			@include background-image(linear-gradient(bottom, rgba(0,0,0,.26) 0%, rgba(0,0,0,0) 100%));
			padding: 10px;

		    form > div + div { margin-top: 10px }
		}
	}
}

#Main {
    background-color: #f4f4f4;
	padding: 40px 0;
	position: relative
}

.black_line, .white_line { width: 96%; margin: 0 auto; height: 1px;  @include opacity(.1) }
.black_line { background-color: black }
.white_line { background-color: white }

#hello {
    padding: 40px 0;
	color: white;

	.texts { width: 600px; .miniIcon { display: inline-block; margin-right: 10px } }

	#text1, #text2 { font-size: 32px; font-weight: bold; padding: 10px 0 }
	.tesis { padding: 5px 0 }
}

#signup {
	@include border-radius(6px);	@include background-clip(padding-box);	background-color: rgba(16,43,60,.2);
	padding: 10px 12px;

	div + div { margin-top: 10px }
	& > div:first-child { padding: 10px 0; margin-bottom: 10px; margin-left: 5px }

	input[type=submit] { 
	    padding: 20px 60px;
		font-size: 22px;
		font-weight: bold;
		width: 100% 
	}

	input[type=text] {
		padding: 20px;
		width: 87%
	}
}

#presentation {
    text-align: center;
	margin-top: -150px;

    img {
	    margin: 0 auto;
	}
}

#vista {
    width: 100%;

	.Caption {
	    color: #34a1e1;
		font-size: 26px;
		font-weight: bold;
		padding: 10px 0
	}

	.Desc {
		color: #747474;
		margin: 0 auto
	}

	tr.table_top td { padding-top: 30px }
	tr.table_bottom td { padding-bottom: 60px }

	tr.top_text { vertical-align: top; .Desc { max-width: 200px } }

	tr.empty {
	    height: 60px
	}

	table {
	    border: none;
		padding: 0;
		border-collapse: collapse;
	}
	td {
	    border: none;
		padding: 0;
	}

    td > div { 
	    width: 320px; 
		min-height: 20px;
		text-align: center;
		margin: 0 auto;
	}
	.vertical {
		background-color: rgba(155,197,19,.05);
		.Caption { color: #9bc513 }

		&.top_gradient {
		    background-color: #f4f4f4;
			@include background-image(linear-gradient(bottom, rgba(155,197,19,.05) 50%, rgba(155,197,19,0) 100%));
		}

		&.bottom_gradient {
			background-color: #f4f4f4;
		    @include background-image(linear-gradient(bottom, rgba(155,197,19,0) 0%, rgba(155,197,19,.05) 50%));
		}
	}
	.horisontal { 
	    background-color: rgba(0,0,0,.02); 
	}

	.border_top {
	    border-top: 1px solid rgba(0,0,0,0.05)
	}

	.line_tesis { 
	    width: 280px; 
		padding: 20px; 
		font-size: 14px;

		.Icon { margin-right: 20px }
	}

	.line_tesis_right { 
	    width: 280px; 
		padding: 20px; 
		font-size: 14px;

		.Icon { margin-left: 20px }
	}
}

#prefooter {
    background-color: #115b8a
}

#youarebroker {
    margin: 0 auto;
	padding: 40px 0;
	text-align: center;
	h1, h2 { margin: 0 }
    h1 { font-size: 46px }
	h2 { font-size: 36px }
}

#Broker { padding-bottom: 30px }

#broker_form {
	padding: 20px;
	border: 1px dotted rgba(255,255,255, 0.5);
	@include border-radius(7px);
	text-align: center;
	margin: 0 auto;
	width: 700px;
	font-size: 18px;
	color: #65b8ec;

	form > div { margin: 20px 0 }
	form div { display: inline-block }

	input[type=submit] {
	    font-size: 16px;
		font-weight: bold;
		padding: 15px 30px
	}

	.edit_icon {
	    border-bottom: 1px solid #0e354e;
		padding: 5px 2px;
		margin: 0 10px;

		input[type=text] { padding: 0; color: white }

		input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
			color:    #0e354e;
		}
		input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    #0e354e;
		}
		input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    #0e354e;
		}
		input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
			color:    #0e354e;
		}

		&.active {
		    border-bottom: 1px solid white;
			input[type=text] { color: white }
		}
	}
}

footer {
    background-color: #15242e;
	& > div.Content_wrapper { 
	    padding: 40px 0; 
		width: 720px;
		font-size: 14px
	}

	#copyright { float: left }

	#social_buttons {
	    margin: 0 auto;
		height: 50px;
		text-align: center
	}

	#back_to_top {
	    float: right;
	    .miniIcon { display: inline-block; margin-right: 10px }
		color: white;
		&:hover { text-decoration: none }
	}
}