﻿@import "compass";

$bg_page_color: #2f3339;
$bg_menu_color: #575b67;
$bg_menu_option_color_default: #838ca3;
$bg_menu_option_color_hover: #7e8db1;
$bg_menu_option_color_active: #c2fe33;
$bg_under_content: #c7c9cb;
$bg_content_color: #eff1f3;

$text_color_white: white;

$pattern_cross: "bg_pattern_fill_45.png";
$pattern_cross_transparent: "bg_pattern_5.png";
$icon_sprite: "images/Sprite_png.png";

$font_family_main: "Avenir Next LT Pro";
$font_size_regular: 14px;
$font_size_extra_regular: 16px;

$text_main_color: #535353;

$a_color: #4b91b5;
$a_color_active: #316d8c;

$border_color: #b2b2b2;

$menu_width: 250px;

/* COLORS */

.text_main { color: $text_main_color }
.text_green { color: #89b103 }
.text_red { color: #B10303 }
.text_orange { color: #fa9b00 }
.text_blue { color: #4b91b5 }

@mixin border($left, $right, $top, $bottom){
	border-left: $left;
	border-right: $right;
	border-top: $top;
	border-bottom: $bottom;
}

@font-face {
	font-family: $font_family_main;
	src: url("/Content/fonts/AvenirNextLTPro-Regular.otf");
}

.left { float: left }
.right { float: right }
.clear { clear: both }

html, body { height: 100% }
#main { min-height: 100% }

a {
	color: $a_color;
	font-family: $font_family_main;
	font-size: $font_size_regular;
	text-decoration: none;
	cursor: pointer;
	&:hover { text-decoration: underline }
	&:active { color: $a_color_active }
}

ul { margin: 0 }

body {
	color: $text_main_color;
	font-family: $font_family_main;
	font-size: $font_size_extra_regular;
	background-color: $bg_page_color;
	margin: 0;
	padding: 0 0 0 85px;
}

header {
	width: 100%
}

#popup, #alert { display: none; } 

#alert { 
	position: fixed; 
	z-index: 1000;
	
	& > div {
		padding: 20px;
		border: 1px solid $border_color;
		color: #fff;
		text-align: center;

		&.good { background-color: #89b103 }
		&.middle { background-color: #fa9b00 }
		&.bad { background-color: #B10303 }
	}
}

#main, #addit {
	min-height: 100%;
	background-color: $bg_content_color;
	border-left: 5px solid $bg_under_content;
	@include box-shadow(0 0 6px rgba(0,0,1,.8), inset 1px 0 0 $border_color);
	position: relative;
	z-index: 100;
	margin-left: -5px;
}

#addit {
    display: none;
    height: 100%;
	position: fixed;
	right: 0;

	section.head { 
		padding: 20px;
		line-height: 25px; 
		margin-left: 1px;
		background-color: rgba(0,0,0,.05); 
		border-bottom: 3px double rgba(0,0,0,.05);
		@include background-clip(padding-box);

		a + span { margin-left: 20px }
	}

	#addit_content {
		overflow: auto;
		height: 100%;

		& > div { padding: 20px; max-width: 1000px }

		#Registration form { min-width: 500px }
	}
}

#logo {
	position: fixed;
	top: 9px;
	left: 29px;
	margin-left: 7px;

	#project_name { 
		font-size: 14px;
		color: #4B91B5;
		font-weight: bolder;
	}
	#social {
		font-size: 16px;
		color: #FFF;
		text-align: center;
		margin: -5px 0;
	}
	#trading {
		font-size: 13px;
		color: #FFF;
		text-align: center;
	}
}


#menu, #main {
	display: inline-block;
}

#menu {
	width: $menu_width;
	margin-left: -$menu_width;
	overflow: visible;
	position: relative;

	#menu_panel {
	    position: fixed;
		top: 80px;
		left: 20px;
		background-color: $bg_menu_color;
		@include box-shadow(0 0 12px rgba(0,0,1,.4));

		#menu_option_wrapper {
		    $border_options: 1px solid rgba(255,255,255,.1);
			margin-bottom: 5px;
			height: 350px;
			width: $menu_width;
			@include border(none, none, $border_options, $border_options);

			.border_line {
				width: 1px;
				height: 281px;
				background-color: rgba(255,255,255,.1);
				position: absolute;
			}
		
			.menu_option {
				width: $menu_width;
				height: 70px;
				cursor: pointer;
				position: absolute;
				background: image-url($pattern_cross) repeat $bg_menu_option_color_default;
				
				@include border(none, none, $border_options, none);
				@include box-shadow(inset 0 -1px 0 rgba(0,0,1,.15));

				&:hover { 
					background-color: $bg_menu_option_color_hover;
					@include box-shadow(0 2px 3px rgba(0,0,1,0.2), inset 0 -1px 0 #2a2e35);
				}
				&:active { background-color: $bg_menu_option_color_active }

				&#menu_dashboard { top: 70px }
				&#menu_tradestream { top: 140px }
				&#menu_traders { top: 210px }
				&#menu_markets { top: 280px }

				.menu_option_content {
				    height: 100%;
					@include background-image(linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(0,0,0,0) 100%));

					.menu_icon, .menu_name { display: inline-block }

					.menu_icon {
					    position: relative;
						top: 15px;
						margin: 0 10px;
						width: 40px;
						height: 40px;
						@include border-radius(20px);
						@include background-clip(padding-box);
						background-color: rgba(0,0,0,.09);
						@include box-shadow(0 1px 0 rgba(255,255,255,.08), inset 0 1px 0 rgba(0,0,0,.28));
						@include background-image(linear-gradient(bottom, rgba(0,0,0,.08) 0%, rgba(0,0,0,0) 100%));
						
						i { 
							display: block;
							height: inherit;
							width: inherit;
							background-image: image-url("Sprite_icons.svg");
						}

					}
					
					.menu_name {
						color: $text_color_white;
						font-size: 15px;
						margin-left: 5px;
						@include text-shadow(0 1px 1px rgba(0,0,1,.2));
					}
				}
				
				&#menu_logon i { background-position: 0 -120px }
				&#menu_dashboard i { background-position: 0 0 }
				&#menu_tradestream i { background-position: -80px -120px }
				&#menu_traders i { background-position: 0 -80px }
				&#menu_markets i { background-position: 0 -40px }
			}
			
			.first { 
				border-top: none;

				.menu_option_content {
					@include background-image(linear-gradient(100deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.22) 100%));
				}
			}
			.logout { 
				background: image-url($pattern_cross_transparent) repeat #464c5b;
			}
			.login { 
				background: image-url($pattern_cross_transparent) repeat #FFA035;
			 }
		}
	}
}

#sticker { 
	width: 3px;
	height: 69px;
	background-color: #a0dd2f;
	position: fixed;
	margin-left: -3px;
	top: 181px;
	display: none;
}

#main {
	margin-right: -100%;
	width: 100%;
	position: relative;

	& > .content { height: 100% }
}

#markets { height: 100%; padding-left: 1px }

/* CONTANERS */

.header {
	height: 27px;
	overflow: hidden;
	border: 1px solid #cbcdcf;
	@include border-radius(7px);
	@include background-clip(padding-box);
	background-color: #e7e7e9;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));
	@include background-image(linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%));
		
	.caption {
		font-size: 13px;
		padding: 6px 10px;
		font-weight: bold;

		a {
			font-size: 13px;
		}
	}

	a {
		text-decoration: none;
		color: $text_main_color;
	}

	.header_button {
		width: 35px;
		height: 31px;
		cursor: pointer;
		margin: -1px 0;
		text-align: center;
		padding: 5px 0;
		border-left: 1px solid rgba(255,255,255,.5);
		@include box-shadow(inset 1px 0 0 rgba(0,0,0,.1));

		&:hover { background-color: rgba(239,241,243,.6) }

		&:active {
			border-top: 1px solid #c7c7c7;
			border-bottom: 1px solid #c7c7c7;
			background-color: #eff1f3;
			@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5), inset 1px 0 0 rgba(0,0,0,.1));
			@include background-image(linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.05) 100%));
		}
		
		&.enabled {
			right: -1px;
			position: relative;
			background-color: #8bb303;
			@include box-shadow(inset 0 1px 0 rgba(255,255,255,.2));
			@include background-image(linear-gradient(bottom, rgba(171,216,0,0) 0%, rgba(174,217,8,.6) 100%));

			&:hover { background-color: #98C402 }

			i { background-position: -165px -15px }
		}

		&.disabled {
			right: -1px;
			position: relative;
			background-color: #fb9d01;
			@include box-shadow(inset 0 1px 0 rgba(255,255,255,.2));
			@include background-image(linear-gradient(bottom, rgba(254,176,24,0) 0%, rgba(255,180,28,.6) 100%));
			&:hover { background-color: #FFB63D }

			i { background-position: -115px -15px }
		}
	}

	& > .icon { margin: 4px 8px }
	& > .icon + .caption { padding-left: 0 }
}

.contaner {
		border: 1px solid rgba(0,0,1,.1);
		@include border-radius(7px);
		@include background-clip(padding-box);
		background-color: rgba(255,255,255,.15);
		& + * { margin-top: 10px }

		.header {
			width: 100%;
			height: 10px;
			margin: -1px;
			border: 1px solid #cbcdcf;
			@include border-radius(7px 7px 0 0);
			@include background-clip(padding-box);
			background-color: #e7e7e9;
			@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));
			@include background-image(linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%));
		}

		.content {
		    padding: 10px;
		}
}

/* BLOCK */

.block {
	border: 1px solid rgba(0,0,1,.1);
	@include border-radius(7px);
	@include background-clip(padding-box);
	background-color: rgba(255,255,255,.15);

	.header {
		margin: -1px;
		height: 27px;
		@include border-radius(7px 7px 0 0);

		a { 
			font-size: 13px;
			font-weight: normal;
		}
	}

	.content {
		padding: 10px;
	}
}

/* PAGES */

.pages { 
	overflow: hidden; 
	width: 290px;

	.items { 
		width: 20000em; 
		position: relative;

		.sheet { display: inline-block; vertical-align: top; width: 290px }
	}
}


/* TABS */

.notebook_panel {
    
	.notebook,
	.dark_divider,
	.white_divider { margin-left: 1px }

	.dark_divider { background-color: #cecece; height: 1px; position: relative; z-index: 5; top:-2px; }
	.white_divider { background-color: #fff; height: 1px; position: relative; z-index: 5; top: -2px; }

	.notebook {
		height: 60px;
		background-color: #e3e5e7;
		padding-left: 30px;
		overflow: hidden;

		.tab {	   
			position: relative;
			top: 24px;
			z-index: 0;
			display: inline-block;
			padding: 12px 30px;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			color: $text_main_color;
			cursor: pointer;

			border: 1px solid rgba(0,0,1,.15);
			@include border-radius(7px);
			@include background-clip(padding-box);
			background-color: #eeefec;
			@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));
			@include background-image(linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%));

			&.selected {
				z-index: 10;
				border: 1px solid rgba(0,0,1,.1);
				background-color: #eff1f3;
				@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));
				@include background-image(linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.05) 100%));
			}
		}
	}

	.content {
		padding: 30px;
		position: relative;
		z-index: 20;

		.tab_panel {
			width: 100%;
			display: none;

			&.current { display: block }
		}
	}
}

.notebook_wrapper {
	.notebook {
		.tab {
			position: relative;
			z-index: 0;
			display: inline-block;

			text-align: center;
			cursor: pointer;

			border-left: 1px solid #cbcdcf;
			border-top: 1px solid #cbcdcf;
			border-right: 1px solid #cbcdcf;
			@include border-radius(7px 7px 0 0);
			@include background-clip(padding-box);
			background-color: #eff1f3;
			@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));

			&.selected {
				z-index: 10;
				background-color: #f6f7f8;
			}
			
			.caption {
			    padding: 10px 10px 5px;
				font-size: 13px;
				font-weight: bold;
				color: $text_main_color;
			}

		   .cover {
		       width: 100%;
			   height: 3px;
			   position: relative;
			   bottom: -3px;
			   background-color: #f6f7f8;
		   }
		}

		.message {
		    display: inline-block;
			padding: 10px 10px 5px;
			text-align: right;
		}
	}

	.content {
	    overflow: hidden;
		position: relative;
		z-index: 5;
		padding: 15px;
		border: 1px solid #cbcdcf;
		background-color: #f6f7f8;
		@include border-radius(0 7px 7px 7px);
		@include background-clip(padding-box);
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));

		.tab_panel {
			overflow: hidden;
			display: none;

			&.current { display: block }
		}
	}
}

.table_navigation {
	text-align: center;
	margin: 10px auto;
	
	.first, .last, .pagesize { display: none }

	.pagedisplay { 
		text-align: center;
		border: none;
		color: $text_main_color;
		font-weight: bold;
		background-color: rgba(0,0,0,0);
		padding: 0;
		@include box-shadow(none);
	}
}


/* ICONS */

i { 
   display: block; 
   background-image: url($icon_sprite);
   width: 100%;
   height: 100%; 
}

.icon { width: 20px; height: 20px; display: inline-block }

.icon-arrow-up { background-position: -315px -265px; }
.icon-arrow-down { background-position: -415px -265px; }
.icon-trash { background-position: -315px -665px }
.icon-stop { background-position: -265px -315px }
.icon-config { background-position: -65px -315px }
.icon-system { background-position: -115px -315px }
.icon-down { background-position: -65px -15px }
.icon-up { background-position: -15px -15px }
.icon-next { background-position: -15px -65px }
.icon-prev { background-position: -65px -65px }
.icon-follow { background-position: -215px -65px }
.icon-enabled { background-position: -365px -315px }
.icon-disabled {  }
.icon-details { background-position: -465px -465px }
.icon-calendar-dark { background-position: -365px -365px }
.icon-calendar-white { background-position: -415px -365px }
.icon-thunder { background-position: -415px -415px }
.icon-star { background-position: -115px -665px }
.icon-star-white { background-position: -165px -665px }
.icon-people { background-position: -265px -115px }
.icon-instruments { background-position: -215px -615px }
.icon-contest { background-position: -15px -665px }
.icon-trand { background-position: -415px -465px }
.icon-trand2 { background-position: -465px -465px }
.icon-dollar { background-position: -365px -665px }
.icon-shuffle { background-position: -15px -215px }

.howto_icon { background-image: url('images/howto_icons.svg'); width: 30px; height: 30px }
.install_icon { background-position: -270px -30px }



/* TABLE */

.table {
	border-collapse: collapse;
	border-spacing: 0;

	th {
		text-align: left;
		font-size: 13px;
		padding: 0;

		&.date { width: 100px }

		& > span {
			display: block;
			margin: 10px 0;
			padding: 6px 10px;
			height: 15px;
			border: 1px solid rgba(0,0,1,.15);
			background-color: #e7e7e9;
			@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));
			@include background-image(linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%));
			border-right: 1px solid rgba(255, 255, 255, 0.5);

			&.caption {
				border-left: 1px solid rgba(0, 0, 0, 0.1);
			}

			&.border_left {
				@include border-radius(7px 0 0 7px);
			}

			&.border_right {
				@include border-radius(0 7px 7px 0);
				border-right: 1px solid rgba(0,0,1,.15);
			}
		}

		&.first + th > span { border-left: none; }
		&.first > span { border-right: none }
		&.last > span { border-left: none }

		&.sort > span {
			cursor: pointer;

			&:active {
				background-color: #e5e5e5;
				@include background-image(linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.05) 100%));
			}
		}

		i { width: 10px; float: right; margin: -2px 0 0 10px; overflow: hidden; background: none }

		&.headerSortUp i { background-position: -20px -15px; background-image: url($icon_sprite); }
		&.headerSortDown i { background-position: -70px -15px; background-image: url($icon_sprite); }
	}

	td {
		padding: 0 10px;
		font-size: 13px;
		height: 50px;
	}

	tr {  }

	tr.even {
		
		td {
			background-color: #e7e7e9;
		}

		td.border_left {
			background-color: transparent;
			padding: 0;

		    & > div {
				height: 50px;
				display: table-cell;
				vertical-align: middle;
				padding: 0 10px;
				@include border-radius(6px 0 0 6px);
				@include background-clip(padding-box);
				background-color: #e7e7e9;
			}
		}

		td.border_right {
			background-color: transparent;
			padding: 0;

		    & > div {
				
				@include border-radius(0 6px 6px 0);
				@include background-clip(padding-box);
				background-color: #e7e7e9;

				& > div {
					height: 50px;
					display: table-cell;
					vertical-align: middle;
					padding: 0 10px;
				}
			}
		}	
   }
}

.table_pager {
	& > div { display: inline-block }
}

.nodata { text-align: center }

/* MISC */

.time { 
	font-size: 12px; 
	color: #818181; 
	font-style: italic; 
	padding: 5px; 
}

.trader_photo {
	img { width: 32px; height: 32px }
}

/* SYSTEM DETAILS */

#SystemDetails {
	.system_info {
	    margin: 30px 0;

		.trader_name { margin: 5px 15px }
		.description { font-size: 13px; font-style: italic; padding: 0 200px }
		.trade_details { font-size: 13px }
	}

	.graph_buttons {
		padding: 5px 0;
		text-align: right;
		font-size: 13px;

		span {
			cursor: pointer;
			color: $a_color;
		}
	}

	#statistic { 
		margin: 10px 0;

		table > tbody > tr > td > table td {
		    font-size: 14px;
			padding: 3px;
		}

		table > tbody > tr > td + * { padding-left: 30px }
	}

	.tab_panel {
	    height: 610px;

		.table_navigation { 
		    position: absolute;
			bottom: 10px;
			width: 100%;
		}

		table { width: 100% }
	}
}

/* FORMS */

form {
    table {

	    margin: 20px 0;

	    td {
		    margin: 10px 0;
			padding: 10px;
			color: $text_main_color;
			font-size: 14px;
			vertical-align: top;

			&.editor-label { 
			    font-weight: bold;
				min-width: 150px;
			}

			&.editor-field {
			    text-align: left;

				& > input[type="text"],
				& > input[type="password"],
				& > textarea { margin-top: -10px }
				&.numeric > input[type="text"] { width: 40px; text-align: center }
				& > .unlimited { height: 30px }
			}
		}

		td:first-child { text-align: right }
		td.td_left { text-align: left }
	}

	.field-validation-error {
	    padding: 5px;
		font-size: 13px;
		color: #B10303;
	}

	div.editor-label,
	div.editor-field { padding: 5px; text-align: center }
	div.editor-label + div.editor-field { padding-top: 0 }

	p.submit { text-align: center }
}

/* FOLLOW */

.tariffTable { 
	label { font-weight: bold } 
	.options {
	     vertical-align: bottom;
		 span { margin: 0 10px }
	 }
}

/* CONTROLS */
/* text */

input[type="text"],
input[type="password"],
textarea {
	border: 1px solid rgba(255,255,255,.5);
	@include border-radius(7px);
	@include background-clip(padding-box);
	background-color: #e6e8eb;
	@include box-shadow(inset 0 1px 3px rgba(0,0,0,.1));

	padding: 10px;
	color: #767676;
	font-style: italic;
	font-weight: bold;
}

input, textarea {
    outline: none;
}
input:active, textarea:active {
    outline: none;
}
:focus {
    outline: none;
}

input[type="text"][disabled],
input[type="password"][disabled] { background-color: #c5c5c5 }

/* buttons */

button, 
input[type="button"],
input[type="submit"] {
	color: #767676; 
	padding: 8px 30px;
	font-size: 14px;
	cursor: pointer;
	border: 1px solid rgba(0,0,1,.15);
	@include border-radius(7px);
	@include background-clip(padding-box);
	background-color: #eeefec;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));
	@include background-image(linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%));

	&:hover {
		background-color: #fff;
	}

	&:active {
		background-color: #fff;
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,.3));
		@include background-image(linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.15) 100%));
	}

	&[disabled] { 
		color: #AAA;
		cursor: default;
		@include background-clip(padding-box);
		background-color: #eeefec;
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));
		@include background-image(none);
	}
}

.green_button {
	color: #FFF;
	padding: 1px 5px;
	text-align: center;
	font-size: 12px;
	border: 1px solid #89b103;
	@include border-radius(3px);
	@include background-clip(padding-box);
	background-color: #abd900;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,.3));
	@include background-image(linear-gradient(bottom, #89b103 0%, #abd900 100%));

	&:hover {
		border: 1px solid #7eb900;
		background-color: #c1f400;
		@include background-image(linear-gradient(bottom, #83c700 0%, #9cde00 100%));
	}

	&:active {
		border: 1px solid #7eb900;
		background-color: #c1f400;
		@include box-shadow(inset 0 1px 0 rgba(0,0,0,.05));
		@include background-image(linear-gradient(bottom, #9cde00 0%, #83c700 100%));
	}
}

.next, .prev {
	width: 20px;
	height: 20px;
	position: relative;
	bottom: -5px;
	border: 1px solid rgba(0,0,1,.15);
	@include border-radius(3px);
	@include background-clip(padding-box);
	background-color: #eeefec;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));
	@include background-image(linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%));
}

.next:hover, .prev:hover {
	border: 1px solid rgba(0,0,1,.15);
	@include border-radius(3px);
	@include background-clip(padding-box);
	background-color: #fff;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));
	@include background-image(linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%));
}

.next:active, .prev:active {
	border: 1px solid rgba(0,0,1,.15);
	@include border-radius(3px);
	@include background-clip(padding-box);
	background-color: #fff;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,.3));
	@include background-image(linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.15) 100%));
}

/* checkbox and radio */

input[type="checkbox"],
input[type="radio"] {
    display:none;            
}
input[type="checkbox"] + label, 
input[type="radio"] + label {
  cursor: pointer;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 22px;
    width: 20px;
    margin: 0 5px -5px 0;
    background-image: url($icon_sprite);
    background-repeat: no-repeat
}
input[type="checkbox"] + label::before {
    background-position: -215px -65px    
}
input[type="checkbox"] + label:hover::before {
    background-position: -265px -65px    
}
input[type="checkbox"]:checked + label::before {
    background-position: -365px -65px
}
input[type="checkbox"]:checked + label:hover::before {
    background-position: -415px -65px
}
input[type="checkbox"]:disabled + label::before {
	background-position: -315px -65px
}
input[type="checkbox"]:checked:disabled + label::before {
    background-position: -465px -65px
}

input[type="radio"] + label::before {
    background-position: -215px -15px
}
input[type="radio"] + label:hover::before {
    background-position: -265px -15px
}
input[type="radio"]:checked + label::before {
    background-position: -365px -15px
}
input[type="radio"]:checked + label:hover::before {
    background-position: -415px -15px
}
input[type="radio"]:disabled + label::before {
    background-position: -315px -15px
}
input[type="radio"]:checked:disabled + label::before {
    background-position: -465px -15px
}


#approval { width: 455px; margin: 100px }


/* DARKBOX */

.darkbox {
	position: absolute;
	display: none;
	background-color: rgba(0,0,0,.2);
	@include border-radius(7px);

	.darkbox_loading {
		background: url('images/ajax-loader.gif') no-repeat;
		position: relative;
		top: 50%;
		width: 32px;
		height: 32px;
		margin: -16px auto 0 auto
	}
}